@forward 'settings';

@use 'usa-accordion/src/styles/usa-accordion';

@import '../../mixins/focusable.css';


/**
  Custom classes and overrides to add in subheader and icon functionality
*/
.va-accordion__header, .va-accordion__subheader {
  display: block;
}

.va-accordion__header ::slotted([slot=icon]), .va-accordion__subheader ::slotted([slot=subheader-icon]){
  margin-right: 15px;
  width: inherit;
}

.va-accordion__subheader {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 2px;
}

/**
  Extend .usa-prose for max-width p tag in slot
*/
.usa-prose > ::slotted(p) {
  line-height: 1.5;
  max-width: 64ex;
}

/** Original Component Style **/

:host {
  display: block;
}

:host(:not(:last-child)) {
  margin-bottom: 0.8rem;
}

:host(:last-child) {
  margin-bottom: 0.5rem;
}

:host(:not([open])) #content,
:host([open='false']) #content {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  width: 100%;
  border: 0;
  text-align: left;
  font-family: var(--font-source-sans);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  padding: 1.5rem 5.5rem 1.5rem 2rem;
  background-color: var(--vads-color-base-lightest);
  background-image: url('../../assets/minus.svg');
  background-position: right 2rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  display: block;
  /* This color assignment is for IE11 compatibility - the one in */
  /* the va-accordion's CSS with `:host` doesn't work well */
  color: var(--vads-color-base-darker);
}

button:not(.usa-accordion__button):hover {
  background-color: var(--vads-color-base-lighter);
  /* This color assignment is for IE11 compatibility - the one in */
  /* the va-accordion's CSS with `:host` doesn't work well */
  color: var(--vads-color-base-darker);
}

#content:not(.usa-accordion__content) {
  background-color: var(--vads-color-white);
  overflow: auto;
  padding: 1.5rem 2rem;
  border-left: var(--item-border);
  border-right: var(--item-border);
  border-bottom: var(--item-border);
  overflow-wrap: break-word;
}

button[aria-expanded='false']:not(.usa-accordion__button) {
  background-image: url('../../assets/plus.svg');
}

.header-text{
  display: flex;
}

p.subheader {
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-top: 0.25rem;
  display: flex;
}

/* Hiding since element would be duplicated via the Shadow DOM */
::slotted([slot='headline']) {
  display: none;
}

::slotted([slot='icon']),
::slotted([slot='subheader-icon']){
  width: 1rem;
  margin-right: 1.5rem;
}

::slotted([slot='subheader-icon']) {
  margin-top: 0.5rem;
}
