@forward 'settings';

@use 'usa-accordion/src/styles/usa-accordion';

@import '../../mixins/focusable.css';

.expand-collapse-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  .va-accordion__button::part(button) {
    padding: 12px 8px;
    margin: 0 0 4px 0;
  }
}

button.va-accordion__button {
  border: none;
  color: var(--vads-color-link);
  background: transparent;
  padding: 0.625rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

@media print {
  button.va-accordion__button {
    display: none;
  }
}
