@forward 'settings';

@use 'usa-accordion/src/styles/usa-accordion';

@import '../../mixins/focusable.css';


/**
  Custom classes and overrides to add in subheader and icon functionality
*/
.va-accordion__header, .va-accordion__subheader {
  display: block;
}

.va-accordion__header ::slotted([slot=icon]), .va-accordion__subheader ::slotted([slot=subheader-icon]){
  margin-right: 15px;
  width: inherit;
  vertical-align: text-top;
}

.va-accordion__subheader {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 2px;
}

/**
  Extend .usa-prose for max-width p tag in slot
*/
.usa-prose > ::slotted(p) {
  line-height: 1.5;
  max-width: 64ex;
}

/* overrides hidden attribute on #content */
@media print {
  :host(:not([open])) #content,
  :host([open='false']) #content {
    display: block;
  }
}

:host {
  display: block;
}

:host(:not(:last-child)) {
  margin-bottom: 0.5rem;
}

:host(:last-child) {
  margin-bottom: 0.3125rem;
}

:host(:not([open])) #content,
:host([open='false']) #content {
  display: none;
}

button {
  font-family: var(--font-source-sans);
  font-size: 1.06rem;
  line-height: 1.15;
}

/* Hiding since element would be duplicated via the Shadow DOM */
::slotted([slot='headline']) {
  display: none;
}

::slotted([slot='icon']),
::slotted([slot='subheader-icon']){
  width: .625rem;
  margin-right: .938rem;
}

::slotted([slot='subheader-icon']) {
  margin-top: 0.2rem;
}
