:host {
  display: block;
  width: 100%;
  color: var(--color-gray-dark);
  --item-border: none; /* This is to overwrite any previous inherited value */
  text-align: right;
}

/* If `bordered` is present and if it is *not* false */
:host([bordered='true']),
:host([bordered='']) {
  --item-border: 3px solid var(--color-gray-lightest);
}

button {
  border: none;
  color: var(--color-link-default);
  background: transparent;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
}
