@forward 'settings';

@use 'usa-accordion/src/styles/usa-accordion';

@use '../../mixins/focusable.css';

.expand-collapse-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  li:first-child::after {
    // empty second value prevents pseudo-element from being read by screen readers
    content: '|' / '';
    font-size: 0.875rem;
  }
}

button.va-accordion__button {
  border: none;
  color: var(--vads-color-link);
  background: transparent;
  padding: 0.625rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

@media print {
  button.va-accordion__button {
    display: none;
  }
}
