@forward 'settings';

@use 'usa-accordion/src/styles/usa-accordion';

@import '../../global/formation_overrides';


@import '../../mixins/focusable.css';

/** Original Component Style **/

:host(:not([uswds="true"],[uswds=""])) {
  display: block;
  width: 100%;
  color: var(--vads-color-base-darker);
  --item-border: none; /* This is to overwrite any previous inherited value */
}

/* If `bordered` is present and if it is *not* false */
:host([bordered='true']:not([uswds="true"],[uswds=""])),
:host([bordered='']:not([uswds="true"],[uswds=""])) {
  --item-border: 3px solid var(--vads-color-base-lightest);
}

button.va-accordion__button {
  border: none;
  color: var(--vads-color-link);
  background: transparent;
  padding: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  float: right;
}
