@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-accordion/src/styles/usa-accordion';

@use '../../mixins/focusable.css';

:host {
  display: block;
}

:host(:not(:last-child)) {
  margin-bottom: 0.5rem;
}

:host(:last-child) {
  margin-bottom: 0.3125rem;
}

button {
  font: inherit;
  line-height: 1.15;
}

// !important needed to override global styles that take precedence over slotted
// styles
::slotted([slot='headline']) {
  font-size: var(--vads-font-size-source-sans-normalized) !important;
  line-height: var(--vads-font-line-height-2) !important;
  margin: 0px !important;
  font-family: var(--font-source-sans) !important;
}

::slotted([slot='icon']),
::slotted([slot='subheader-icon']){
  width: .625rem;
  margin-right: .938rem;
}

/**
  Custom classes and overrides to add in subheader and icon functionality
*/
.va-accordion__header,
.va-accordion__subheader {
  display: flex;
  align-items: center;
}

.va-accordion__subheader {
  font-weight: 400;
  font-size: 1rem;
  line-height: var(--vads-font-line-height-5);
  margin-top: 2px;
}

.va-accordion__header.va-accordion__header--has-icon {
  padding-top: 2px;
  line-height: inherit;
}

.va-accordion__subheader.va-accordion__subheader--has-icon {
  margin-top: calc(0.2rem + 2px);
  padding-bottom: 0.2rem;
  line-height: 1.219;
}

.va-accordion__header ::slotted([slot=icon]),
.va-accordion__subheader ::slotted([slot=subheader-icon]){
  margin-right: var(--units-2);
  width: inherit;
}

.va-accordion__header ::slotted([slot=icon]) {
  line-height: 0;
}

/**
  Extend .usa-prose for max-width p tag in slot
*/
.usa-prose > ::slotted(p) {
  line-height: 1.5;
  max-width: 64ex;
}

:host(:not([open])) #content,
:host([open='false']) #content {
  display: none;
}

/* overrides hidden attribute on #content */
@media print {
  :host(:not([open])) #content,
  :host([open='false']) #content {
    display: block;
  }
}
