:host {
  display: flex;
}

:host va-button::part(button) {
  width: 130px;
}

:host va-button + va-button::part(button) {
  margin-left: 12px;
  margin-right: 0;
}

@media (max-width: 320px) {
  :host {
    margin: 0 auto;
    width: 280px;
  }
}

@media (max-width: 481px) {
  :host {
    margin: 0 auto;
    width: 441px;
  }

  :host va-button::part(button) {
    width: 210px;
  }
}
