@forward 'settings';

@use 'usa-button-group/src/styles/usa-button-group';
@import '../../mixins/focusable.css';

:host {
  display: flex;
  flex-direction: column;
}

:host va-button::part(button){
  margin-right: 0;
}

@media (max-width: 480px) {
  :host va-button {
    display: block;
  }
  .usa-button-group {
    margin: 0 auto;
    width: 100%;
  }
}
