@forward 'settings';

@use 'usa-button-group/src/styles/usa-button-group';

:host {
  display: flex;
  flex-direction: column;
}

:host([uswds]:not([uswds='false'])) va-button::part(button){
  margin-right: 0;
}

@media (max-width: 480px) {
  :host([uswds]:not([uswds='false'])) va-button {
    display: block;
  }
  .usa-button-group {
    margin: 0 auto;
    width: 100%;
  }
}

/* Original Component Styles. */

:host(:not([uswds="true"],[uswds=""])) va-button {
  flex: 1 1 auto;
}

:host(:not([uswds="true"],[uswds=""])) {
  max-width: 560px;
}

:host(:not([uswds="true"],[uswds=""])) va-button::part(button) {
  max-width: 280px;
  width: 100%;
}

@media (min-width: 481px) {
  :host([continue]:not([continue='false']):not([uswds="true"],[uswds=""])) {
    flex-direction: row;
  }

  :host([continue]:not([continue='false']):not([uswds="true"],[uswds=""])) va-button + va-button::part(button) {
    margin-left: 12px;
    margin-right: 0;
  }
}

@media (min-width: 481px) {
  :host(:not([uswds="true"],[uswds=""])) {
    flex-direction: row;
    max-width: 420px;
  }

  :host(:not([uswds="true"],[uswds=""])) va-button + va-button::part(button) {
    margin-left: 12px;
    margin-right: 0;
  }

  :host(:not([uswds="true"],[uswds=""])) va-button::part(button) {
    max-width: 210px;
  }
}

@media (max-width: 481px) {
  :host(:not([uswds="true"],[uswds=""])) {
    width: 100%;
  }

  :host([continue]:not([continue='false']):not([uswds="true"],[uswds=""])) va-button::part(button) {
    max-width: 280px;
  }
}

@media (max-width: 320px) {
  :host(:not([uswds="true"],[uswds=""])) {
    margin: 0 auto;
    max-width: 280px;
  }

  :host([continue]:not([continue='false']):not([uswds="true"],[uswds=""])) va-button::part(button) {
    max-width: 280px;
  }
}
