@forward 'settings';
@use '../../mixins/uswds-error-border.scss' as *;
@use 'usa-button-group/src/styles/usa-button-group';

:host {
  display: flex;
  flex-direction: column;
}

:host va-button::part(button){
  margin-right: 0;
}

@media (max-width: $mobile-lg) {
  :host va-button {
    display: block;
  }
  .usa-button-group {
    margin: 0 auto;
    width: 100%;
  }
}
