@import "~@department-of-veterans-affairs/css-library/dist/uswds-typography.css";
@import '../../mixins/buttons.css';

.maintenance-banner {
  border-top: 8px solid;
  background-color: var(--vads-color-base-lightest);
  position: relative;
  display: flex;
  flex-direction: row;
}

.maintenance-banner {
  &__content{
    font-size: 1.06rem;
  }
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

.maintenance-banner--warning {
  border-color: var(--vads-color-warning);
}

.maintenance-banner--error {
  border-color: var(--vads-color-secondary-dark);
}

.maintenance-banner__icon {
  position: absolute;
  top: 18px;
  left: 18px;
}

.maintenance-banner--error .maintenance-banner__icon {
  color: var(--vads-color-secondary-dark);
}

.maintenance-banner__title {
  font-family: var(--font-serif);
  margin: 0 0 8px;
  font-size: 20px;
}

.maintenance-banner__body {
  padding: 16px 56px;
  position: relative;
  max-width: 1000px;
  margin: 0px auto;
}

.maintenance-banner__close {
  align-self: flex-start;
  color: var(--vads-color-base);
  margin-top: 8px;
}

.maintenance-banner__close:hover {
  color: var(--vads-color-base);
}
