@import '../../../src/mixins/accessibility.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
  margin-top: 3rem;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
}

span.required {
  color: var(--color-secondary-dark);
}

:host([error]:not([error=''])),
:host([invalid]) {
  border-left: 4px solid var(--color-secondary-dark);
  margin-top: 3rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  position: relative;
  right: 1.9rem;
}

:host([error]:not([error=''])) label,
:host([error]:not([error=''])) span,
:host([invalid]) label,
:host([invalid]) span {
  font-weight: 700;
}

:host([error]:not([error=''])) va-select::part(select),
:host([error]:not([error=''])) va-text-input::part(input),
:host([invalid]) va-select::part(select),
:host([invalid]) va-text-input::part(input) {
  border: 2px solid var(--color-secondary-dark);
}

.error-message {
  color: var(--color-secondary-dark);
  display: block;
}

.date-container {
  display: flex;
}

.select-month {
  width: 13rem;
  margin-right: 1.5rem;
}

.select-day {
  width: 8rem;
  margin-right: 1.5rem;
}

.input-year {
  width: 8rem;
}

va-select::part(label),
va-text-input::part(label) {
  margin-top: 0;
}
