@import '../../../src/mixins/accessibility.css';
@import '../../mixins/form-field-error.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
  margin-top: 3rem;
  color: var(--color-gray);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0 0 0.8rem 0;
  color: var(--color-base);
}

span.required {
  color: var(--color-secondary-dark);
}

:host([error]:not([error=''])) legend {
  font-weight: 700;
}

:host([error]:not([error=''])) va-select::part(select),
:host([error]:not([error=''])) va-text-input::part(input) {
  border: 4px solid var(--color-secondary-dark);
}

#error-message {
  color: var(--color-secondary-dark);
  display: block;
}

:host([error]:not([error=''])) #error-message {
  padding-top: 0.8rem;
}

.date-container {
  display: flex;
  color: var(--color-base);
  padding-top: 0.8rem;
}

:host([error]:not([error=''])) .date-container {
  padding-top: 0;
}

.select-month {
  width: 13rem;
  margin-right: 1.5rem;
}

.select-day {
  width: 8rem;
  margin-right: 1.5rem;
}

.input-year {
  width: 8rem;
}

va-select::part(label),
va-text-input::part(label) {
  margin-top: 0;
}

va-text-input::part(validation) {
  display: none;
}
