@use 'usa-form/src/styles/usa-form';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-error-message/src/styles/usa-error-message';

@import '../../../src/mixins/accessibility.css';
@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/form-field-error.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
  margin-top: var(--units-3);
}

#error-message {
  margin-bottom: 0;
}


legend,
va-select,
va-text-input {
  font-size: var(--vads-font-size-source-sans-normalized);
}

.date-container {
  column-gap: var(--units-2);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--units-2);
  row-gap: var(--units-1p5);
}

:host([error]:not([error=''])) .date-container {
  padding-top: 0;
}

.select-month {
  width: 16ch;
}

.select-day {
  width: 12ch;
}

.input-year {
  width: 10ch;
}

va-select::part(label),
va-text-input::part(label) {
  margin-top: 0;
  margin-bottom: var(--units-1p5);
}

va-text-input::part(validation) {
  display: none;
}
