@forward 'settings';
@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'uswds-utilities/src/styles/utility-fonts.scss';

:host :not(h3) {
  font-size: var(--vads-font-size-source-sans-normalized);
}

:host h3 {
  font-family: var(--font-serif);
  margin: var(--units-3) 0;
}

:host > p {
  margin: var(--units-3);
}

@media screen and (max-width: $small-screen) {
  :host .short-line {
    text-wrap: pretty;
  }
}

:host va-text-input {
  margin-bottom: var(--units-3);
}

:host article {
  background-color: var(--vads-color-base-lightest);
  padding: 1px var(--units-3) var(--units-3) var(--units-3);
  margin-bottom: var(--units-3);
}

va-checkbox::part(checkbox) {
  max-width: 100%;
}

a {
  color: var(--vads-color-link);
}
