@forward 'settings';
@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'uswds-utilities/src/styles/utility-fonts.scss';
@import '~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables.scss';

:host :not(h3) {
  font-size: 1.06 * $v3-font-base-size;
}

:host h3 {
  font-family: var(--font-serif);
  margin: 24px 0;
}

:host > p {
  margin: 24px;
}

:host va-text-input {
  margin-bottom: 24px;
}

:host article {
  background-color: var(--vads-color-base-lightest);
  padding: 1px 24px 24px 24px;
  margin-bottom: 24px;
}

va-checkbox::part(checkbox) {
  max-width: 100%;
}

a {
  color: var(--vads-color-link);
}

.privacy-policy-icon {
  vertical-align: text-top;
}