:host div {
  display: inline-block;
  font-size: 1.2em;
  div.inner-div {
    border-right: 1px solid var(--vads-color-base-light);
    padding-right: 8px;
    margin-right: 8px;
  }
  a.is-current-lang {
    font-weight: var(--font-weight-bold);
    color: var(--vads-color-black);
    text-decoration: none;
    &:focus {
      outline: 2px solid var(--vads-color-action-focus-on-light);
      outline-offset: 2px;
    }
  }
  va-link {
    &::part(anchor) {
      text-decoration: none;
    }
    color: var(--vads-color-link);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--vads-color-link);
  }
}
