:host {
  font-size: 1rem;

  div {
    display: inline-block;

    div.inner-div {
      border-right: 1px solid var(--vads-color-base-light);
      padding-right: var(--units-1);
      margin-right: var(--units-1);
    }

    a.is-current-lang {
      font-weight: var(--font-weight-bold);
      color: var(--vads-color-black);
      text-decoration: none;
      padding-top: var(--units-1p5);
      padding-bottom: var(--units-2);

      &:focus {
        outline: 2px solid var(--vads-color-action-focus-on-light);
        outline-offset: 2px;
      }
    }

    va-link {
      &::part(anchor) {
        text-decoration: none;
        padding-top: var(--units-1p5);
        padding-bottom: var(--units-2);
      }

      color: var(--vads-color-link);
      padding-bottom: 2px;
      border-bottom: 1px solid var(--vads-color-link);
    }
  }
}
