@forward 'settings';
@use 'usa-alert/src/styles/usa-alert';
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";

:host {
  display: block;
  position: relative;
}

// Overriding USWDS' default icons
.usa-alert--info .usa-alert__body::before, .usa-alert--warning .usa-alert__body::before {
  mask: none;
  background: transparent;
}

.va-alert-sign-in__lock-icon {
  position: absolute;
  top: 12px;
  left: 24px;
}

@media screen and (max-width: 64em) {
  .va-alert-sign-in__lock-icon {
    left: 12px;
  }
}

:host .headline {
  font-size: 21.28px; /* 1.33rem */
  margin-top: 0;
  margin-bottom: 8px; /* 0.5rem */
  font-family: var(--font-serif);
}

:host ul {
  padding-inline-start: 1.2em;
}