@forward 'settings';

@use 'usa-step-indicator/src/styles/usa-step-indicator';
@use 'uswds-helpers/src/styles/usa-sr-only';
@import '../../mixins/accessibility.css';
@import '../../mixins/focusable.css';


*, ::after, ::before {
  box-sizing: border-box;
}

:host {
  display: block;
}

:host .usa-step-indicator__heading {
  display: flex;
}

:host .usa-step-indicator__heading-counter {
  flex-shrink: 0;
}

:host .usa-step-indicator__heading-text {
  text-wrap: wrap;
  padding-top: calc(-1.1ex + 1.25rem);
}
