@import '../../mixins/links.css';

:host {
  display: inline;
}

:host a {
  cursor: pointer;
  text-decoration: underline;
}

:host a.va-link--reverse {
  color: var(--vads-color-white);

  &:hover, &:active {
    color: var(--vads-color-action-focus-on-light);
    background-color: transparent;
  }
}

:host([active]:not([active='false'])) a {
  font-weight: 700;
}

.link-icon--left {
  margin-right: 8px;
  vertical-align: baseline;
}

dfn {
  font-style: normal;
}

abbr {
  text-decoration: none;
}
