.container {
  padding: 10px;
}

.filter {
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid var(--vads-color-base);
}

.icon__label {
  margin-top: 0.5rem;
  font-size: .875rem;
}
