.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid lightgray
}

.storybook-background-color-orange {
  background-color: #db7533;
}