.DS_Store
.idea
*.code-workspace
*.log
tmp/
.vscode

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
packages/storybook/storybook-static/

# Allow weekly report files to be tracked
!packages/design-system-dashboard-cli/output/*.csv
!packages/design-system-dashboard-cli/output/-*.txt
