$formation-asset-path: '~@department-of-veterans-affairs/formation/assets';

@import '@department-of-veterans-affairs/formation/sass/base/_b-mixins.scss';
@import '@department-of-veterans-affairs/formation/sass/base/_b-variables.scss';
@import '@department-of-veterans-affairs/formation/sass/base/_b-breakpoints.scss';
@import '@department-of-veterans-affairs/formation/sass/site/_m-crisis-line.scss';

// Remove Negative Margin via Default Storybook CSS
// This is causing the show code button to overlap with components
// Height Auto fixes Firefox Bug with height being set to a fixed 70px value
.docs-story {
  &>div {
    margin: 0;

    &>div {
      height: auto;
    }
  }
}

a.sbdocs-a {
  color: var(--color-link-default);
  font-size: 1.6rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: color, background-color, border-color;
}

a.sbdocs-a,
a.sbdocs-a:hover {
  text-decoration: underline;
}

.resize-y {
  resize: vertical;
}

/** Global styles for USWDS 3 integration into Storybook **/
.usa-label {
  font-size: 15px !important;
}

button {
  padding: 10px 20px !important;
}


.my-custom-class-example::part(accordion-header) {
  font-weight: 400;
  font-style: italic;
}