:host {
  display: block;
  border: 1px solid var(--color-gray-medium);
  background-color: var(--color-white);
  padding: 16px;
}

:host([show-shadow='true']) {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.32);
}