@import 'uswds-core/src/styles/mixins/typography/typeset';

:host {
  @include typeset('ui');
  display: block;
  position: relative;
  border: 1px solid var(--vads-color-gray-medium);
  background-color: var(--vads-color-white);
  padding: var(--vads-spacing-2);
}

:host([show-shadow]:not([show-shadow='false'])),
// Do not allow a gray background when show-shadow is true
:host([show-shadow]:not([show-shadow='false'])[background]:not([background='false'])) {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.32);
  border: 1px solid var(--vads-color-gray-medium);
  background-color: var(--vads-color-white);
}

:host([background]:not([background='false'])) {
  background-color: var(--vads-color-base-lightest);
  border: none;
}

.va-card__icon-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.va-card__icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--vads-color-primary-darker);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.va-card__icon-circle va-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vads-color-white);
}

:host([icon-name]:not([icon-name=''])) {
  padding-top: var(--vads-spacing-4);
  margin-top: 28px;
}
