// This is a copy of the entire ~uswds/src/stylesheets/elements/buttons.scss file
// so that we can convert the rem values for USWDS v3.

/*
  Original: @import "~uswds/src/stylesheets/elements/buttons";
  ***THIS IS USWDS v1***
*/

@import '../../override-function';

// Buttons variables

$button-stroke: inset 0 0 0 2px;
$button-border-radius: 5px;

// Buttons

// This mixin is only needed until we fully remove the
// deprecated usa-button-disabled style.
@mixin disabledesque {
  background-color: $vads-color-base-lighter;
  pointer-events: none;

  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus,
  &.usa-focus {
    background-color: $vads-color-base-lighter;
    border: 0;
    box-shadow: none;
  }
}

/* stylelint-disable selector-no-qualifying-type */
.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {
  @include font-smoothing;
  @include margin(scale-rem(0.5em) scale-rem(0.5em) scale-rem(0.5em) null);
  appearance: none;
  background-color: $vads-color-link;
  border: 0;
  border-radius: $button-border-radius;
  color: $vads-color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-sans;
  font-size: 16px;
  font-weight: $font-weight-bold;
  line-height: 1;
  padding: scale-rule(1rem 2rem);
  text-align: center;
  text-decoration: none;
  width: 100%;

  @include media($small-screen) {
    width: auto;
  }

  &:hover,
  &.usa-button-hover {
    background-color: $vads-color-primary-dark;
    border-bottom: 0;
    color: $vads-color-white;
    text-decoration: none;
  }

  &:active,
  &.usa-button-active {
    background-color: $vads-color-primary-darker;
  }

  &.usa-button-primary-alt {
    background-color: $color-primary-alt;
    color: $color-base;

    &:hover,
    &.usa-button-hover {
      background-color: $color-primary-alt-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-primary-alt-darkest;
      color: $vads-color-white;
    }
  }

  &.usa-button-secondary {
    background-color: $vads-color-white;
    box-shadow: $button-stroke $vads-color-link;
    color: $vads-color-link;

    &:hover,
    &.usa-button-hover {
      box-shadow: $button-stroke $vads-color-primary-dark;
      color: $vads-color-primary-dark;
    }

    &:active,
    &.usa-button-active {
      box-shadow: $button-stroke $vads-color-primary-darker;
      color: $vads-color-primary-darker;
    }
  }

  &.usa-button-secondary-inverse,
  &.usa-button-outline-inverse {    // Outline inverse to be deprecated in 2.0
    background: transparent;
    box-shadow: $button-stroke $vads-color-white;
    color: $vads-color-white;

    &:hover,
    &.usa-button-hover {
      box-shadow: $button-stroke $vads-color-base-lighter;
      color: $vads-color-base-lighter;
    }

    &:active,
    &.usa-button-active {
      box-shadow: $button-stroke $color-gray-light;
      color: $vads-color-base-lighter;
    }
  }

  &.usa-button-gray {
    background-color: $color-gray;

    &:hover,
    &.usa-button-hover {
      background-color: $color-gray-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-base;
    }
  }

  &.usa-button-red {
    background-color: $color-secondary;

    &:hover,
    &.usa-button-hover {
      background-color: $color-secondary-dark;
    }

    &:active,
    &.usa-button-active {
      background-color: $color-secondary-darkest;
    }
  }

  &.usa-button-big {
    border-radius: 8px;
    font-size: scale-rem(2.4rem);
    padding: scale-rule(1.5rem 3rem);
  }

  &:disabled {
    @include disabledesque;
  }
}
/* stylelint-disable */

.usa-button-disabled  // Deprecated
{
  @include disabledesque
}

.usa-button-secondary-disabled,          // Deprecated
.usa-button-secondary-inverse-disabled,  // Deprecated
.usa-button-secondary:disabled,
.usa-button-secondary-inverse:disabled,
.usa-button-outline-inverse:disabled {   // Outline inverse to be deprecated in 2.0
  box-shadow: $button-stroke $vads-color-base-lighter;
  pointer-events: none;
  color: $vads-color-base-lighter;

  &:hover,
  &.usa-button-hover,
  &:active,
  &.usa-button-active,
  &:focus,
  &.usa-focus {
    background-color: $vads-color-white;
    border: 0;
  }
}

html .usa-button-secondary-disabled,          // Deprecated
.usa-button-secondary:disabled {
  background-color: $vads-color-white;
}

html .usa-button-secondary-inverse-disabled,  // Deprecated
.usa-button-secondary-inverse:disabled {
  background-color: transparent;
  color: $color-gray;
  box-shadow: $button-stroke $color-gray;
}

@mixin button-unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;

  &:hover {
    background-color: transparent;
  }
}

.usa-button-unstyled {
  @include button-unstyled;
}
