// This is a copy of the entire ~uswds/src/stylesheets/elements/labels.scss file
// so that we can convert the rem values for USWDS v3.

/*
  Original: @import "~uswds/src/stylesheets/elements/labels";
  ***THIS IS USWDS v1***
*/

@use '../../override-function' as *;
@use "../../../../dist/tokens/scss/variables" as *;

.usa-label {
    background-color: $vads-color-base-dark;
    border-radius: $label-border-radius;
    color: $vads-color-white;
    font-size: $h5-font-size;
    margin-right: scale-rem(0.5rem);
    padding: scale-rule(0.1rem 0.7rem);
    text-transform: uppercase;
  
    &:only-of-type {
      margin-right: 0;
    }
  }
  
  .usa-label-big {
    @extend .usa-label;
    font-size: $base-font-size;
    padding-left: scale-rem(0.9rem);
    padding-right: scale-rem(0.9rem);
  }
  