// This is a copy of the entire ~uswds/src/stylesheets/elements/table.scss file
// so that we can convert the rem values for USWDS v3.

/*
  Original: @import "~uswds/src/stylesheets/elements/table";
  ***THIS IS USWDS v1***
*/

@import '../../override-function';

table {
    border-spacing: 0;
    margin: 2em 0;
  }
  
  thead {
    th {
      font-weight: $font-weight-bold;
    }
  
    th,
    td {
      background-color: $vads-color-base-lightest;
    }
  }
  
  th {
    text-align: left;
  }
  
  th,
  td {
    background-color: $vads-color-white;
    border: 1px solid $vads-color-base-dark;
    font-weight: $font-weight-normal;
    padding: scale-rule(1rem 1.5rem);
  }
  
  .usa-table-borderless {
    thead {
      th {
        background-color: transparent;
        border-top: 0;
      }
    }
  
    th,
    td {
      border-left: 0;
      border-right: 0;
    }
  
    th {
      &:first-child {
        padding-left: 0;
      }
    }
  }
  
  caption {
    @include h5;
    font-family: $font-family-serif;
    margin-bottom: scale-rem(1.2rem);
    text-align: left;
  }
  