// This is a copy of the entire ~uswds/src/stylesheets/elements/list.scss file
// so that we can convert the rem values for USWDS v3.

/*
  Original: @import "~uswds/src/stylesheets/elements/labels";
  ***THIS IS USWDS v1***
*/

@use '../../override-function' as *;
@use "../../../../dist/tokens/scss/variables" as tok;
@use "../../mixins" as l;
@use '../variables' as vars;
@use '../core/utilities' as util;

ul,
ol {
  @include l.margin(1em null);
  padding-left: 1.94em; // Approximately 15px left padding at default font size
}

li {
  line-height: vars.$base-line-height;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

// Unstyled lists
.usa-unstyled-list {
  @include util.unstyled-list;
}
