@import '../../mixins/focusable.css';

:host {
  display: block;
  margin-bottom: 0.5rem;
  border-left: var(--item-border);
  border-right: var(--item-border);
  border-bottom: var(--item-border);
}

button {
  cursor: pointer;
  width: 100%;
  border: 0;
  text-align: left;
  font-weight: 700;
  padding: 1.5rem 5.5rem 1.5rem 2rem;
  background-color: var(--color-gray-lightest);
  background-image: url('../../assets/minus.svg');
  background-position: right 2rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  display: inline-block;
}

#content {
  background-color: #fff;
  overflow: auto;
  padding: 1.5rem 2rem;
}

button[aria-expanded='false'] + div {
  display: none;
}

button[aria-expanded='false'] {
  background-image: url('../../assets/plus.svg');
}
