:host {
  display: block;
  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;
  width: 100%;
  border: 0;
  text-align: left;
  font-weight: 700;
  padding: 1.5rem 5.5rem 1.5rem 2rem;
  background-color: #f1f1f1;
  display: inline-block;
}

#content {
  background-color: #fff;
  overflow: auto;
  padding: 1.5rem 2rem;
}

button[aria-expanded='false'] + div {
  display: none;
}
