@forward 'settings';

@use 'usa-icon/src/styles/_usa-icon.scss';

:host {
  display: block;
  font-size: var(--vads-font-size-source-sans-normalized);
  border: 1px solid var(--vads-color-gray-medium);
  border-radius: var(--vads-spacing-0p5);

  details.va-details {
    summary.va-details__summary {
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--vads-spacing-2px);
      padding: var(--vads-spacing-2px) var(--vads-spacing-0p5);
      padding-left: var(--vads-spacing-3);
      font-weight: var(--font-weight-bold);
      line-height: var(--vads-font-line-height-2);

      &::marker {
        content: none; /* Hide default marker */
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:focus {
        outline: 2px solid var(--vads-color-action-focus-on-light);
      }

      va-icon.va-details__icon {
        position: absolute;
        left: var(--vads-spacing-2px);
        left: var(--vads-spacing-0p5);
        transform: rotate(90deg);
        transition: transform 0.15s linear;
      }
    }

    &[open] {
      summary.va-details__summary va-icon.va-details__icon {
        transform: rotate(270deg);
      }
    }

    div.va-details__content {
      padding: 0 var(--vads-spacing-0p5) var(--vads-spacing-0p5) var(--vads-spacing-3);

      &.va-details__content--va-component-child {
        padding-top: var(--vads-spacing-0p5);
      }
    }

    ::slotted(:first-child) {
      margin-top: 0 !important;
    }

    ::slotted(:last-child) {
      margin-bottom: 0 !important;
    }
  }
}


