@import 'functions';

.usa-form {
  font-size: rem-override(1rem);
}

@media (min-width: 30em) {
  .usa-form {
    max-width: rem-override(20rem);
  }
}

.usa-fieldset,
.usa-hint,
.usa-input,
.usa-label,
.usa-legend,
.usa-radio__label,
.usa-textarea,
.usa-modal,
.usa-select {
  font-size: rem-override(1.06rem);
}

.usa-label,
.usa-legend {
  margin-top: rem-override(1.5rem);
  max-width: rem-override(30rem);
}

.usa-radio__label {
  margin-top: rem-override(0.75rem);
  padding-left: rem-override(2rem);

  &::before {
    height: rem-override(1.25rem);
    border-radius: rem-override(99rem);
    width: rem-override(1.25rem);
    margin-top: rem-override(0.064rem);
  }

  &-description {
    font-size: rem-override(0.93rem);
    margin-top: rem-override(0.5rem);
  }
}

.usa-radio__input {
  font-size: rem-override(1.6rem);
  border-width: rem-override(0.1rem);
  height: rem-override(4.2rem);
  max-width: rem-override(46rem);
  padding: rem-override(1rem) 0.7em;

  &--tile + [class*='__label'] {
    border-radius: rem-override(0.25rem);
    margin-top: rem-override(0.5rem);
    padding: rem-override(0.75rem) rem-override(1rem) rem-override(0.75rem)
      rem-override(2.5rem);

    &::before {
      left: rem-override(0.5rem);
    }
  }
  &:focus+[class*=__label]::before {
    outline-offset: rem-override(0.25rem);
  }
}

.usa-input, .usa-select, .usa-textarea {
  height: rem-override(2.5rem);
  margin-top: rem-override(0.5rem);
  max-width: rem-override(30rem);
  padding: rem-override(0.5rem);

  &--success,
  &--error {
    padding-top: rem-override(0.25rem);
    padding-bottom: rem-override(0.25rem);
    border-width: rem-override(0.25rem);
  }
}

.usa-checkbox {
  &__label {
    margin-top: rem-override(0.75rem);
    padding-left: rem-override(2rem);
    font-size: rem-override(1.06rem);

    &::before {
      height: rem-override(1.25rem);
      width: rem-override(1.25rem);
      margin-top: rem-override(0.064rem);
    }
  }

  &__input--tile + [class*='__label'] {
    border-radius: rem-override(0.25rem);
    margin-top: rem-override(0.5rem);
    padding: rem-override(0.75rem) rem-override(1rem) rem-override(0.75rem)
      rem-override(2.5rem);

    &::before {
      left: rem-override(0.5rem);
    }
  }

  &__label-description {
    font-size: rem-override(0.93rem);
    margin-top: rem-override(0.5rem);
  }
}

.usa-error-message {
  padding-bottom: rem-override(0.25rem);
  padding-top: rem-override(0.25rem);
}

.usa-legend {
  color: $v3-color-base-darkest;
}

.usa-select {
  background-size: rem-override(1.25rem);
  background-position: right rem-override(0.5rem) center;
}

.usa-memorable-date .usa-form-group {
  margin-top: 0px;
}

.usa-form-group--day, .usa-form-group--month, .usa-form-group--year {
  margin-right: rem-override(1rem);
}

.usa-form-group--day-input, .usa-form-group--month-input {
  width: rem-override(3rem);
}

.usa-form-group--year-input {
  width: rem-override(4.5rem);
}

.usa-form-group--month-select {
  width: rem-override(15rem);
}

.usa-textarea {
  height: rem-override(10rem);
}

.usa-button {
  font-size: rem-override(1.06rem);
  border-radius: rem-override(0.25rem);
  margin-right: rem-override(0.5rem);
  padding: rem-override(0.75rem) rem-override(1.25rem);


  &--big {
    border-radius: rem-override(0.25rem);
    font-size: rem-override(1.46rem);
    padding: rem-override(1rem) rem-override(1.5rem);
  }

  i {
    font-size: rem-override(1rem);
  }
}

.usa-button-group {
  &__item {
    margin: rem-override(0.25rem);
  }
  margin: 0px rem-override(-0.5rem);
}

.usa-modal {
  border-radius: rem-override(0.5rem);
  margin: rem-override(1.25rem) auto;
  max-width: rem-override(30rem);
}

.usa-modal__content {
  padding-top: rem-override(2rem);
}

.usa-modal--lg .usa-modal__main {
  padding-bottom: rem-override(4rem);
  padding-top: rem-override(1.25rem);
  max-width: rem-override(40rem);
}

.usa-modal__main {
  padding: rem-override(0.5rem) rem-override(2rem) rem-override(2rem);
}

.usa-modal__heading {
  font-size: rem-override(1.34rem);
}

.usa-modal__footer {
  margin-top: rem-override(1.5rem);
}

.usa-modal__close {
  font-size: rem-override(.93rem);
  margin: rem-override(-2rem) 0 0 auto;
  padding: rem-override(0.25rem);
}

.usa-modal__close .usa-icon {
  height: rem-override(2rem);
  width: rem-override(2rem);
}

.usa-modal--lg {
  max-width: rem-override(55rem);
}

.usa-step-indicator {
  font-size: rem-override(1.06rem);
  margin-bottom: rem-override(2rem);
}

.usa-step-indicator__segment {
  max-width: rem-override(15rem);
  min-height: rem-override(0.5rem);
}

.usa-step-indicator__segment::after {
  height: rem-override(0.5rem);
}

.usa-step-indicator__heading {
  font-size: rem-override(1.13rem);
  margin: rem-override(1rem) 0px 0px;
}

.usa-step-indicator__current-step {
  height: rem-override(2.5rem);
  border-radius: rem-override(99rem);
  width: rem-override(2.5rem);
  padding: calc((rem-override(2.5rem) - 2.2ex) * 0.5);
  box-sizing: border-box;
}

.usa-step-indicator__total-steps {
  margin-right: rem-override(0.5rem);
}

@media (min-width: 40em) {
  .usa-step-indicator--counters .usa-step-indicator__segment, .usa-step-indicator--counters-sm .usa-step-indicator__segment {
    margin-top: rem-override(1.25rem);
  }

  .usa-step-indicator--counters-sm .usa-step-indicator__segment {
    margin-top: rem-override(0.75rem);
  }

  .usa-step-indicator--counters .usa-step-indicator__segment::before, .usa-step-indicator--counters-sm .usa-step-indicator__segment::before {
    height: rem-override(2.5rem);
    border-radius: rem-override(99rem);
    width: rem-override(2.5rem);
    padding: calc((rem-override(2.5rem) - 1.8ex) * 0.5);
    top: calc(rem-override(-1rem));
  }

  .usa-step-indicator--counters-sm .usa-step-indicator__segment::before {
    height: rem-override(1.5rem);
    border-radius: rem-override(99rem);
    width: rem-override(1.5rem);
    font-size: rem-override(0.93rem);
    padding: calc(rem-override(0.25rem) + 1px);
    top: rem-override(-0.5rem)
  }

  .usa-step-indicator__segment-label {
    font-size: rem-override(1.06rem);
    margin-top: rem-override(1rem);
    padding-right: rem-override(2rem)
  }

  .usa-step-indicator--counters .usa-step-indicator__segment-label, .usa-step-indicator--counters-sm .usa-step-indicator__segment-label {
    margin-top: rem-override(2rem);
  }

  .usa-step-indicator--center .usa-step-indicator__segment::before {
    left: calc(50% - rem-override(1.375rem));
  }

  .usa-step-indicator__segment::after {
    height: rem-override(0.5rem);
  }

  .usa-step-indicator--counters .usa-step-indicator__segment::before, .usa-step-indicator--counters-sm .usa-step-indicator__segment::before {
    box-sizing: border-box; // USWDS sets all ::before and ::after psuedo elements to inherit, box-sizing:border-box; is on the html element
    box-shadow: inset 0 0 0 rem-override(0.25rem) #919191, 0 0 0 rem-override(0.25rem) #fff // USWDS design and sketch
  }

  .usa-step-indicator--counters .usa-step-indicator__segment--current::before, .usa-step-indicator--counters-sm .usa-step-indicator__segment--current::before,
  .usa-step-indicator--counters .usa-step-indicator__segment--complete::before, .usa-step-indicator--counters-sm .usa-step-indicator__segment--complete::before {
    box-shadow: 0 0 0 rem-override(0.25rem) #fff;
  }
}

.usa-alert {
  border-left-width: rem-override(0.5rem);
  .usa-alert__body {
    font-size: rem-override(1.06rem);
    max-width: rem-override(64rem);
    padding: rem-override(1rem);
  }
}

.usa-alert--info,
.usa-alert--warning,
.usa-alert--success,
.usa-alert--error {
  .usa-alert__body {
    padding-left: rem-override(2.91667rem);
    &::before {
      height: rem-override(2rem);
      width: rem-override(2rem);
      top: rem-override(0.75rem);
      left: rem-override(0.5rem);
    }
  }
}

@media (min-width: 64em) {
  .usa-alert--info,
  .usa-alert--warning,
  .usa-alert--success,
  .usa-alert--error {
    .usa-alert__body {
      padding-left: rem-override(4rem);
      padding-right: rem-override(4rem);
      &::before {
        left: rem-override(1.5rem);
        top: rem-override(0.75rem);
      }
    }
  }
}

.usa-alert--slim .usa-alert__body {
  padding-bottom: rem-override(0.5rem);
  padding-top: rem-override(0.5rem);
  padding-left: rem-override(2.4166666667rem);
}

@media (min-width: 64em) {
  .usa-alert--slim .usa-alert__body {
    padding-left: rem-override(3.5rem);;
  }
}

.usa-checkbox__input:checked + [class*="__label"]::before {
  background-size: rem-override(0.75rem);
}

.usa-breadcrumb {
  padding-bottom: rem-override(1rem);
  padding-top: rem-override(1rem);
  font-size: rem-override(1.06rem);
}

.usa-breadcrumb__list {
  margin: 0 rem-override(-0.25rem);
  padding: rem-override(0.25rem);
}

.usa-accordion {
  font-size: rem-override(1.06rem);
}

.usa-accordion__heading {
  font-size: rem-override(1.06rem);
}

.usa-accordion__heading:not(:first-child) {
  margin-top: rem-override(0.5rem);
}

.usa-accordion__button {
  background-size: rem-override(1.5rem);
  background-position: right rem-override(1.25rem) center;
  padding: rem-override(1rem) rem-override(3.5rem) rem-override(1rem) rem-override(1.25rem)
}

.usa-accordion__button[aria-expanded=false] {
  background-size: rem-override(1.5rem);
}

.usa-accordion__content {
  padding: rem-override(1rem) rem-override(1.25rem) rem-override(0.75rem);
}

.usa-accordion--bordered .usa-accordion__content {
  border-bottom: rem-override(0.25rem) solid rgb(240, 240, 240);
  border-left: rem-override(0.25rem) solid rgb(240, 240, 240);
  border-right: rem-override(0.25rem) solid rgb(240, 240, 240);
  padding-bottom: rem-override(1rem);
}

.usa-character-count__status {
  padding-top: rem-override(0.25rem);
}

.usa-process-list {
  font-size: rem-override(1.06rem);
  padding-left: calc(rem-override(1rem));
}

.usa-process-list__item:before {
  font-size: rem-override(1.06rem);
  border-width: rem-override(0.25rem);
  margin-top: rem-override(-0.4rem);
  height: rem-override(2rem);
  width: rem-override(2rem);
  border-radius: rem-override(99rem);
}

.usa-process-list__item {
  font-size: rem-override(1.06rem);
  border-left-width: rem-override(0.5rem);
  padding-bottom: rem-override(2rem);
  padding-left: calc(calc( (rem-override(2.5rem) / 2) - rem-override(0.25rem) ) * 2);
}

.usa-process-list__item:last-child {
  border-left-width: rem-override(0.5rem); ;
}

.usa-icon--size-3 {
  height: rem-override(1.5rem);
  width: rem-override(1.5rem);
}

.usa-icon--size-4 {
  height: rem-override(2rem);
  width: rem-override(2rem);
}

.usa-icon--size-5 {
  height: rem-override(2.5rem);
  width: rem-override(2.5rem);
}

.usa-icon--size-6 {
  height: rem-override(3rem);
  width: rem-override(3rem);
}

.usa-icon--size-7 {
  height: rem-override(3.5rem);
  width: rem-override(3.5rem);
}

.usa-icon--size-8 {
  height: rem-override(4rem);
  width: rem-override(4rem);
}

.usa-icon--size-9 {
  height: rem-override(4.5rem);
  width: rem-override(4.5rem);
}

.usa-pagination {
  margin-bottom: rem-override(1rem);
  margin-top: rem-override(1rem);
  font-size: rem-override(1.06rem);
}

.usa-pagination__item {
  height: rem-override(2.5rem);
  margin-left: rem-override(0.25rem);
  margin-right: rem-override(0.25rem);
  min-width: rem-override(2.5rem);
}

.usa-pagination__button {
  border-radius: rem-override(0.25rem);
  padding: rem-override(0.5rem);
}

.usa-pagination__overflow {
  padding: rem-override(0.5rem);
}

.usa-pagination .usa-icon {
  height: rem-override(1.13rem);
  width: rem-override(1.13rem);
}

@media (min-width: 40em) {
  .usa-pagination__next-page {
    margin-left: rem-override(1.25rem);
  }
}

.usa-search {
  font-size: rem-override(1.06rem);
}

@media (min-width: 30em) {
  .usa-search [type="submit"] {
    padding-left: rem-override(1rem);
    padding-right: rem-override(1rem);
  }
}

.usa-search [type="submit"] {
  height: rem-override(2rem);
  width: rem-override(3rem);
}

[type="search"], .usa-search__input {
  height: rem-override(2rem);
  font-size: rem-override(1rem);
}

.usa-input {
  max-width: rem-override(30rem);
  padding: rem-override(0.5rem);
}

@media (min-width: 30em) {
  .usa-search--big [type="search"], .usa-search--big .usa-search__input {
    font-size: rem-override(1.06rem);
    height: rem-override(3rem)
  }
}


@media (min-width: 30em) {
  .usa-search--big [type="submit"], .usa-search--big .usa-search__submit {
    padding-left: rem-override(2rem);
    padding-right: rem-override(2rem);
    font-size: rem-override(1.46rem);
    height: rem-override(3rem);
  }
}

.usa-search--small [type="submit"], .usa-search--small .usa-search__submit {
  padding-left: rem-override(0.75rem);
  padding-right: rem-override(0.75rem);
  min-width: rem-override(3rem);
}

.usa-search--small .usa-search__submit-icon {
  height: rem-override(1.5rem);
  width: rem-override(1.5rem);
}

.usa-file-input {
  max-width: rem-override(30rem);

  &__target {
    font-size: rem-override(1rem);
    margin-top: rem-override(0.5rem);
  }

  &__instructions {
    padding: rem-override(2rem) rem-override(1rem);
  }
  &__preview {
    padding: rem-override(0.25rem) rem-override(0.5rem);
    font-size: rem-override(0.87rem);
  }
  &__preview-image--generic {
    background-size: rem-override(1.5rem);
  }
  &__preview-image {
    height: rem-override(2.5rem);
    margin-right: rem-override(0.5rem);
    width: rem-override(2.5rem);
  }
}