@import 'functions';

.usa-form {
  font-size: v3_rem_to_px(1rem);
}

@media (min-width: 30em) {
  .usa-form {
    max-width: v3_rem_to_px(20rem);
  }
}

.usa-fieldset,
.usa-hint,
.usa-input,
.usa-label,
.usa-legend,
.usa-radio__label,
.usa-textarea,
.usa-modal,
.usa-select {
  font-size: v3_rem_to_px(1.06rem);
}

.usa-label,
.usa-legend {
  margin-top: v3_rem_to_px(1.5rem);
  max-width: v3_rem_to_px(30rem);
}

.usa-radio__label {
  margin-top: v3_rem_to_px(0.75rem);
  padding-left: v3_rem_to_px(2rem);

  &::before {
    height: v3_rem_to_px(1.25rem);
    border-radius: v3_rem_to_px(99rem);
    width: v3_rem_to_px(1.25rem);
    margin-top: v3_rem_to_px(0.064rem);
  }

  &-description {
    font-size: v3_rem_to_px(0.93rem);
    margin-top: v3_rem_to_px(0.5rem);
  }
}

.usa-radio__input {
  font-size: v3_rem_to_px(1.6rem);
  border-width: v3_rem_to_px(0.1rem);
  height: v3_rem_to_px(4.2rem);
  max-width: v3_rem_to_px(46rem);
  padding: v3_rem_to_px(1rem) 0.7em;

  &--tile + [class*='__label'] {
    border-radius: v3_rem_to_px(0.25rem);
    margin-top: v3_rem_to_px(0.5rem);
    padding: v3_rem_to_px(0.75rem) v3_rem_to_px(1rem) v3_rem_to_px(0.75rem)
      v3_rem_to_px(2.5rem);

    &::before {
      left: v3_rem_to_px(0.5rem);
    }
  }
}

.usa-input, .usa-select, .usa-textarea {
  height: v3_rem_to_px(2.5rem);
  margin-top: v3_rem_to_px(0.5rem);
  max-width: v3_rem_to_px(30rem);
  padding: v3_rem_to_px(0.5rem);

  &--success,
  &--error {
    padding-top: v3_rem_to_px(0.25rem);
    padding-bottom: v3_rem_to_px(0.25rem);
    border-width: v3_rem_to_px(0.25rem);
  }
}

.usa-checkbox {
  &__label {
    margin-top: v3_rem_to_px(0.75rem);
    padding-left: v3_rem_to_px(2rem);
    font-size: v3_rem_to_px(1.06rem);

    &::before {
      height: v3_rem_to_px(1.25rem);
      width: v3_rem_to_px(1.25rem);
      margin-top: v3_rem_to_px(0.064rem);
    }
  }

  &__input--tile + [class*='__label'] {
    border-radius: v3_rem_to_px(0.25rem);
    margin-top: v3_rem_to_px(0.5rem);
    padding: v3_rem_to_px(0.75rem) v3_rem_to_px(1rem) v3_rem_to_px(0.75rem)
      v3_rem_to_px(2.5rem);

    &::before {
      left: v3_rem_to_px(0.5rem);
    }
  }

  &__label-description {
    font-size: v3_rem_to_px(0.93rem);
    margin-top: v3_rem_to_px(0.5rem);
  }
}

.usa-error-message {
  padding-bottom: v3_rem_to_px(0.25rem);
  padding-top: v3_rem_to_px(0.25rem);
}

.usa-legend {
  color: $v3-color-base-darkest;
}

.usa-select {
  background-size: v3_rem_to_px(1.25rem);
  background-position: right v3_rem_to_px(0.5rem) center;
}

.usa-memorable-date .usa-form-group {
  margin-top: 0px;
}

.usa-form-group--day, .usa-form-group--month, .usa-form-group--year {
  margin-right: v3_rem_to_px(1rem);
}

.usa-form-group--day-input, .usa-form-group--month-input {
  width: v3_rem_to_px(3rem);
}

.usa-form-group--year-input {
  width: v3_rem_to_px(4.5rem);
}

.usa-form-group--month-select {
  width: v3_rem_to_px(15rem);
}

.usa-textarea {
  height: v3_rem_to_px(10rem);
}

.usa-button {
  font-size: v3_rem_to_px(1.06rem);
  border-radius: v3_rem_to_px(0.25rem);
  margin-right: v3_rem_to_px(0.5rem);
  padding: v3_rem_to_px(0.75rem) v3_rem_to_px(1.25rem);
  &--big {
    border-radius: v3_rem_to_px(0.25rem);
    font-size: v3_rem_to_px(1.46rem);
    padding: v3_rem_to_px(1rem) v3_rem_to_px(1.5rem);
  }
}

.usa-button-group {
  &__item {
    margin: v3_rem_to_px(0.25rem);
  }
  margin: 0px v3_rem_to_px(-0.5rem);
}

.usa-modal {
  border-radius: v3_rem_to_px(0.5rem);
  margin: v3_rem_to_px(1.25rem) auto;
  max-width: v3_rem_to_px(30rem);
}

.usa-modal__content {
  padding-top: v3_rem_to_px(2rem);
}

.usa-modal--lg .usa-modal__main {
  padding-bottom: v3_rem_to_px(4rem);
  padding-top: v3_rem_to_px(1.25rem);
  max-width: v3_rem_to_px(40rem);
}

.usa-modal__main {
  padding: v3_rem_to_px(0.5rem) v3_rem_to_px(2rem) v3_rem_to_px(2rem);
}

.usa-modal__heading {
  font-size: v3_rem_to_px(1.34rem);
}

.usa-modal__footer {
  margin-top: v3_rem_to_px(1.5rem);
}

.usa-modal__close {
  font-size: v3_rem_to_px(.93rem);
  margin: v3_rem_to_px(-2rem) 0 0 auto;
  padding: v3_rem_to_px(0.25rem);
}

.usa-modal__close .usa-icon {
  height: v3_rem_to_px(2rem);
  width: v3_rem_to_px(2rem);
}

.usa-modal--lg {
  max-width: v3_rem_to_px(55rem);
}

.usa-alert {
  border-left-width: v3_rem_to_px(0.5rem);
  .usa-alert__body {
    font-size: v3_rem_to_px(1.06rem);
    max-width: v3_rem_to_px(64rem);
    padding: v3_rem_to_px(1rem);
  }
}

.usa-alert--info,
.usa-alert--warning,
.usa-alert--success,
.usa-alert--error {
  .usa-alert__body {
    padding-left: v3_rem_to_px(2.9166666667rem);
    &::before {
      height: v3_rem_to_px(2rem);
      width: v3_rem_to_px(2rem);
      top: v3_rem_to_px(0.75rem);
      left: v3_rem_to_px(0.5rem);
    }
  }
}

@media (min-width: 64em) {
  .usa-alert--info,
  .usa-alert--warning,
  .usa-alert--success,
  .usa-alert--error {
    .usa-alert__body {
      padding-left: v3_rem_to_px(4rem);
      padding-right: v3_rem_to_px(4rem);
      &::before {
        left: v3_rem_to_px(1.5rem);
        top: v3_rem_to_px(0.75rem);
      }
    }
  }
}

.usa-alert--slim .usa-alert__body {
  padding-bottom: v3_rem_to_px(0.5rem);
  padding-top: v3_rem_to_px(0.5rem);
  padding-left: v3_rem_to_px(2.4166666667rem);
}

@media (min-width: 64em) {
  .usa-alert--slim .usa-alert__body {
    padding-left: v3_rem_to_px(3.5rem);;
  }
}

.usa-checkbox__input:checked + [class*="__label"]::before {
  background-size: v3_rem_to_px(0.75rem);
}