@use "uswds-core" with (
  $theme-image-path: '../../../../../node_modules/@uswds/uswds/dist/img/',
  $theme-font-type-sans: 'source-sans-pro',
  $theme-font-sans-custom-stack: '"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans',
  $theme-show-notifications: false,
);
