@import '../components/va-breadcrumbs/va-breadcrumbs-slot.css';
@import '../components/va-modal/va-modal-slot.css';
@import '../components/va-table/va-table-slot.css';

va-process-list li :is(h2, h3, h4, h5) {
  margin-top: 0;
  clear: none;
  padding-top: 0.3rem;
}
