/* Colors from: */
/*   https://design.va.gov/design/color-palette */
/* Fonts from: */
/*   https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/8d39616e957cb44b6664a658b2c51dca8076fe7e/packages/formation/sass/base/_b-variables.scss#L16-L17 */
:root {
  --color-base: #212121;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #5b616b;
  --color-gray-medium: #757575;
  --color-gray-dark: #323a45;
  --color-gray-light: #aeb0b5;
  --color-gray-lighter: #d6d7d9;
  --color-gray-lightest: #f1f1f1;
  --color-green: #2e8540;
  --color-green-lightest: #e7f4e4;
  --color-gold: #fdb81e;
  --color-gold-light: #f9c642;
  --color-gold-lightest: #fff1d2;
  --color-link-default: #004795;
  --color-link-visited: #4c2c92;
  --color-primary: #0071bb;
  --color-primary-darker: #003e73;
  --color-primary-alt-dark: #00a6d2;
  --color-primary-alt-light: #9bdaf1;
  --color-primary-alt-lightest: #e1f3f8;
  --color-secondary-dark: #cd2026;
  --color-secondary-lightest: #f9dede;
  --font-source-sans: Source Sans Pro, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  --font-serif: 'Bitter';
}

va-process-list li :is(h2, h3, h4, h5) {
  margin-top: 0;
  clear: none;
  padding-top: 0.3rem;
}
