.va-tabs__list {
  display: flex;
  align-items: flex-end;
  overflow-x: visible;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  gap: .5rem;
  width: 100%;
  border-bottom: 1px solid var(--vads-color-base-dark);
  min-height: 52px;
}
