@import '../../mixins/focusable.css';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--vads-color-primary);
  position: relative;
  padding: 1rem;
  padding-bottom: .5rem;
  border: none;
  border-bottom: 4px solid transparent;
  min-width: 4rem;
  max-width: 10rem;
  font-family: var(--font-source-sans);
  font-size: var(--vads-font-size-source-sans-normalized);
}

:host([aria-selected='false']:hover) {
  cursor: pointer;
  background: var(--vads-color-base-lightest);
  border-bottom-color:  var(--vads-color-primary);
  color: var(--vads-color-ink);
}

:host([aria-selected='true']) {
  border-bottom-color: var(--vads-color-primary);
  color: transparent;
  background: var(--vads-color-white);
}

:host([aria-selected='true']:hover) {
  cursor: pointer;
  background: var(--vads-color-base-lightest);
  border-bottom-color:  var(--vads-color-primary);
}

:host([aria-selected='true'])::after {
  content: attr(data-label) / "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 1.5rem); // 1.5rem is the cumulative vertical padding on the tab item
  top: 1rem; // Account for top padding of tab item
  width: calc(100% - 4px); // Don't take up full width so outline of tab item is fully visible
  left: 2px; // Update horizontal position to align with the tab item due to decreased width
  font-weight: 700;
  background: var(--vads-color-white);
  color: var(--vads-color-base);
}

:host([aria-selected='true']:hover)::after {
  background-color: var(--vads-color-base-lightest);
}
