@forward 'settings';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-breadcrumb/src/styles/usa-breadcrumb';

:host {
  display: block;
}

.usa-breadcrumb__link span {
  pointer-events: none;
}

// Styles for V1 mode
:host([uswds='false']) {
  nav {
    background: var(--vads-color-white);
    color: var(--vads-color-link);
    font-size: inherit;
    padding: 1.6rem 0;
  }

  ul {
    box-sizing: border-box;
    list-style: square;
    margin: 0 auto;
    max-width: 62.5rem;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
  }
}

// Styles for V3 mode
:host(:not([uswds='false'])) {
  .usa-breadcrumb__link {
    color: var(--vads-color-link);
  }

  .usa-breadcrumb__link:hover {
    color: var(--vads-color-primary-dark);
  }

  .usa-breadcrumb__list-item:not(:last-child)::after {
    background: var(--vads-color-gray-medium);
  }
}

.usa-current a {
  font-weight: bold;
}
