:host {
  display: block;
}

nav {
  background: var(--color-white);
  color: var(--color-link-default);
  font-size: inherit;
  padding: 1.6rem 0;
}

ul {
  box-sizing: border-box;
  list-style: square;
  margin: 0 auto;
  max-width: 100rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;
  width: 100%;
}

::slotted(li) {
  display: inline-block;
  line-height: 1.5 !important;
  margin: 0.4rem 0 !important;
  padding: 0.4rem 0 0.4rem 0;
  vertical-align: middle;
}

::slotted(li)::after {
  content: ' › ';
  display: inline-block;
  padding: 0 0.56rem;
}

::slotted(li:last-child)::after {
  content: '';
}

@media screen and (max-width: 481px) {
  ::slotted(li) {
    display: none;
  }

  ::slotted(li:nth-last-child(2)) {
    display: inline-block;
  }

  ::slotted(li:nth-last-child(2))::before {
    content: ' \2039 ';
    display: inline-block;
    padding: 0 0.24rem;
  }

  ::slotted(li:nth-last-child(2))::after {
    content: '';
    display: none;
    padding: 0;
  }
}
