va-breadcrumbs .va-breadcrumbs-li {
  display: inline-block;
  line-height: 1.5;
  margin: 4px 0;
  padding: 4px 0 4px 0;
  vertical-align: middle;
}

va-breadcrumbs .va-breadcrumbs-li::after {
  content: ' \203A ';
  display: inline-block;
  padding: 0 5.6px;
}

va-breadcrumbs .va-breadcrumbs-li:last-child::after {
  content: '';
}

@media screen and (max-width: 481px) {
  va-breadcrumbs .va-breadcrumbs-li {
    display: none;
  }

  va-breadcrumbs .va-breadcrumbs-li:nth-last-child(2) {
    display: flex;
  }

  va-breadcrumbs .va-breadcrumbs-li:nth-last-child(2)::before {
    content: ' \2039 ';
    display: inline-block;
    padding: 0 2.4px;
  }

  va-breadcrumbs .va-breadcrumbs-li:nth-last-child(2)::after {
    content: '';
    display: none;
    padding: 0;
  }
}

va-breadcrumbs li > a {
  background-color: transparent;
  color: var(--color-link-default);
  display: inline-block;
  padding: 2px;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}

va-breadcrumbs li > a:hover {
  background: rgba(0, 0, 0, 0.05);
}


va-breadcrumbs li > a:focus {
  outline: 2px solid var(--color-gold-light);
  outline-offset: 2px;
}

va-breadcrumbs li > a[aria-current='page'] {
  color: var(--color-gray-dark);
  cursor: default;
  font-weight: bold;
  pointer-events: none;
  text-decoration: none;
}