@forward 'settings';
@use 'usa-breadcrumb/src/styles/usa-breadcrumb';


@import '../../global/formation_overrides';

:host {
  display: block;
}

nav {
  background: var(--color-white);
  color: var(--color-link-default);
  font-size: inherit;
  padding: 1.6rem 0;
}

ul {
  box-sizing: border-box;
  list-style: square;
  margin: 0 auto;
  max-width: 100rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  position: relative;
  width: 100%;
}
