@forward 'settings';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-breadcrumb/src/styles/usa-breadcrumb';
@import '../../global/formation_overrides';

:host {
  display: block;
}

.usa-breadcrumb__link span {
  pointer-events: none;
}

:host(:not([uswds])) nav {
  background: var(--color-white);
  color: var(--color-link-default);
  font-size: inherit;
  padding: 1.6rem 0;
}

:host(:not([uswds])) ul {
  box-sizing: border-box;
  list-style: square;
  margin: 0 auto;
  max-width: 100rem;
  padding-left: 0;
  padding-right: 0.8rem;
  position: relative;
  width: 100%;
}

:host([uswds]) .usa-breadcrumb__link {
  color: var(--color-link-default);
}

:host([uswds]) .usa-breadcrumb__link:hover {
  color: var(--color-primary-darker);
}

:host([uswds]) .usa-breadcrumb__list-item:not(:last-child)::after {
  background: var(--color-gray-medium);
}