@forward 'settings';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-breadcrumb/src/styles/usa-breadcrumb';

:host {
  display: block;
}

.usa-breadcrumb__link span {
  pointer-events: none;
}

@media screen and (max-width: 29.99em) {
  .usa-breadcrumb__list-item:not(:nth-last-child(2)) {
    display: none;
  }
}


.usa-breadcrumb {
  padding-top: 20px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .usa-breadcrumb {
    padding-bottom: 48px;
  }
}

.usa-breadcrumb__link {
  color: var(--vads-color-link);
}

.usa-breadcrumb__link:hover {
  color: var(--vads-color-primary-dark);
}

.usa-breadcrumb__list-item:not(:last-child)::after {
  background: var(--vads-color-gray-medium);
}

.usa-current a {
  font-weight: bold;
}