@use "../../../dist/tokens/scss/variables" as vars;

@use 'uswds-core/src/styles/mixins/typography/usa-content-styles' as *;

// H1 should only be used once at the top-level, so we can safely remove the margin-top.
h1 {
  margin-top: 0;
}

@include usa-headings-styles;

h1, h2, h3, h4, h5 {
  font-family: vars.$font-family-serif;
  font-weight: 700;
}

h6 {
  font-family: vars.$font-family-sans;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.0625rem;
}
h5 {
  font-size: .9375rem;
}
h6 {
  font-size: .9375rem;
}

@media (max-width: vars.$small-screen)  {
  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

h6 {
  margin: 0.5em 0 0;
  text-transform: none;
  font-weight: 700;
}

@media (max-width: vars.$small-screen)  {
  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

h6 {
  margin: 0.5em 0 0;
  text-transform: none;
  font-weight: 700;
}