@use '../override-function' as *;
@import '../core-variables';
@import "../mixins";

//Grid/columns classes
@import "../formation-overrides/foundation-sites.scss";

$lead-max-width: scale-rem(77rem);

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: $em-base;
  font-weight: 500;
}

body {
  background: $vads-color-white;
  color: $vads-color-base;
  // font-family: $font-family-sans;
  // font-size: $base-font-size;
  font-size: 16px;
  font-family: inherit;
  line-height: $vads-font-line-height-default;
  &.modal-open {
    overflow: hidden;
  }
}

h1 {
  margin-top: 0;
}

// Skip link
.show-on-focus {
  position: absolute;
  top: -10em;
  background: $vads-color-white;
  padding: 1em;
  margin: 1em;
  color: $vads-color-primary-darker;
  display: block;
  font-weight: 600;

  &:focus {
    position: inherit;
    top: auto;
    outline: 2px solid $vads-color-warning;
  }
}

// row
body .row.full {
  width: 100%;
  max-width: 100%;
}

// Screen Readers
// updated to match definition in
// packages/formation/sass/utilities/_visibility.scss
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
  word-wrap: normal !important;
}

// Remove from print view, incidentally removes from screen readers as well
.no-print-no-sr {
  display: none !important;
}

#content abbr {
  border-bottom: 0px;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: $vads-color-link;
  text-decoration: underline;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;

  &:hover {
    background-color: $color-link-default-hover;
    color: inherit;
    text-decoration: underline;
  }
  &:active {
    background: $color-link-default-hover;
  }
  &:visited,
  &:visited abbr {
    color: $vads-color-link-visited;
  }
}

// ====== Headings
// @import 'headings';

//======= Lists
ul {
  padding: 0 0 0 1.5em;
  list-style: square;
}

ol {
  margin: 0 0 0 1.25em;
  list-style-position: outside;
}

ul,
ol {
  > ul,
  ol {
    margin: 0.5em 0 0.5em 1.2em;
  }
}

// Definition lists
dd {
  margin-left: 0;
}

dd + dt {
  margin-top: 1.5em;
}

// Figure / Caption
figure {
  font-size: 0.85em;
  margin-left: -15px; // converted to 16px base font: -1.875rem/2
  margin-right: -15px; // converted to 16px base font: -1.875rem/2

  @media screen and (min-width: $large-screen), print and (min-width: $large-screen) {
    margin-left: -16.66667%;
    margin-right: -16.66667%;
  }
}

figcaption {
  color: $vads-color-primary-darker;
}

input::-webkit-input-placeholder {
  color: $vads-color-base-dark;
}
input::-moz-placeholder {
  color: $vads-color-base-dark;
}

input:-ms-input-placeholder {
  color: $vads-color-base-dark;
}

// Visually clear placeholder text on focus
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input.va-input-medium-large {
  max-width: scale-rem(18rem);
}

hr {
  margin: 2.5em 0;
  margin: 48px 0 40px; // converted to 16px base font: 3rem 0 2.5rem
  border: 1px solid $vads-color-base-light;
}

// Default table width to being 100%
table {
  width: 100%;
}

.va-pos-fixed {
  position: fixed;
}

// Logo and Header
.header {
  background: $vads-color-primary-darker;
  clear: both;
  margin: 0;
  padding: 0;

  // Without this value the navbar will look the same in the end but this keeps the navbar's height from expanding/blinking
  // right as the navbar elements are rendered on screen during page load.
  // This is the height on mobile fyi.
  min-height: 189.19px;

  // This sets the height of the header on large mobile devices between 480 and 768.
  @include media($small-screen) {
    min-height: 167.19px;
  }

  @include media($medium-screen) {
    position: relative;
    // Same reason as the comment above, only the value has been adjusted to be the height of the navbar for tablet/desktop.
    min-height: 159px;
  }

  .login-container {
    background: $vads-color-primary-darker;
    flex-wrap: wrap;
    white-space: nowrap;

    .row {
      padding: 0;
    }

    @include media($tablet) {
      flex: 1 0 100%;
    }
  }
}

#va-header-logo-menu {
  flex-wrap: wrap;
  padding: 1em 0.75em 0;

  @include media($tablet) {
    padding-bottom: 0;
  }
}

.va-header-logo-wrapper {
  flex: 1 0 164px;

  @include media($tablet) {
    flex-basis: scale-rem(6rem);
  }
}

// Also see l-playbook for more styles
.va-header-logo {
  background-color: transparent;
  border-bottom: none;
  display: block;
  height: 40px;
  //padding-left: scale-rem(.5rem);
  margin: 0;
  width: 164px;

  &:hover {
    .vets-logo-va path {
      fill: $vads-color-warning;
    }
  }
}

// Notice / feedback banners
.va-notice--banner {
  background: $vads-color-white;
  margin: 0 0 0.75em 0;
  padding: 0;
  font-weight: 400;

  @include media($medium-screen) {
    background: $color-gray-lightest;
    .usa-banner-inner {
      font-size: 12px;
      padding-left: scale-rem(1.5rem);
      p {
        font-size: 12px;
      }
    }

    .usa-banner-content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include media($small-desktop-screen) {
    .usa-banner-inner {
      padding-left: 0;
      font-size: 12px;
      p {
        font-size: 12px;
      }
    }
  }

  &-inner {
    margin: auto;
    max-width: 1000px;
    position: relative;
  }
}

.va-notice--banner {
  p {
    margin: 0;
  }
  a {
    background-image: none;
    color: inherit;
    padding: 0;
  }
}

.vets-logo {
  display: block;
  height: inherit;
  width: inherit;

  &-vetsdotgov,
  &-va {
    path,
    rect {
      fill: $vads-color-white
    }
  }
}

article > h1 {
  margin-top: 0;
}

// Banner
#content {
  margin: 0;
  padding: 0;
  color: $vads-color-base;
  overflow: hidden;
}

// TODO: .usa-font-lead is now .usa-intro in USWDS v3.
// This is a copy of USWDS's .usa-font-lead style
// https://github.com/18F/web-design-standards/blob/develop/src/stylesheets/elements/_typography.scss#L164
.va-introtext {
  font-family: $font-serif;
  font-size: $lead-font-size;
  font-weight: $font-weight-normal;
  line-height: $lead-line-height;
  max-width: $lead-max-width;

  p, a {
    font-family: $font-serif;
    font-size: $lead-font-size;
    font-weight: $font-weight-normal;
    line-height: $lead-line-height;
  }
}

// Used on content-build hub pages and a couple of places in vets-website
.va-h-ruled--stars {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    margin-right: scale-rem(12rem);
  }

  &::before,
  &::after {
    border-top: 1px solid $color-gray-light;
    content: " ";
    flex: 1 1 50%;
    padding: scale-rule(1rem 0);
  }

  background: url('#{$image-path}/stars.png') no-repeat center;
  background-size: scale-rule(11rem auto);
  margin: scale-rule(1.6rem auto auto);
  padding: scale-rule(2rem 0 0);
  text-align: center;

  @include media($medium-screen) {
    padding-left: 0;
  }
}
// used mostly in content-build, we should consider moving this over there 
.last-updated {
  margin-top: 1.5em;
  border-top: 2px solid $color-gray-light;
  padding: 1em 0;
  p {
    color: $color-gray-dark !important;
  }
}

// Feature style used on hub pages (example on /pension/how-to-apply), copied here from formation
// ToDo - These should be replaced with web-components: 
// https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/2338#top 
// https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/2341#top

.feature {
  background: $color-primary-alt-lightest;
  padding: 1em;
  clear: both;
  margin: 1.5em 0 1.5em 0;

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
  }
  h4 {
    margin-top: 0;
  }
  ul {
    margin: 0 0 0.5em 1.5em;
    padding: 0;
    li {
      list-style: square;
      margin: 0;
    }
  }
}