@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-textarea/src/styles/usa-textarea';
@use 'usa-character-count/src/styles/_usa-character-count';

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/focusable.css';
@import '../../mixins/headers.css';

:host {
  color: var(--vads-color-base);
  display: block;
  resize: both;
  font-family: var(--font-source-sans);
}

:host(:focus) {
  outline: none !important;
}

.usa-hint {
  display: block;
}

// Overrides for when label is wrapped with a header
h1, h2, h3, h4, h5, h6 {
  .usa-label {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    .usa-label--required {
      font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans;
      font-size: initial;
      font-weight: initial;
    }
  }
}