@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-textarea/src/styles/usa-textarea';
@use 'usa-character-count/src/styles/_usa-character-count';

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/focusable.css';
@import '../../mixins/headers.css';


.usa-textarea {
  resize: inherit;
}

:host {
  color: var(--vads-color-base);
  display: block;
  resize: both;
  font-family: var(--font-source-sans);
}

:host(:focus) {
  outline: none !important;
}

.usa-hint {
  display: block;
}

/** Original Component Style **/

@import '../../mixins/accessibility.css';
@import '../../mixins/focusable.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host([uswds='false']) label {
  display: block;
  font-size: 1.06rem;
  max-width: 28.75rem;
  margin-top: 1.875rem;
}

:host([uswds='false']) span.required {
  color: var(--vads-color-secondary-dark);
  margin-left: 0.25rem;
}

:host([uswds='false']) textarea {
  font-family: var(--font-source-sans);
  font-size: 1.06rem;
  line-height: 1.3;
  display: block;
  min-height: 3.25rem;
  height: 10rem;
  max-width: 30rem;
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem 0;
  resize: inherit;
}

:host([error]:not([error=''])[uswds='false']) textarea {
  padding-right: 0.4375rem;
}
