@import '../../mixins/focusable.css';
@import '../va-text-input/va-text-input.css';

:host {
  display: block;
}

label {
  display: block;
  margin-top: 2.8rem;
  max-width: 46rem;
}

textarea {
  display: block;
  min-height: 50px;
  height: 16rem;
  max-width: 46rem;
  width: 100%;
  padding: 1.2rem;
  margin: 0.4rem 0;
}
