@import '../../mixins/accessibility.css';
@import '../../mixins/focusable.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host {
  display: block;
  resize: both;
}

label {
  display: block;
  max-width: 46rem;
  margin-top: 3rem;
}

span.required {
  color: var(--color-secondary-dark);
  margin-left: 0.4rem;
}

label {
  display: block;
  margin-top: 2.8rem;
  max-width: 48rem;
}

textarea {
  font-family: var(--font-source-sans);
  font-size: 16px;
  line-height: 1.3;
  display: block;
  min-height: 5.2rem;
  height: 16rem;
  max-width: 48rem;
  width: 100%;
  padding: 1.2rem;
  margin: 0.4rem 0;
  resize: inherit;
}

:host([error]:not([error=''])) textarea {
  padding-right: 0.7rem;
}