@import '../../mixins/accessibility.css';

:host {
  display: block;
  border: none;
  padding: 0;
  margin-top: 3rem;
}

legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
