:host {
  display: block;
}

fieldset,
legend {
  margin-top: 3rem;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
