@use "../../dist/tokens/scss/variables" as *;

@use 'uswds-core' with (
  $theme-show-notifications: false,
  // TODO: verify USWDS font path
  $theme-font-path: '../node_modules/@uswds/uswds/dist/fonts',
);

$font-path: "./fonts";  // TODO: Verify asset path
$image-path: "./img"; // TODO: Verify asset path

//============ MIXINS & OTHER FUNCTIONS ==============//
@import './override-function';
@import './mixins';

//============ VENDOR PARTIALS ==============//
@import 'lib/normalize';

//============ PORTED VARIABLES ==============//
@import './formation-overrides/variables';

//============ USWDS v1 ==============//
@import 'formation-overrides/core/fonts';
@import 'formation-overrides/core/utilities';
@import 'formation-overrides/core/base';

// ----- VA BASE (VARIABLES/HELPERS) ---- //
@import 'base/fonts';

// ---- USWDS v1 STANDARDS ELEMENTS/COMPONENTS --- //
@import 'formation-overrides/elements/buttons';
@import 'formation-overrides/elements/inputs';
@import 'formation-overrides/elements/labels';
@import 'formation-overrides/elements/lists';
@import 'formation-overrides/elements/table';
@import 'formation-overrides/elements/typography';
@import 'formation-overrides/components/accordions';
@import 'formation-overrides/components/alerts';
@import 'formation-overrides/components/banner';
@import 'formation-overrides/components/forms';
@import 'formation-overrides/components/media-block';
@import 'formation-overrides/components/side-nav';

// ----- VA GENERAL (MAIN FILE/OTHER) ---- //
@import 'base/va';

// ----- VA MODULES ---- //
@import 'modules/m-external-link';
