@import "./formation-overrides/variables";
@import "./override-function";
@charset "UTF-8";


// Spacing Units
@function units($unit) {
  //$name: nth($flex-names, $i);

  @if not map-has-key($units, $unit) {
    @error '`#{$unit}` is not a valid spacing unit token. '
      + 'Valid spacing unit tokens: '
      + '#{map-keys($units)}';
  }

  $val: map-get($units, $unit) ;
  $remVal: $val + rem;
  @return scale-rem($remVal);
}

@function units-px($unit) {
  //$name: nth($flex-names, $i);

  @if not map-has-key($units, $unit) {
    @error '`#{$unit}` is not a valid spacing unit token. '
      + 'Valid spacing unit tokens: '
      + '#{map-keys($units)}';
  }

  $val: map-get($units, $unit) ;
  @return ($val * 10) + px;
}