@use "uswds-core" with (
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-font-path: '~@uswds/uswds/dist/fonts',
  $theme-font-type-sans: 'source-sans-pro',
  $theme-font-sans-custom-stack: '"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans',
  $theme-namespace: (
    'grid': (
      namespace: 'vads-grid-',
      output: true,
    ),
    'utility': (
      namespace: 'u-',
      output: false,
    ),
  ),
  $theme-utility-breakpoints: (
    "card": false,
    "card-lg": false,
    "mobile": true,
    "mobile-lg": false,
    "tablet": true,
    "tablet-lg": false,
    "desktop": false,
    "desktop-lg": true,
    "widescreen": false
  ),
);