@use "uswds-core" with (
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-font-path: '~@uswds/uswds/fonts',
  $theme-font-type-sans: 'source-sans-pro',
  $theme-font-sans-custom-stack: '"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans',
  $theme-typeface-tokens: (
    'sans': (
      'display-name': 'Source Sans Pro Web',
      'cap-height': 328px,
    ),
    'bitter': (
      'display-name': 'Bitter',
      'cap-height': 349px,
    ),
    'monospace': (
      'display-name': 'Roboto Mono Web',
      'cap-height': 356px,
    ),
  ),
  $theme-namespace: (
    'grid': (
      namespace: 'vads-grid-',
      output: true,
    ),
    'utility': (
      namespace: 'u-',
      output: false,
    ),
  ),
  $theme-utility-breakpoints: (
    "card": false,
    "card-lg": false,
    "mobile": true,
    "mobile-lg": true,
    "tablet": true,
    "tablet-lg": false,
    "desktop": true,
    "desktop-lg": true,
    "widescreen": true
  ),
  $theme-utility-breakpoints-custom: (
    "medium-screen": 768px
  ),
  $utilities-use-important: true
);