@use "../../dist/tokens/scss/variables" as *;

@use 'uswds-theme';
@forward 'uswds-theme';
@use 'uswds-fonts';

@use './core-variables' as *;

//============ VENDOR PARTIALS ==============//
@use 'lib/normalize';

// Grid/columns classes
@use "./formation-overrides/foundation-sites";

//============ PORTED VARIABLES ==============//
@use './formation-overrides/variables';

// ----- VA GENERAL (MAIN FILE/OTHER) ---- //
@use 'base/fonts' as base_fonts;
@use 'base/utils';

//============ USWDS v1 ==============//
@use 'formation-overrides/core/fonts';
@use 'formation-overrides/core/utilities';
@use 'formation-overrides/core/base';

// ---- USWDS v1 STANDARDS ELEMENTS/COMPONENTS --- //
@use 'formation-overrides/elements/buttons';
@use 'formation-overrides/elements/inputs';
@use 'formation-overrides/elements/labels';
@use 'formation-overrides/elements/typography';
@use 'formation-overrides/components/alerts';
@use 'formation-overrides/components/banner';
@use 'formation-overrides/components/forms';
@use 'formation-overrides/components/media-block' as fo_media_block; // TODO: Remove this when replaced with USWDS v3 classes
@use 'formation-overrides/components/side-nav';

// ---- USWDS v3 --- //
@use 'elements/lists';
@use 'elements/media-block';

@use 'base/va';
