@use "../../dist/tokens/scss/variables" as *;

@forward 'uswds-theme';
@use 'uswds-fonts';

@use './core-variables' as *;

//============ VENDOR PARTIALS ==============//
@import 'lib/normalize';

// Grid/columns classes
@import "./formation-overrides/foundation-sites";

//============ PORTED VARIABLES ==============//
@import './formation-overrides/variables';

// ----- VA GENERAL (MAIN FILE/OTHER) ---- //
@import 'base/fonts';
@import 'base/utils';

//============ USWDS v1 ==============//
@import 'formation-overrides/core/fonts';
@import 'formation-overrides/core/utilities';
@import 'formation-overrides/core/base';

// ---- USWDS v1 STANDARDS ELEMENTS/COMPONENTS --- //
@import 'formation-overrides/elements/buttons';
@import 'formation-overrides/elements/inputs';
@import 'formation-overrides/elements/labels';
@import 'formation-overrides/elements/typography';
@import 'formation-overrides/components/alerts';
@import 'formation-overrides/components/banner';
@import 'formation-overrides/components/forms';
@import 'formation-overrides/components/side-nav';

// ---- USWDS v3 --- //
@import 'elements/lists';
@import 'elements/media-block';

@import 'base/va';
