@use "../../dist/tokens/scss/variables" as *;

@forward 'uswds-theme';

@use './core-variables' as *;

//============ MIXINS & OTHER FUNCTIONS ==============//
@use './override-function' as *;
@use './functions' as *;
@use './mixins' as *;

//============ VENDOR PARTIALS ==============//
@import 'lib/normalize';

//============ PORTED VARIABLES ==============//
@import './formation-overrides/variables';

//============ USWDS v1 ==============//
@import 'formation-overrides/core/fonts';
@import 'formation-overrides/core/utilities';
@import 'formation-overrides/core/base';

// ---- USWDS v1 STANDARDS ELEMENTS/COMPONENTS --- //
@import 'formation-overrides/elements/buttons';
@import 'formation-overrides/elements/inputs';
@import 'formation-overrides/elements/labels';
@import 'formation-overrides/elements/lists';
@import 'formation-overrides/elements/table';
@import 'formation-overrides/elements/typography';
@import 'formation-overrides/components/accordions';
@import 'formation-overrides/components/alerts';
@import 'formation-overrides/components/banner';
@import 'formation-overrides/components/forms';
@import 'formation-overrides/components/media-block';
@import 'formation-overrides/components/side-nav';

// ----- VA GENERAL (MAIN FILE/OTHER) ---- //
@import 'base/va';
@forward 'shame' as *;
@forward 'base/fonts';
@forward 'base/utils';

// ----- VA MODULES ---- //
@import 'modules/m-external-link';
