/*! This is intentionally left empty for now */

// Eventually this may have things like:
//
// p {
//    @include @usa-paragraph
// }

/**
  THIS STYLES BELOW ARE ONLY HERE FOR COMPONENT-LIBRARY COMPATIBILITY.
  AND WILL BE MOVED TO /base/_va.scss FOR THE 16px ROOT FONT SIZE UPDATE.
**/

@use "../../dist/tokens/scss/variables" as *;

@import 'uswds-core/src/styles/mixins/typography/usa-content-styles';

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-weight: 500;
}

body {
  background: $vads-color-white;
  color: $vads-color-base;
}

article > h1 {
  margin-top: 0;
}

hr {
  margin: 2.5em 0;
  margin: 48px 0 40px; // converted to 16px base font: 3rem 0 2.5rem
  border: 1px solid $vads-color-base-light;
}

#content abbr {
  border-bottom: 0px;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: $vads-color-link;
  text-decoration: underline;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;

  &:hover {
    background-color: $color-link-default-hover;
    color: inherit;
    text-decoration: underline;
  }
  &:active {
    background: $color-link-default-hover;
  }
  &:visited,
  &:visited abbr {
    color: $vads-color-link-visited;
  }
}

// ====== Headings

// H1 should only be used once at the top-level, so we can safely remove the margin-top.
h1 {
  margin-top: 0;
}

@include usa-headings-styles;

h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
  font-weight: 700;
}

h6 {
  font-family: $font-family-sans;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.5rem;
}

@media (max-width: $small-screen)  {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }
}

h6 {
  margin: 0.5em 0 0;
  text-transform: none;
  font-weight: 700;
}

//======= Lists
ul {
  padding: 0 0 0 1.5em;
  list-style: square;
}

ol {
  margin: 0 0 0 1.25em;
  list-style-position: outside;
}

ul,
ol {
  > ul,
  ol {
    margin: 0.5em 0 0.5em 1.2em;
  }
}

// Definition lists
dd {
  margin-left: 0;
}

dd + dt {
  margin-top: 1.5em;
}

// Figure / Caption
figure {
  font-size: 0.85em;
  margin-left: -15px; // converted to 16px base font: -1.875rem/2
  margin-right: -15px; // converted to 16px base font: -1.875rem/2

  @media screen and (min-width: $large-screen), print and (min-width: $large-screen) {
    margin-left: -16.66667%;
    margin-right: -16.66667%;
  }
}

figcaption {
  color: $vads-color-primary-darker;
}

input::-webkit-input-placeholder {
  color: $vads-color-base-dark;
}
input::-moz-placeholder {
  color: $vads-color-base-dark;
}

input:-ms-input-placeholder {
  color: $vads-color-base-dark;
}

// Visually clear placeholder text on focus
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

// Notice / feedback banners
.va-notice--banner {
  p {
    margin: 0;
  }
  a {
    background-image: none;
    color: inherit;
    padding: 0;
  }
}