//============================================
// Created: 3/12/18
// This file contains type overrides for mobile breakpoints only
// See: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/6214
// ===========================================

@use "../../dist/tokens/scss/variables" as *;

@media (max-width: $small-screen)  {

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .va-introtext {
    font-size: 1rem;
  }
}
