@forward 'uswds-theme';

@use 'uswds-core/src/styles/mixins/utility-builder' as *;
@use 'uswds-core/src/styles/functions' as *;
@use '../utilities' as *;

$utilities-package: map-collect(
  $u-bg-color,
  $u-border,
  $u-color,
  $u-display,
  $u-flex-grid,
  $u-flexbox,
  $u-font,
  $u-height,
  $u-line-height,
  $u-margin,
  $u-measure,
  $u-padding,
  $u-position,
  $u-text-align,
  $u-text-decoration,
  $u-visibility,
  $u-width
);

// Generate all utility classes from USWDS function
@include render-utilities-in($utilities-package);

// Generate medium screen breakpoint utility classes.
$medium-screen-breakpoint: 768px;
$breakpoint-class-name: 'medium-screen';

@mixin generate-utilities-from-deep-map($collection, $unquote: false) {
  @each $property, $property-map in $collection { 
    $u-base: map-get($property-map, base);
    $u-values: map-get($property-map, values);
    $u-property: map-get($property-map, property);

    @each $name, $value in $u-values {
      @if $unquote {
        .#{$breakpoint-class-name}\:#{$u-base}-#{$name} {
          #{$u-property}: unquote($value);
        }
      } @else {
        .#{$breakpoint-class-name}\:#{$u-base}-#{$name} {
          #{$u-property}: $value;
        }
      }
    }
  }
}

@media all and (min-width: $medium-screen-breakpoint) {
  // border
  $u-border-base: map-get(map-get($u-border, border), base);
  $u-border-values: map-get(map-get($u-border, border), values);
  $u-border-modifiers: map-get(map-get($u-border, border), modifiers);

  @each $modifier, $modifier-value in $u-border-modifiers {
    @each $name, $value in $u-border-values {
      .#{$breakpoint-class-name}\:#{$u-border-base}#{$modifier-value}-#{$name} {
        @if $modifier == 'noModifier' {
          border: unquote($value);
        } @else {
          border#{$modifier-value}: unquote($value);
        }
      }
    }
  }

  // display
  @include generate-utilities-from-deep-map($u-display, $unquote: true);

  // flexbox
  @include generate-utilities-from-deep-map($u-flexbox);

  // TODO: flex-grid
  // @debug $u-flex-grid;

  // u-font
  @include generate-utilities-from-deep-map($u-font);
}
