@import '../va-date/va-date.css';
@import '../../mixins/form-field-error.css';

.input-month,
.input-day,
.input-year {
  margin-right: 1.6rem;
}

.input-month,
.input-day {
  width: 4.8rem;
}

.input-year {
  width: 7.2rem;
}

.input-month input,
.input-day input,
.input-year input {
  padding: 0.8rem;
}

#dateHint {
  padding: 0.8rem 0 0;
  color: var(--color-gray);
  line-height: 1.5;
}

slot:not([name])::slotted(*) {
  margin-bottom: 0.8rem;
}

#error-message {
  margin-bottom: 0.8rem;
}