@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-form/src/styles/usa-form';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-form-group/src/styles/usa-form-group';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-memorable-date/src/styles/usa-memorable-date';

@import '../../mixins/uswds-error-border.scss';
@import '../../global/formation_overrides';
@import '../../mixins/focusable.css';
@import '../../mixins/form-field-error.css';

@import '~@department-of-veterans-affairs/css-library/dist/elements.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
  margin-top: 24px;
}

#error-message {
  margin-bottom: 0;
}

.usa-hint {
  display: block;
}

slot:not([name])::slotted(*) {
  margin-bottom: 0.8rem;
}

va-select::part(label),
va-text-input::part(label) {
  margin-top: 0;
  margin-bottom: 12px;
}

va-text-input::part(validation) {
  display: none;
}

.usa-memorable-date {
  margin-top: 16px;
  // USWDS v3.7.1 set flex-wrap: wrap; This caused the year to always wrap when the month select option was active.
  flex-wrap: nowrap;
}

.usa-form-group--month {
  margin-right: 16px;
}

.usa-form-group--month-input {
  width: 48px;
}

@media (max-width: 480px) {
  .usa-form-group--month-select {
    width: 100%;
  }
  .usa-form-group--select {
    flex: 0 1 50%;
    width: 50%;
  }
}
