@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";
@import '../../mixins/links.css';

:host {
  display: block;
  font-size: 1rem;
}

/* Add left side blue border if disable border prop disabled or not present */
:host(:not([disable-border])) a[aria-expanded='true'] ~ #info,
:host([disable-border='false']) a[aria-expanded='true'] ~ #info {
  padding-left: var(--units-2);
  border-left: 4px solid transparent;
  border-left-color: var(--vads-color-primary-alt-darkest);
}

#info {
  overflow: hidden;
}

#info.closed {
  visibility: hidden;
}

a {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
}

.additional-info-title {
  border-bottom-right-radius: 1px;
  border-bottom: 2px dotted var(--vads-color-primary-alt-darkest);
  color: var(--vads-color-base-darker);
  cursor: pointer;
}

.closed {
  opacity: 0;
  max-height: 0;
}

.open {
  height: auto;
  opacity: 1;
  transition: max-height 700ms 0ms, opacity 500ms 200ms, visibility 500ms 200ms;
  max-height: var(--calc-max-height);
  margin-bottom: var(--units-2);
  margin-top: var(--units-2);
}

.additional-info-icon {
  display: inline-block;
  color: var(--vads-color-primary-alt-darkest);
  font-size: 1rem;
  transform: rotate(90deg);
  transition: transform 0.15s linear;
  line-height: 1;
  vertical-align: bottom;
}

a[aria-expanded='true'] .additional-info-icon {
  transform: rotate(270deg);
  transition: transform 0.15s linear;
}

::slotted(*:first-child) {
  margin-top: 0 !important;
}

::slotted(*:last-child) {
  margin-bottom: 0 !important;
}
