@import '../../mixins/focusable.css';

:host {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary-darker);
}

.va-footer {
  box-sizing: border-box;
  width: 1000px;
  padding: 32px 8px;

  img.va-logo {
    width: 200px;
  }
}