@forward 'settings';
@use 'usa-table/src/styles/usa-table';
@use 'uswds-helpers/src/styles/usa-sr-only';

:host {
  td slot::slotted(span:empty)::before,
  th slot::slotted(span:empty)::before {
    content: '---';
    font-weight: normal;
  }
}

:host {
  display: block;
  font-family: var(--font-source-sans);
  font-size: 1.06rem;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

:host .va-table--full-width {
  display: flex;

  table {
    flex: auto;
  }
}

:host thead tr th {
  button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;

    &:focus {
      outline: 2px solid var(--vads-color-action-focus-on-light);
    }
  }
}

:host .usa-table th[data-sortable="false"] {
  padding-right: 0;
}

// Defining here since it's not currently being "included" by Storybook
:host .vads-u-text-align--right {
  text-align: right;
}

::slotted([slot='headers']) {
  background: var(--vads-color-base-lightest);
  font-weight: 700;
}

caption {
  text-align: left;
  padding: 0 0 0.313rem;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: var(--font-serif);
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 768px) {
  ::slotted(va-table-row) {
    border-bottom: 1px solid var(--vads-color-gray-medium);
  }
  ::slotted(va-table-row):first-child {
    border-top: 1px solid var(--vads-color-gray-medium);
  }
}

@media screen and (max-width: 29.99em) {
  .usa-table--stacked th,
  .usa-table--stacked td {
    width: auto;
  }
}
