@forward 'settings';
@use 'usa-table/src/styles/usa-table';

:host {
  td slot::slotted(span:empty)::before,
  th slot::slotted(span:empty)::before {
   content: "---";
   font-weight: normal;
  }
}

:host {
  display: table;
  font-family: var(--font-source-sans);
  font-size: 1.06rem;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

::slotted([slot='headers']) {
  background: var(--vads-color-base-lightest);
  font-weight: 700;
}

caption {
  text-align: left;
  padding: 0 0 0.313rem;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: var(--font-serif);
  margin-bottom: .75rem;
}

@media screen and (max-width: 768px) {
  thead, ::slotted([slot=headers]) {
    display: none;
  }

  ::slotted(va-table-row) {
    border-bottom: 1px solid var(--vads-color-gray-medium);
  }
  ::slotted(va-table-row):first-child {
    border-top: 1px solid var(--vads-color-gray-medium);
  }
}

@media screen and (max-width: 29.99em) {
  .usa-table--stacked th, .usa-table--stacked td {
    width: auto;
  }
}