version: 2.1
orbs:
  aws-cli: circleci/aws-cli@1.3.1

commands:
  copy-to-s3:
    description: "Copies a directory to a bucket (and folder) in S3"
    parameters:
      source:
        description: "The local directory to copy"
        type: string
      bucket:
        description: "The S3 bucket (and optional folder) to copy everything to"
        type: string
    steps:
      - run: aws s3 cp << parameters.source >> s3://<< parameters.bucket >> --recursive --acl public-read

jobs:
  publish-storybook:
    executor: aws-cli/default
    environment:
      AWS_DEFAULT_REGION: us-gov-west-1
    parameters:
      bucket:
        type: string
        description: "The S3 bucket to copy the storybook build into"
    steps:
      - checkout
      - aws-cli/setup
      - run: yarn install
      - run: yarn build-storybook
      - copy-to-s3:
          source: "./storybook-static"
          bucket: "<< parameters.bucket >>/storybook"

workflows:
  publish-dev:
    jobs:
      - publish-storybook:
          filters:
            branches:
              only: master
          bucket: dev-design.va.gov
          context:
            - Platform
  publish-staging:
    jobs:
      - publish-storybook:
          filters:
            branches:
              only: master
          bucket: staging-design.va.gov
          context:
            - Platform
