/* Colors from: */
/*   https://design.va.gov/design/color-palette */
/* Fonts from: */
/*   https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/8d39616e957cb44b6664a658b2c51dca8076fe7e/packages/formation/sass/base/_b-variables.scss#L16-L17 */
:root {
  --color-base: #212121;
  --color-white: #ffffff;
  --color-gray-light: #aeb0b5;
  --color-gray-lighter: #d6d7d9;
  --color-gray-lightest: #f1f1f1;
  --color-green: #2e8540;
  --color-gold-light: #f9c642;
  --color-link-default: #004795;
  --color-link-visited: #4c2c92;
  --color-primary: #0071bb;
  --color-primary-alt-dark: #00a6d2;
  --font-source-sans: Source Sans Pro, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  --font-serif: 'Bitter';
}
