/**
  Variables ported over from Formation so that we can keep those stylesheets
  working while we work on deprecation.
**/

@import '../override-function';

$label-border-radius: 2px;
$h5-font-size: scale-rem(1.5rem);

$color-black-light: #212121;
$color-base: $color-black-light;

$color-aqua: #02bfe7;
$color-primary-alt: $color-aqua;

$color-black-light: #212121;
$color-base: $color-black-light;

$color-aqua-dark: #00a6d2;
$color-primary-alt-dark: $color-aqua-dark;

$color-aqua-darkest: #046b99;
$color-primary-alt-darkest:  $color-aqua-darkest;

$color-aqua-lightest: #e1f3f8;
$color-primary-alt-lightest: $color-aqua-lightest;

$color-gray: #5b616b;
$color-gray-dark: #323a45;

$color-red: #e31c3d;
$color-secondary: $color-red;

$color-red-dark: #cd2026;
$color-secondary-dark: $color-red-dark;

$color-red-darkest: #981b1e;
$color-secondary-darkest: $color-red-darkest;

$color-red-lightest: #f9dede;
$color-secondary-lightest: $color-red-lightest;

$color-blue-darkest: #112e51;
$color-primary-darkest: $color-blue-darkest;

$color-green: #2e8540;
$color-green-lightest:#e7f4e4;

$color-green-light: #4aa564;
$color-gray: #5b616b;
$color-gray-medium: #757575;
$color-blue:#0071bc;
$color-primary: $color-blue;
$color-gray-lighter:#d6d7d9;
$color-gray-lightest:#f1f1f1;

$color-blue: #005ea2;
$color-primary: $color-blue;
$color-primary-darker: #1a4480;

$color-cool-blue-lightest: #dce4ef;

$color-gold: #fdb81e;
$color-gold-lightest: #fff1d2;

$color-gray-light: #aeb0b5;
$color-focus: $color-gray-light;

$color-link-default:  $color-primary;

$olso-gray: #8d9297;
$color-va-modal-bg: rgba($color-gray-dark, .8);


$base-font-size: 1rem;
$input-max-width: scale-rem(46rem);
$checkbox-border-radius: 2px;
$spacing-medium: scale-rem(2rem);
$h1-font-size: scale-rem(4rem);
$h2-font-size: scale-rem(3rem);
$h3-font-size: scale-rem(2rem);
$h4-font-size: scale-rem(1.7rem);
$h5-font-size: scale-rem(1.5rem);
$h6-font-size: scale-rem(1.3rem);
$base-line-height:    1.5;
$heading-line-height: 1.3;
$lead-line-height:    1.7;
$font-bold: 700;
$base-line-height: 1.5;

$spacing-small: scale-rem(1rem);
$spacing-x-small: scale-rem(0.5rem);
$spacing-md-small: scale-rem(1.5rem);
$spacing-medium: scale-rem(2rem);

$em-base: 10px;
$base-line-height: 1.5;
$heading-line-height: 1.3;
$text-max-width: scale-rem(70rem); // Note: USWDS value is 53rem;
$lead-font-size: scale-rem(2rem);
$lead-line-height: 1.7;
$title-font-size: scale-rem(5.2rem);
$lead-max-width: scale-rem(77rem);

$site-margins-mobile: scale-rem(1.5rem);
$nav-width: 951px;
$site-margins: scale-rem(3rem);
$site-max-width: 1040px;

$sidenav-current-border-width:  scale-rem(0.4rem);

$top-layer: 300;

// Map for spacing tokens in Rems
$units:(
  0:      0,
  1px:    .1,
  .25:    .2,
  .5:     .4,
  1:      .8,
  1.5:    1.2,
  2:      1.6,
  2.5:    2,
  3:      2.4,
  4:      3.2,
  5:      4,
  6:      4.8,
  7:      5.6,
  8:      6.4,
  9:      7.2,
  10:     8,
  15:     12,
  -1px:    -.1,
  -.25:    -.2,
  -.5:     -.4,
  -1:      -.8,
  -1.5:    -1.2,
  -2:      -1.6,
  -2.5:    -2,
  -3:      -2.4,
  -4:      -3.2,
  -5:      -4,
  -6:      -4.8,
  -7:      -5.6,
  -8:      -6.4,
  -9:      -7.2,
  -10:     -8,
  -15:     -12,
);