@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-process-list/src/styles/usa-process-list';
@import '../../global/formation_overrides';

.usa-process-list__item {
  display: list-item;
}
va-process-list-item[pending='true'] .usa-process-list__heading {
  color: var(--color-gray-light);
}
va-process-list-item[active='true'] .usa-process-list__heading {
  color: var(--color-primary);
}
