@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-process-list/src/styles/usa-process-list';
@import '../../global/formation_overrides';


:host([uswds]:not([uswds='false'])) {
  counter-reset: usa-numbered-list;
}

::slotted(va-process-list-item[checkmark='true']):before {
  color: var(--vads-color-success-dark) !important;
  border-color: var(--vads-color-success-dark) !important;
  content: url(../../assets/green-check.svg) !important; // Alt text is currently not supported in FF and Safari, This is a fallback declaration (10/27/2023)
  content: url(../../assets/green-check.svg) / "Completed" !important;
}

::slotted(va-process-list-item[active='true']):before {
  color: var(--vads-color-primary) !important;
  border-color: var(--vads-color-primary) !important;
}

::slotted(va-process-list-item[pending='true']):before {
  color: var(--vads-process-list-color-text-pending-on-light) !important;
  border-color: var(--vads-color-gray-medium) !important;
}

::slotted(va-process-list-item[pending='true']) {
  color: var(--vads-process-list-color-text-pending-on-light) !important;
}

::slotted(va-process-list-item) {
  border-left: 8px solid var(--vads-color-gray-cool-light);
}

/** Original Component Style **/

:host {
  display: block;
  list-style: none;
  padding: 1.6rem 0;
  position: relative;
}

ol {
  margin: 0 0 0 2rem;
  list-style-position: outside;
}

::slotted(li:first-child) {
  counter-reset: listCounter;
}

::slotted(li) {
  counter-increment: listCounter;
  border-left: 8px solid var(--vads-color-base-light);
  padding: 0 0 3.2rem 3.2rem;
  list-style: none;
  margin: 0 !important;
}

::slotted(li):before {
  color: var(--vads-color-white);
  content: counter(listCounter);
  float: left;
  font-size: 2.08rem;
  font-weight: 700;
  text-align: center;
  width: 4rem;
  top: -0.4rem;
  margin-left: -5.6rem;
  display: block;
  border: 4px solid var(--vads-color-white);
  background: var(--vads-color-base-dark);
  border-radius: 4rem;
  position: relative;
  box-sizing: border-box !important;
}

::slotted(li:last-child) {
  border-left: 0;
  padding-left: calc(3.1rem + 8px);
}
