@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-process-list/src/styles/usa-process-list';

.usa-process-list__item {
  display: list-item;
}

.usa-process-list__heading-eyebrow {
  @extend .usa-process-list__heading; // needed for "source Sans Pro" font-family
  color: var(--vads-color-base-darker);
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--vads-font-size-source-sans-normalized);
}

va-process-list-item[pending='true'] .usa-process-list__heading {
  color: var(--vads-process-list-color-text-pending-on-light);
}
va-process-list-item[active='true'] .usa-process-list__heading {
  color: var(--vads-color-primary);
}

/* h6 remains as Source Sans Pro, everything else uses Bitter */
.usa-process-list__heading:is(h1, h2, h3, h4, h5) {
  font-family: var(--font-serif);
}

h1.usa-process-list__heading {
  font-size: 40px;
}

h2.usa-process-list__heading {
  font-size: 30px;
}

h3.usa-process-list__heading {
  font-size: 20px;
}

h4.usa-process-list__heading {
  font-size: 17px;
}

h5.usa-process-list__heading, h6.usa-process-list__heading{
  font-size: 15px;
}