@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-process-list/src/styles/usa-process-list';

*, ::after, ::before {
  box-sizing: border-box;
}

:host {
  counter-reset: usa-numbered-list;
}

::slotted(va-process-list-item[checkmark='true']):before {
  color: var(--vads-color-success-dark) !important;
  border-color: var(--vads-color-success-dark) !important;
  content: url(../../assets/green-check.svg) !important; // Alt text is currently not supported in FF and Safari, This is a fallback declaration (10/27/2023)
  content: url(../../assets/green-check.svg) / "Completed" !important;
}

::slotted(va-process-list-item[active='true']):before {
  color: var(--vads-color-primary) !important;
  border-color: var(--vads-color-primary) !important;
}

::slotted(va-process-list-item[pending='true']):before {
  color: var(--vads-process-list-color-text-pending-on-light) !important;
  border-color: var(--vads-color-gray-medium) !important;
}

::slotted(va-process-list-item[pending='true']) {
  color: var(--vads-process-list-color-text-pending-on-light) !important;
}

::slotted(va-process-list-item) {
  border-left: 8px solid var(--vads-color-gray-cool-light);
}