:host([uswds]) ::slotted(li):before {
  color: var(--v3-color-base-darkest);
  border: 4px solid var(--v3-color-base-darkest);
  background: var(--color-white);
  box-shadow: 0 0 0 4px var(--color-white);
  font-size: 22px;
  font-weight: 700;
}

:host([uswds]) ::slotted(li.checkIcon):before {
  color: var(--color-green);
  border: 4px solid var(--color-green);
  content: url(./green-check.svg);
}

:host([uswds]) ::slotted(li.activeIcon):before {
  color: var(--color-primary);
  border: 4px solid var(--color-primary);
}

:host([uswds]) ::slotted(li) {
  border-left: 8px solid var(--color-blue-cool-lightest);
}

:host([uswds]) ::slotted(li:last-child) {
  border-left: 0;
  padding-left: calc(3.1rem + 8px);
}

:host(:not([uswds])){
  
}

/** Original Component Style **/

:host {
  display: block;
  list-style: none;
  padding: 1.6rem 0;
  position: relative;
}

ol {
  margin: 0 0 0 2rem;
  list-style-position: outside;
}

::slotted(li:first-child) {
  counter-reset: listCounter;
}

::slotted(li) {
  counter-increment: listCounter;
  border-left: 8px solid var(--color-gray-light);
  padding: 0 0 3.2rem 3.2rem;
  list-style: none;
  margin: 0 !important;
}

::slotted(li):before {
  color: var(--color-white);
  content: counter(listCounter);
  float: left;
  font-size: 2.08rem;
  font-weight: 700;
  text-align: center;
  width: 4rem;
  top: -0.4rem;
  margin-left: -5.6rem;
  display: block;
  border: 4px solid var(--color-white);
  background: var(--color-gray);
  border-radius: 4rem;
  position: relative;
  box-sizing: border-box !important;
}

::slotted(li:last-child) {
  border-left: 0;
  padding-left: calc(3.1rem + 8px);
}
