.va-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background-color: var(--color-primary-darkest);
  color: var(--color-white);
  align-items: center;
  padding: 10px 8px;
  line-height: 22px;

  @media (min-width: 481px) {
    padding: 10px 16px;
  }
}

.va-logo {
  margin-right: 8px;
  min-height: 30px;
  min-width: 48px;

  &:focus {
    outline: 2px solid var(--color-gold-light);
  }

  @media (min-width: 481px) {
    margin-right: 16px;
  }
}

.header-container {
  padding-left: 8px;
  border-left: 1px solid var(--color-white);

  @media (min-width: 481px) {
    padding-left: 16px;
  }

  h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 100;
  }
}

@media(min-width: 1008px) {
  va-crisis-line-modal::part(button) {
    position: absolute;
    right: 0;
    bottom: -5px;
  }
}
