@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';

:host {
  display: block;
  --visible-checkbox-size: 2rem;
  --visible-checkbox-top-margin: 0.14rem;
}

:host p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

#error-message {
    margin-bottom: 1.2rem;
}

input {
  /* Make the clickable element the same size and position as the box */
  height: var(--visible-checkbox-size);
  width: var(--visible-checkbox-size);
  margin: var(--visible-checkbox-top-margin) 0 0 2.4rem;

  padding: 0;
  opacity: 0;
  position: absolute;
  left: auto;
  box-sizing: border-box;
}

label {
  display: block;
}

input+label {
  cursor: pointer;
  font-weight: 400;
  margin-left: 2.4rem;
  margin-top: 1.2rem;
}

/* The actual box */
input+label::before {
  display: block;
  float: left;
  margin-top: var(--visible-checkbox-top-margin);
  margin-right: 1rem;
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--color-gray-medium);
  content: "\A0";
  height: var(--visible-checkbox-size);
  width: var(--visible-checkbox-size);
}

input:checked+label::before {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
  background-image: url('../../assets/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

input:not([disabled]):focus+label:before {
  box-shadow: 0 0 0 3px var(--color-white), 0 0 4px 6px var(--color-gold-50v);
  outline: none;
}

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

::slotted([slot='description']){
  margin-top: 0 !important;
  margin-bottom: 1.2rem !important;
}
