@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-checkbox/src/styles/usa-checkbox';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-error-message/src/styles/usa-error-message';

@import '../../mixins/uswds-error-border.scss';

:host {
  display: block;
}

.usa-checkbox {
  max-width: 320px;
  background: transparent;
}

.usa-checkbox__input:focus + [class*='__label']::before {
  outline: 2px solid var(--color-gold-light);
  outline-offset: 4px;
}

/* Original Component Style */

@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host(:not([uswds='true'], [uswds=''])) {
  --visible-checkbox-size: 1.25rem;
  --visible-checkbox-top-margin: 0.14rem;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  #error-message {
    margin-bottom: 0;
  }
}

:host([error]:not([error='']):not([uswds='true'], [uswds=''])) input + label {
  margin-top: 1.2rem;
}

:host(:not([uswds='true'], [uswds=''])) {
  input {
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    left: auto;
    box-sizing: border-box;
  }

  label {
    display: block;
  }

  input + label {
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    margin-top: 1.2rem;
    width: 100%;
  }

  /* The actual box */
  input + label::before {
    display: block;
    float: left;
    margin-top: var(--visible-checkbox-top-margin);
    margin-right: 1rem;
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px var(--color-gray-medium);
    content: '\A0';
    height: var(--visible-checkbox-size);
    max-width: var(--visible-checkbox-size);
    width: 100%;
    background-color: var(--color-white);
  }

  input:checked + label::before {
    background-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
    background-image: url('../../assets/check.svg');
    background-position: 50%;
    background-repeat: no-repeat;
  }

  input:not([disabled]):focus + label:before {
    outline: 2px solid var(--color-gold-light);
    outline-offset: 2px;
  }

  .required {
    color: var(--color-secondary-dark);
    margin: 0 0.35rem;
  }

  ::slotted([slot='description']) {
    margin-top: 0 !important;
    margin-bottom: 1.2rem !important;
  }
}

:host(:not([uswds='true'], [uswds=''])[tile='true']) label {
  padding: 12px 16px 12px 12px;
  border: 2px solid var(--color-gray-light);
  border-radius: 0.25em;
  width: 320px;
}

:host(:not([uswds='true'], [uswds=''])[tile='true']) input:checked + label {
  background-color: rgba(0, 94, 162, 0.1);
  border-color: rgb(0, 94, 162);
}
