@forward 'settings';


@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-input-prefix-suffix/src/styles/usa-input-prefix-suffix';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-character-count/src/styles/_usa-character-count';

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/uswds-input-width.scss';
@import '../../mixins/focusable.css';

@import '../../mixins/headers.css';

:host(:not([uswds='false'])) {
  color: var(--vads-color-base);
}

:host {
  display: block;
  font-family: var(--font-source-sans);
}

:host(:focus) {
  outline: none !important;
}

:host(:not([uswds='false'])) input:not([disabled]):focus {
  outline: 2px solid var(--vads-color-action-focus-on-light);
  outline-offset: 2px;
}

input {
  box-sizing: border-box;
}

input.usa-input {
  color: var(--vads-color-base);
}

.usa-hint {
  display: block;
}


.currency-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  > div {
    position: absolute;
    left: 10px;
  }

  // for v3
  #symbol {
    margin-top: 8px;
  }

  #inputField {
    padding-left: 25px;
  }
}

:host([error]:not([error=""])[show-input-error]:not([show-input-error=false])) {
  // override error left border when show-input-error is set true
  border-left: 0;
  padding-left: 0;
}