:host {
    display: block;
    font-family: var(--font-source-sans);
}

label {
    display: block;
    max-width: 46rem;
    margin-top: 3rem;
}

span.required {
    color: var(--color-secondary-dark);
}

input {
    appearance: none;
    border: .1rem solid var(--color-gray);
    border-radius: 0;
    box-sizing: border-box;
    color: var(--color-base);
    display: block;
    font-size: 1.6rem;
    height: 4.2rem;
    line-height: 1.3;
    margin: 0.2em 0;
    max-width: 46rem;
    padding: 1rem 0.7em;
    width: 100%;
}

input:not([disabled]):focus {
    outline: 2px solid var(--color-gold-light);
    outline-offset: 2px;
}

#error-message {
    color: var(--color-secondary-dark);
    display: block;
}

:host([error]) {
    border-left: 4px solid var(--color-secondary-dark);
    margin-top: 3rem;
    padding-bottom: .8rem;
    padding-left: 1.5rem;
    padding-top: .8rem;
    position: relative;
    right: 1.9rem;
}

:host([error]) label, :host([error]) span {
    font-weight: 700;
}

:host([error]) input {
    border: 3px solid var(--color-secondary-dark);
}
