@forward 'settings';


@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-input-prefix-suffix/src/styles/usa-input-prefix-suffix';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-character-count/src/styles/_usa-character-count';

@use '../../mixins/uswds-error-border.scss';
@use '../../mixins/uswds-input-width.scss';
@import '../../mixins/focusable.css';

@import '../../mixins/headers.css';
:host {
  color: var(--vads-color-base);
}

:host {
  display: block;
  font-family: var(--font-source-sans);
}

.usa-input-group {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

input.usa-input {
  color: var(--vads-color-base);
}

.usa-hint {
  display: block;
}


.currency-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  > div {
    position: absolute;
    left: 10px;
  }

  // for v3
  #symbol {
    margin-top: 8px;
    z-index: 2;
  }

  #inputField {
    padding-left: 25px;
    z-index: 1;
  }
}

:host([error]:not([error=""])[show-input-error=false]) {
  // override error left border when show-input-error is set false
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}
