@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';

@import '../../mixins/uswds-error-border.scss';
@import '../../global/formation_overrides';

:host([uswds]) {
  color: $v3-color-base-darkest;
}

:host {
  display: block;
  font-family: $font-family-sans;
}

:host(:focus) {
  outline: none !important;
}

:host([uswds]) input:not([disabled]):focus {
  outline: 2px solid $color-gold-light;
  outline-offset: 2px;
}

input {
  box-sizing: border-box;
}

input.usa-input {
  color: $color-base;
}

/** Original Component Style **/

@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host(:not([uswds])) label {
  display: block;
  max-width: v1_rem_to_px(46rem);
  margin-top: v1_rem_to_px(3rem);
}

span.required {
  color: $color-secondary-dark;
}

:host(:not([uswds])) input {
  appearance: none;
  border: 1px solid $color-gray;
  border-radius: 0;
  box-sizing: border-box;
  color: $color-base;
  display: block;
  font-family: $font-family-sans;
  font-size: v1_rem_to_px($font-size-base);
  height: v1_rem_to_px(4.2rem);
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: v1_rem_to_px(46rem);
  padding: v1_rem_to_px(1rem) 0.7em;
  width: 100%;
}

:host(:not([uswds])) input:not([disabled]):focus {
  outline: 2px solid $color-gold-light;
  outline-offset: 2px;
}

:host([success]:not([success='false']):not([uswds])) input {
  border: 4px solid $color-green;
}