@forward 'settings';

@use 'usa-button/src/styles/usa-button';

@import '../../global/formation_overrides';
@import '../../mixins/focusable.css';

:host {
  display: inline-block;
}

// Styles for "primary" buttons
:host .usa-button {
  background: var(--vads-button-color-background-secondary-on-light, #FFFFFF);
  color: var(--vads-color-link);
  text-transform: uppercase;

  &:hover, &:focus {
    background: var(--vads-color-primary-lighter);
  }
}

:host .usa-button.va-button-icon--destructive {
  color: var(--vads-color-error);

  &:hover, &:focus {
    background: var(--vads-color-secondary-lightest);
  }
}

// Styles for disabled buttons
:host([disabled]:not([disabled='false'])) {
  cursor: not-allowed;
}
:host([disabled]:not([disabled='false'])) .usa-button {
  color: var(--vads-color-base);

  // Needs the aria-disabled attr to bypass USWDS' built-in styles
  &[aria-disabled="true"]:hover, &[aria-disabled="true"]:focus {
    background: var(--vads-color-base-lightest);
  }
}


// Fix to off-centered content when icon present
:host button.usa-button {
  padding-top: 8px;

  va-icon {
    display: inline-block;
    height: 0;
    vertical-align: text-top;
  }
}

// Override transparent background from USWDS v3
.usa-button--outline {
  background-color: var(--vads-button-color-background-secondary-on-light);
}

.va-button-primary--alternate {
  background: var(--vads-color-success-dark);

  &:hover,
  &:focus {
    background-color: var(--vads-button-color-background-primary-alt-active-on-light);
    text-decoration: none;
  }
}
