:host {
  display: table-row;
}
tr {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

::slotted(td) {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0.8em;
  word-wrap: break-word;
  vertical-align: top;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

::slotted(td::first-letter) {
  text-transform: capitalize;
}

::slotted(*) {
  display: table-cell;
  border: 1px solid #5b616b;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 768px) {
  tr {
    border-bottom: 1px solid var(--color-gray-medium);
  }
  tr:first-child {
    border-top: 1px solid var(--color-gray-medium);
  }

  ::slotted(td) {
    border: none !important;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }

  ::slotted(td:first-child) {
    margin-top: 16px;
  }

  ::slotted(td:last-child) {
    margin-bottom: 16px;
  }

  ::slotted(td)::before {
    /*
       * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
       */
    content: attr(data-label);
    font-weight: 700;
    padding-right: 4px;
    float: left;
  }

  ::slotted(td:last-child) {
    border-bottom: 0;
  }
}
