:host {
  display: table;
  font-family: var(--font-source-sans);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

::slotted([slot='headers']) {
  background: var(--color-gray-lightest) !important;
  font-weight: 700 !important;
}

caption {
  text-align: left;
  padding: 0 0 0.5rem;
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--font-serif);
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 768px) {
  thead {
    display: none;
  }

  ::slotted(va-table-row) {
    border-bottom: 1px solid var(--color-gray-medium);
  }
  ::slotted(va-table-row):first-child {
    border-top: 1px solid var(--color-gray-medium);
  }
}
