:host {
  display: table-row;
}

::slotted([role='cell']) {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
  word-wrap: break-word;
  vertical-align: top;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

::slotted(*::first-letter) {
  text-transform: capitalize;
}

::slotted(*) {
  display: table-cell;
  border: 1px solid var(--color-gray);
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 768px) {
  :host {
    border-bottom: 1px solid var(--color-gray-medium);
  }
  :host:first-child {
    border-top: 1px solid var(--color-gray-medium);
  }

  ::slotted([role='cell']) {
    border: none !important;
    display: flex;
    flex-direction: column;
  }

  ::slotted([role='cell']:first-child) {
    margin-top: 1.6rem;
  }

  ::slotted([role='cell']:last-child) {
    margin-bottom: 1.6rem;
    border-bottom: 0;
  }

  ::slotted([role='cell'])::before {
    /*
       * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
       */
    content: attr(data-label);
    font-weight: 700;
  }
}
