@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-button/src/styles/usa-button';
@use 'usa-button-group/src/styles/usa-button-group';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-modal/src/styles/usa-modal';

@import '../../mixins/uswds-error-border.scss';

.usa-modal-alert {
  padding: 0px; // => Due to icons
  margin-left: 1rem;
}

.usa-modal__heading,
.usa-modal--lg .usa-modal__heading {
  font-family: var(--font-serif);
}

.usa-modal {
  &:not(.usa-modal--lg) {
    width: auto; // USWDS style made it so that the modal was wider than it should be
  }

  & va-button {
    width: 100%;
  }
}

@media screen and (max-width: 481px) {
  .usa-modal__content {
    width: 85%;
  }
}

:host([status='info']) .usa-modal {
  border-left-color: var(--vads-color-primary-alt-dark);
  background-color: var(--vads-color-primary-alt-lightest);
}

:host .usa-modal__main {
  position: relative;
  margin: 0px auto;
}

:host([status='info']) .usa-modal__main::before {
  color: var(--vads-color-base-darker);
  content: '\F05A'; /* fa-circle-info */
}

:host([status='continue']) .usa-modal {
  border-left-color: var(--vads-color-success-dark);
  background-color: var(--vads-color-success-lighter);
}

:host([status='continue']) .usa-modal__main::before {
  color: var(--vads-color-base-darker);
  content: '\F023'; /* fa-lock */
}

:host([status='success']) .usa-modal {
  border-left-color: var(--vads-color-success-dark);
  background-color: var(--vads-color-success-lighter);
}

:host([status='success']) .usa-modal__main::before {
  color: var(--vads-color-base-darker);
  content: '\F00C'; /* fa-check */
}

.usa-modal__main::before {
  padding-top: 0;
  position: absolute;
  left: -1rem;
  top: 0;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.25rem;
  font-weight: 900;

  :host([large='true']) &,
  :host([large]:not([large='false'])) & {
    padding-top: 20px;
  }
}

:host([status='warning']) .usa-modal {
  border-left-color: var(--vads-color-warning);
  background-color: var(--vads-color-gold-lightest);
}

:host([status='warning']) .usa-modal__main::before {
  color: var(--vads-color-base-darker);
  content: '\F071'; /* fa-triangle-exclamation */
}

:host([status='error']) .usa-modal {
  border-left-color: var(--vads-color-secondary-dark);
  background-color: var(--vads-color-secondary-lightest);
}

:host([status='error']) .usa-modal__main::before {
  color: var(--vads-color-base-darker);
  content: '\F06A'; /* fa-circle-exclamation */
}

.va-modal-alert {
  box-sizing: border-box;
  border-left-style: solid;
  border-left-width: 10px;
  display: inline-flex;
  padding: 2rem 4rem 2rem 1.5rem;
}


/** Original Component Style **/

@import '../../mixins/buttons.css';

:host {
  display: block;

}

:host([visible]:not([visible='false'])) {
  background: rgba(50, 58, 69, 0.8);
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: 0.938rem;
  position: fixed;
  scroll-behavior: smooth;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9001;
}

:host([visible]:not([visible='false']))::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.va-modal-inner {
  background: var(--vads-color-white);
  bottom: 0;
  box-sizing: border-box;
  cursor: auto;
  display: inline-block;
  margin: 0.781rem auto;
  max-width: 25rem;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.va-modal-close {
  background-color: transparent;
  color: var(--vads-color-base-darker);
  font-size: 1.4rem;
  padding: 0;
  position: absolute;
  margin: 1rem;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9;
  white-space: nowrap;
}

.va-modal-close:hover {
  color: var(--vads-color-base);
}

.va-modal-body {
  margin-right: 1.25rem;
  overflow-wrap: break-word;
  padding: 1.25rem;
  word-break: break-word;
  word-wrap: break-word;
}

h1 {
  font-family: var(--font-serif);
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 0.3125rem;
  margin-top: 0.9375rem;
}

.va-modal-title {
  margin: 0 0 1rem 0;
}

i::before {
  -webkit-font-smoothing: antialiased;
  content: '\F057'; /* fa-times-circle*/
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  text-rendering: auto;
}

.alert-actions button {
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; */
  background-color: var(--vads-color-primary);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.alert-actions .button-secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--vads-color-primary);
  color: var(--vads-color-primary);
}

.alert-actions button:hover,
.alert-actions button:focus {
  background-color: var(--vads-color-primary-dark);
}
.alert-actions .button-secondary:hover,
.alert-actions .button-secondary:focus {
  background-color: var(--vads-color-gray-cool-light);
}

:host([uswds='false']) .va-modal-alert {
  border-left-style: solid;
  border-left-width: 10px;
  display: inline-flex;
  max-width: 37.5rem;
  padding: 2rem 4rem 2rem 1.5rem;
}

.va-modal-alert::before {
  display: block;
  width: auto;
  background: none;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.25rem;
  margin-right: 1rem;
  position: static;
  font-weight: 900;
  height: 100%;
  left: 0;
  top: 0;
}

.va-modal-alert .va-modal-alert-body {
  display: table-cell;
  padding-left: 1rem;
  padding-right: 0;
  width: 100%;
  vertical-align: middle;
}

.va-modal-alert-title {
  margin: 0 0 1.25rem 0;
}

:host([status='continue']) .va-modal-inner {
  border-left-color: var(--vads-color-success-dark);
}

:host([status='continue']) .va-modal-inner::before {
  color: var(--vads-color-success-dark);
  content: '\F023'; /* fa-lock */
}

:host([status='error']) .va-modal-inner {
  border-left-color: var(--vads-color-secondary-dark);
}

:host([status='error']) .va-modal-inner::before {
  color: var(--vads-color-secondary-dark);
  content: '\F06A'; /* fa-circle-exclamation */
}

:host([status='info']) .va-modal-inner {
  border-left-color: var(--vads-color-primary-alt-dark);
}

:host([status='info']) .va-modal-inner::before {
  content: '\F05A'; /* fa-circle-info */
}

:host([status='success']) .va-modal-inner {
  border-left-color: var(--vads-color-success-dark);
}

:host([status='success']) .va-modal-inner::before {
  color: var(--vads-color-success-dark);
  content: '\F00C'; /* fa-check */
}

:host([status='warning']) .va-modal-inner {
  border-left-color: var(--vads-color-warning);
}

:host([status='warning']) .va-modal-inner::before {
  content: '\F071'; /* fa-triangle-exclamation */
}

.va-modal-alert .alert-actions {
  margin-top: 1.5rem;
}

.va-modal-alert .alert-actions button {
  margin: 0;
}

.va-modal-alert .alert-actions button + button {
  margin-left: 1.25rem;
}

@media (max-width: 320px) {
  .alert-actions button {
    width: 100%;
  }

  .va-modal-alert .alert-actions {
    display: flex;
    flex-direction: column;
  }

  .va-modal-alert .alert-actions button + button {
    margin: 1rem 0 0 0;
  }
}

@media screen and (max-width: 481px) {
  :host([visible]:not([visible='false'])) {
    overflow-y: scroll;
  }

  .va-modal-inner {
    top: 0;
  }

  .va-modal-alert .alert-actions {
    display: flex;
    flex-direction: column;
  }

  .va-modal-alert .alert-actions button + button {
    margin: 1rem 0 0 0;
  }

  .usa-modal--lg .usa-modal__main {
    max-width: -webkit-fill-available;
    max-width: -moz-fit-content;
  }
}

:host([large]:not([large='false'])) .va-modal-inner {
  max-width: 46.875rem;
  width: 75vw;
}
