@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-button/src/styles/usa-button';
@use 'usa-button-group/src/styles/usa-button-group';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-modal/src/styles/usa-modal';

@use '~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables'
  as *;
@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/buttons.css';

:host {
  display: block;
}

:host([visible]:not([visible='false'])) {
  background: rgba(50, 58, 69, 0.8);
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: var(--vads-spacing-1);
  position: fixed;
  scroll-behavior: smooth;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9001;
}

:host([visible]:not([visible='false']))::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

// Semantic coloring for modal based on status attribute
:host([status='info']) .va-modal {
  background-color: var(--vads-color-primary-alt-lightest);
  border-left-color: var(--vads-color-primary-alt-dark);
}

:host([status='continue']) .va-modal,
:host([status='success']) .va-modal {
  background-color: var(--vads-color-success-lighter);
  border-left-color: var(--vads-color-success-dark);
}

:host([status='warning']) .va-modal {
  background-color: var(--vads-color-gold-lightest);
  border-left-color: var(--vads-color-warning);
}

:host([status='error']) .va-modal {
  background-color: var(--vads-color-secondary-lightest);
  border-left-color: var(--vads-color-secondary-dark);
}

.va-modal--lg {
  @media screen and (min-width: $mobile-lg) {
    max-width: 46.875rem;
    width: 75vw;
  }
}

// Styles for modals with status attribute set
.va-modal--status {
  border-left: var(--units-1) solid transparent;
  box-sizing: border-box;

  // Increase footer padding on larger screens to align with content
  .va-modal__footer {
    @media screen and (min-width: $mobile-lg) {
      padding-left: var(--units-5);
    }
  }
}

.va-modal__icon {
  margin-top: var(--units-0p5);

  @media screen and (min-width: $mobile-lg) {
    margin-top: 0;
  }
}

.va-modal__close {
  background-color: transparent;
  color: var(--vads-color-base-darker);
  font-size: 1.4rem;
  margin: 0 0 0 auto;
  padding: 6px; // Achieve 44x44 clickable area
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  width: auto;
  z-index: 9;

  &:hover {
    color: var(--vads-color-base);
  }
}

.va-modal__heading {
  font-family: var(--font-serif);
}

.va-modal__main {
  display: flex;
  margin: 0;
  padding: 0;

  [role='document'] {
    overflow-wrap: anywhere; // Prevent text overflowing the modal when words are longer than the modal width
    padding-left: var(--units-0p5);

    @media screen and (min-width: $mobile-lg) {
      padding-left: var(--units-1);
    }
  }
}

.va-modal__content {
  box-sizing: border-box;
  flex-direction: column; // Override USWDS column-reverse
  padding: var(--vads-spacing-5) var(--vads-spacing-1p5) var(--vads-spacing-4);

  @media screen and (min-width: $mobile-lg) {
    padding-left: var(--vads-spacing-4);
    padding-right: var(--vads-spacing-4);
  }
}

.va-modal__footer {
  display: grid;
  gap: var(--vads-spacing-1);

  va-button {
    overflow-wrap: anywhere; // Prevent text overflowing the modal when words are longer than the modal width
  }
}

// On larger screens, display buttons in a row and allow them to size based on their content
.va-modal--lg .va-modal__footer {
  @media screen and (min-width: $medium-screen) {
    display: flex;

    va-button {
      width: auto;
    }
  }
}
