:host {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-gray-lightest);
  color: var(--color-link-default);
  font-weight: 700;
}

.va-banner-body {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.va-banner-body > i {
  display: none;
  text-align: center;
  width: 100%;
  font-size: 2.15rem;
  background-color: var(--color-white);
  border-radius: 50%;
  height: 100%;
  height: 4.2rem;
  position: relative;
  width: 4.2rem;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.va-banner-body > i::before {
  position: relative;
  top: 0.8rem;
}

.va-banner-body > i.announcement::before {
  content: '\F0A1'; /* fa-bullhorn */
}

.va-banner-body > i.news::before {
  content: '\F1EA'; /* fa-newspaper */
}

.va-banner-body > i.email-signup::before {
  content: '\F0E0'; /* fa-envelope */
}

.va-banner-content-link {
  padding: 0.8rem;
  line-height: 2;
  text-decoration: none;
  color: var(--color-link-default);
  flex-grow: 2;
  border-right: 1px solid var(--color-gray-lighter);
}

.va-banner-content-link:hover {
  text-decoration: underline;
}

.va-banner-content-link i::before {
  content: '\F105'; /* fa-angle-right */
}

button {
  background: none;
  background-color: transparent;
  color: var(--color-link-default);
  border: none;
  font-size: 2rem;
  padding: 0 1.6rem;
}

button:hover {
  cursor: pointer;
}

button i::before {
  content: '\F057'; /* fa-times-circle */
}

i {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .va-banner-body > i {
    display: block;
  }

  .va-banner-content-link {
    border: none;
  }
}
