@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";

:host {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--vads-color-base-lightest);
  color: var(--vads-color-link);
  font-weight: 700;
}

.va-banner-body {
  max-width: 62.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.va-promo-banner__icon {
  background-color: var(--vads-color-white);
  border-radius: 50%;
  height: 42px;
  width: 42px;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
}

@media (max-width: 767px) {
  .va-promo-banner__icon {
    display: none;
  }
}

.va-banner-content-link {
  padding: 0.5rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: var(--vads-color-link);
  flex-grow: 2;
  border-right: 1px solid var(--vads-color-base-lighter);
}

.va-banner-content-link:hover {
  text-decoration: underline;
}

button {
  background: none;
  background-color: transparent;
  color: var(--vads-color-link);
  border: none;
  font-size: 1.25rem;
  padding: 0 1rem;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .va-banner-body > i {
    display: block;
  }

  .va-banner-content-link {
    border: none;
  }
}
