:host {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--vads-color-base-lightest);
  color: var(--vads-color-link);
  font-weight: 700;
}

.va-banner-body {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.va-promo-banner__icon {
  background-color: var(--vads-color-white);
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
}

@media (max-width: 767px) {
  .va-promo-banner__icon {
    display: none;
  }
}

.va-banner-content-link {
  padding: 0.8rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: var(--vads-color-link);
  flex-grow: 2;
  border-right: 1px solid var(--vads-color-base-lighter);
}

.va-banner-content-link:hover {
  text-decoration: underline;
}

button {
  background: none;
  background-color: transparent;
  color: var(--vads-color-link);
  border: none;
  font-size: 2rem;
  padding: 0 1.6rem;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .va-banner-body > i {
    display: block;
  }

  .va-banner-content-link {
    border: none;
  }
}
