@import '../va-date/va-date.css';

.input-month,
.input-day,
.input-year {
  margin-right: 1.6rem;
}

.input-month,
.input-day {
  width: 4.8rem;
}

.input-year {
  width: 7.2rem;
}

.input-month input,
.input-day input,
.input-year input {
  padding: 0.8rem;
}

#dateHint {
  padding: 0.8rem 0 1.6rem;
}

:host([error]:not([error=''])) #dateHint {
  padding: 0.8rem 0 0;
}
