@import '../va-date/va-date.css';

:host {
  color: var(--color-gray);
}

legend {
  color: var(--color-base);
}

.input-month,
.input-day,
.input-year {
  margin-right: 1.6rem;
}

.input-month,
.input-day {
  width: 4.8rem;
}

.input-year {
  width: 7.2rem;
}

.input-month input,
.input-day input,
.input-year input {
  padding: 0.8rem;
}

#dateHint {
  padding: 0.8rem 0 0.8rem;
  color: var(--color-gray);
}

.date-container {
  color: var(--color-base);
  padding-top: 0.8rem;
}

:host([error]:not([error=''])) .date-container {
  padding-top: 0;
}

:host([error]:not([error=''])) .error-message {
  padding-top: 0.8rem;
}
