.va-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background-color: var(--vads-color-primary-darker);
  color: var(--vads-button-color-text-primary-alt-on-light);
  align-items: center;
  padding: 10px var(--units-1, 0.5rem);
  line-height: var(--vads-font-line-height-2, 1.5);

  @media (min-width: 481px) {
    padding: var(--units-1, 0.5rem) var(--units-1, 1rem);
  }
}

.va-logo-link:focus {
  outline: 2px solid var(--vads-color-action-focus-on-light);
}

.va-logo {
  margin-right: var(--units-1);
  min-height:  var(--units-4);
  min-width: var(--units-6);

  @media (min-width: 481px) {
    margin-right: var(--units-2);
  }
}

.header-container {
  padding-left: var(--units-1);
  border-left: 1px solid var(--vads-color-white);

  @media (min-width: 481px) {
    padding-left: var(--units-2);
  }

  h1, .header {
    font-size: var(--font-size-lg);
    margin: 0;
    font-weight: 700;
  }
  h2, .subheader {
    font-size: var(--font-size-lg);
    margin: 0;
    font-weight: 100;
  }
}

@media(min-width: 1008px) {
  va-crisis-line-modal::part(button) {
    position: absolute;
    right: 0;
    bottom: var(--units-neg-1);
  }
}
