@forward 'settings';

@use 'usa-summary-box/src/styles/usa-summary-box';
@import '../../global/formation_overrides';

.usa-summary-box {
  font-size: 16px;
}

:host {
  display: block;
}

.feature {
  background: var(--color-primary-alt-lightest);
  padding: 1em;
  clear: both;
  margin: 1.5em 0 1.5em 0;
}

::slotted([slot='headline']) {
  font-family: var(--font-serif);
  margin-top: 0 !important;
}

::slotted(p) {
  font-family: var(--font-source-sans);
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0.5em;
}

::slotted(ul) {
  margin: 0 0 0.5em 1.5em !important;
  padding: 0 !important;
}

::slotted(li) {
  list-style: square;
  margin: 0;
}
