@import '@department-of-veterans-affairs/formation/sass/base/_b-variables.scss';

// Applies only to Secondary buttons
// 2nd child represents a mock active state
// 3rd child represents a mock hover state
[name='Secondary Buttons'] {
  // Mocks state styles for active and hover buttons
  & button:nth-child(2),
  & button:nth-child(3) {
    background-color: $color-cool-blue-lightest;
  }

  // Adds focus styling for hover state
  & button:nth-child(3):focus {
    border-color: $color-primary;
    box-shadow: inset 0 0 0 2px $color-primary;
    color: $color-primary;
  }
}

// Active buttons
[name='Primary Buttons'],
[name='Secondary Buttons'] {
  // Mocks focus state without requiring focus
  & button:nth-child(2) {
    outline: 2px solid $color-gold-light;
    outline-offset: 2px;
  }
}
