[name='Secondary Buttons'] {
  & button:nth-child(2) {
    background-color: #dce4ef;
  }
  & button:nth-child(3):focus {
    border-color: #0071bb;
    box-shadow: inset 0 0 0 2px #0071bb;
    color: #0071bb;
  }
}

[name='Continue Buttons'] {
  & button:not(:first-child) {
    background-color: #195c27 !important;
  }
}

// Active buttons
[name='Primary Buttons'],
[name='Secondary Buttons'],
[name='Continue Buttons'] {
  & button:nth-child(2) {
    outline: 2px solid #f9c642;
    outline-offset: 2px;
  }
}
