@import '/../../packages/web-components/src/global/variables.css';

.color-block {
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    &.border {
        border: 1px solid var(--color-gray-light);
        color: var(--color-gray-light);
    }
    &.text-dark {
        color: var(--color-gray-dark);
    }
    &.text-light {
        color: var(--color-white);
    }
}

.discovery-strong {
    font-weight: 900;
    font-size: 18px;
}