:host {
  display: block;
}

td {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0.8em;
}

td {
  word-wrap: break-word;
  vertical-align: top;
}

tr {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

td::first-letter {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  tr {
    border-bottom: 1px solid var(--color-gray-medium);
  }
  tr:first-child {
    border-top: 1px solid var(--color-gray-medium);
  }

  td {
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }

  td:first-child {
    margin-top: 16px;
  }

  td:last-child {
    margin-bottom: 16px;
  }

  td::before {
    /*
       * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
       */
    content: attr(data-label);
    font-weight: 700;
    padding-right: 4px;
    float: left;
  }

  td:last-child {
    border-bottom: 0;
  }
}
