:host {
  display: block;
}

table {
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;

  th {
    vertical-align: bottom;
  }

  td {
    word-wrap: break-word;
    vertical-align: top;
  }

  td::first-letter {
    text-transform: capitalize;
  }
}

@media screen and (max-width: $medium-screen) {
  table {
    border: 0;
    thead {
      display: none;
    }

    tr {
      border-bottom: 1px solid $color-gray-medium;

      &:first-child {
        border-top: 1px solid $color-gray-medium !important;
      }
    }

    td {
      border: none;
      font-size: 16px;
      display: flex;
      flex-direction: column;
    }

    td:first-child {
      margin-top: 16px;
    }

    td:last-child {
      margin-bottom: 16px;
    }

    td::before {
      /*
       * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
       */
      content: attr(data-label);
      font-weight: bold;
      padding-right: 4px;
      float: left;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}
