:host {
  display: block;
}

table {
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

thead th {
  background-color: var(--color-gray-lightest);
}

th {
  vertical-align: bottom;
}

td,
th {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0.8em;
}

td {
  word-wrap: break-word;
  vertical-align: top;
}

tr {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

td::first-letter {
  text-transform: capitalize;
}
