@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-button/src/styles/usa-button';

@import '../../global/formation_overrides';

:host {
  display: inline-block;
}
:host([disabled]:not([disabled='false'])) button {
  pointer-events: none;
}

:host([disabled]:not([disabled='false'])) {
  cursor: not-allowed;
}

// Fix to off-centered content in V3 when icon present
:host([back]:not([back='false'])), :host([continue]:not([continue='false'])) {
  button.usa-button {
    padding-top: 8px;
  }
}
.va-button--icon {
  display: inline-block;
  height: 0;
  vertical-align: text-top;
}
:host([big]:not([big="false"]):is([back], [continue])) {
  button.usa-button {
    padding-top: 12px;
  }
  .va-button--icon {
    vertical-align: sub;
  }
}

// Override transparent background from USWDS v3
.usa-button--outline {
  background-color: var(--vads-button-color-background-secondary-on-light);
}

.va-button-primary--alternate {
  background: var(--vads-color-success-dark);

  &:hover,
  &:focus {
    background-color: var(--vads-button-color-background-primary-alt-active-on-light);
    text-decoration: none;
  }
}

/* Original Component Styles. */

// @import '../../mixins/accessibility.css';
@import '../../mixins/buttons.css';

:host([uswds='false']) {
  button {
    align-items: center;
    background-color: var(--vads-color-primary);
    border-radius: 5px;
    color: var(--vads-button-color-text-primary-alt-on-light);
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    margin: 0.5em 0.5em 0.5em 0;
  }

  button:hover,
  button:focus {
    background-color: var(--vads-color-primary-dark);
  }

  button:active {
    background-color: var(--vads-color-primary-darker);
  }

  button.va-button-primary--alternate {
    background: var(--vads-color-success-dark);

    &:hover,
    &:focus {
      background-color: var(--vads-button-color-background-primary-alt-active-on-light);
      text-decoration: none;
    }
  }
}

:host([uswds='false'][back]:not([back='false'])) button,
:host([uswds='false'][secondary]:not([secondary='false'])) button {
  background-color: var(--vads-button-color-background-secondary-on-light);
  box-shadow: inset 0 0 0 2px var(--vads-color-primary);
  color: var(--vads-color-primary);
}

:host([uswds='false'][back]:not([back='false'])) button:active,
:host([uswds='false'][back]:not([back='false'])) button:hover,
:host([uswds='false'][secondary]:not([secondary='false'])) button:active,
:host([uswds='false'][secondary]:not([secondary='false'])) button:hover {
  background-color: var(--vads-color-gray-cool-light);
  box-shadow: inset 0 0 0 2px var(--vads-color-primary-dark);
  color: var(--vads-color-primary-dark);
}

:host([uswds='false'][back]:not([back='false'])) button:focus,
:host([uswds='false'][secondary]:not([secondary='false'])) button:focus {
  background-color: var(--vads-color-gray-cool-light);
  box-shadow: inset 0 0 0 2px var(--vads-color-primary);
  color: var(--vads-color-primary);
}

:host([uswds='false'][big]:not([big='false'])) button {
  border-radius: 8px;
  font-size: 2.4rem;
  padding: 1.5rem 3rem;
}

:host([uswds='false'][disabled]:not([disabled='false'])) button {
  background-color: var(--vads-color-base-lighter);
  box-shadow: none;
  color: var(--vads-button-color-text-primary-alt-on-light);
}
