@import '../../mixins/buttons.css';

:host {
  display: inline-block;
}

button {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 5px;
  color: var(--color-white);
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0.5em 0.5em 0.5em 0;
}

button:active,
button:hover {
  background-color: var(--color-primary-darker);
}

:host([back]:not([back='false'])) button,
:host([secondary]:not([secondary='false'])) button {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  color: var(--color-primary);
}

:host([back]:not([back='false'])) button:hover,
:host([secondary]:not([secondary='false'])) button:hover {
  box-shadow: inset 0 0 0 2px var(--color-primary-darker);
  color: var(--color-primary-darker);
}

:host([back]:not([back='false'])) button:active,
:host([back]:not([back='false'])) button:focus,
:host([back]:not([back='false'])) button:hover,
:host([secondary]:not([secondary='false'])) button:active,
:host([secondary]:not([secondary='false'])) button:focus,
:host([secondary]:not([secondary='false'])) button:hover {
  background-color: var(--color-gray-cool-light);
}

:host([big]:not([big='false'])) button {
  border-radius: 8px;
  font-size: 2.4rem;
  padding: 1.5rem 3rem;
}

i {
  font-family: 'Font Awesome 5 Free';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
}

i.fa-angles-left::before {
  content: '\F100';
  margin-right: 8px;
}

i.fa-angles-right::before {
  content: '\F101';
  margin-left: 8px;
}

:host([disabled]:not([disabled='false'])) button {
  background-color: var(--color-gray-lighter);
  box-shadow: none;
  color: var(--color-white);
  pointer-events: none;
}

:host([disabled]:not([disabled='false'])) {
  cursor: not-allowed;
}
