@forward 'settings';

@use 'usa-button/src/styles/usa-button';

:host {
  display: inline-block;
}
:host([disabled]:not([disabled='false'])) button {
  pointer-events: none;
}

:host([disabled]:not([disabled='false'])) {
  cursor: not-allowed;
}

// Override transparent background from USWDS v3
.usa-button--outline {
  background-color: var(--color-white);
}

.va-button-primary--alternate {
  background: var(--color-green);

  &:hover,
  &:focus {
    background-color: var(--color-green-darker);
    text-decoration: none;
  }
}

/* Original Component Styles. */

@import '../../mixins/buttons.css';

:host(:not([uswds='true'], [uswds=''])) {
  button {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-white);
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    margin: 0.5em 0.5em 0.5em 0;
  }

  button:hover,
  button:focus {
    background-color: var(--color-primary-dark);
  }

  button:active {
    background-color: var(--color-primary-darker);
  }

  button.va-button-primary--alternate {
    background: var(--color-green);

    &:hover,
    &:focus {
      background-color: var(--color-green-darker);
      text-decoration: none;
    }
  }
}

:host(:not([uswds='true'], [uswds=''])[back]:not([back='false'])) button,
:host(:not([uswds='true'], [uswds=''])[secondary]:not([secondary='false'])) button {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  color: var(--color-primary);
}

:host(:not([uswds='true'], [uswds=''])[back]:not([back='false'])) button:active,
:host(:not([uswds='true'], [uswds=''])[back]:not([back='false'])) button:hover,
:host(:not([uswds='true'], [uswds=''])[secondary]:not([secondary='false'])) button:active,
:host(:not([uswds='true'], [uswds=''])[secondary]:not([secondary='false'])) button:hover {
  background-color: var(--color-gray-cool-light);
  box-shadow: inset 0 0 0 2px var(--color-primary-dark);
  color: var(--color-primary-dark);
}

:host(:not([uswds='true'], [uswds=''])[back]:not([back='false'])) button:focus,
:host(:not([uswds='true'], [uswds=''])[secondary]:not([secondary='false'])) button:focus {
  background-color: var(--color-gray-cool-light);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  color: var(--color-primary);
}

:host(:not([uswds='true'], [uswds=''])[big]:not([big='false'])) button {
  border-radius: 8px;
  font-size: 2.4rem;
  padding: 1.5rem 3rem;
}

i {
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
}

i.fa-angles-left::before {
  content: '\F100';
  margin-right: 8px;
}

i.fa-angles-right::before {
  content: '\F101';
  margin-left: 8px;
}

:host(:not([uswds='true'], [uswds=''])[disabled]:not([disabled='false'])) button {
  background-color: var(--color-gray-lighter);
  box-shadow: none;
  color: var(--color-white);
}
