@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-button/src/styles/usa-button';

:host {
  display: inline-block;
}
:host([disabled]:not([disabled='false'])) button {
  pointer-events: none;
}

:host([disabled]:not([disabled='false'])) {
  cursor: not-allowed;
}


:host([big]:not([big="false"]):is([back], [continue])) {
  .usa-button--big {
    padding-top: 14px;
  }
}

// Override transparent background from USWDS v3
.usa-button.usa-button--outline {
  background-color: var(--vads-button-color-background-secondary-on-light);

  &:hover,
  &:focus {
    background-color: var(--vads-button-color-background-secondary-on-light);
    text-decoration: none;
  }

}

.va-button-primary--alternate {
  background: var(--vads-color-success-dark);

  &:hover,
  &:focus {
    background-color: var(--vads-button-color-background-primary-alt-active-on-light);
    text-decoration: none;
  }
}

@import '../../mixins/focusable.css';
