.flag {
  background-image: url('./flags.webp');
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  width: 21px;
  height: 16px;
  background-size: 329px 322px;
}

.flag-ad {
  background-position: -0px -0px;
}

.flag-ae {
  background-position: -22px -0px;
}

.flag-af {
  background-position: -0px -17px;
}

.flag-ag {
  background-position: -22px -17px;
}

.flag-ai {
  background-position: -44px -0px;
}

.flag-al {
  background-position: -44px -17px;
}

.flag-am {
  background-position: -0px -34px;
}

.flag-ao {
  background-position: -22px -34px;
}

.flag-aq {
  background-position: -44px -34px;
}

.flag-ar {
  background-position: -66px -0px;
}

.flag-arab {
  background-position: -66px -17px;
}

.flag-as {
  background-position: -66px -34px;
}

.flag-asean {
  background-position: -0px -51px;
}

.flag-at {
  background-position: -22px -51px;
}

.flag-au {
  background-position: -44px -51px;
}

.flag-aw {
  background-position: -66px -51px;
}

.flag-ax {
  background-position: -0px -68px;
}

.flag-az {
  background-position: -22px -68px;
}

.flag-ba {
  background-position: -44px -68px;
}

.flag-bb {
  background-position: -66px -68px;
}

.flag-bd {
  background-position: -88px -0px;
}

.flag-be {
  background-position: -88px -17px;
}

.flag-bf {
  background-position: -88px -34px;
}

.flag-bg {
  background-position: -88px -51px;
}

.flag-bh {
  background-position: -88px -68px;
}

.flag-bi {
  background-position: -0px -85px;
}

.flag-bj {
  background-position: -22px -85px;
}

.flag-bl {
  background-position: -44px -85px;
}

.flag-bm {
  background-position: -66px -85px;
}

.flag-bn {
  background-position: -88px -85px;
}

.flag-bo {
  background-position: -110px -0px;
}

.flag-bq {
  background-position: -110px -17px;
}

.flag-br {
  background-position: -110px -34px;
}

.flag-bs {
  background-position: -110px -51px;
}

.flag-bt {
  background-position: -110px -68px;
}

.flag-bv {
  background-position: -110px -85px;
}

.flag-bw {
  background-position: -0px -102px;
}

.flag-by {
  background-position: -22px -102px;
}

.flag-bz {
  background-position: -44px -102px;
}

.flag-ca {
  background-position: -66px -102px;
}

.flag-cc {
  background-position: -88px -102px;
}

.flag-cd {
  background-position: -110px -102px;
}

.flag-cefta {
  background-position: -132px -0px;
}

.flag-cf {
  background-position: -132px -17px;
}

.flag-cg {
  background-position: -132px -34px;
}

.flag-ch {
  background-position: -132px -51px;
}

.flag-ci {
  background-position: -132px -68px;
}

.flag-ck {
  background-position: -132px -85px;
}

.flag-cl {
  background-position: -132px -102px;
}

.flag-cm {
  background-position: -0px -119px;
}

.flag-cn {
  background-position: -22px -119px;
}

.flag-co {
  background-position: -44px -119px;
}

.flag-cp {
  background-position: -66px -119px;
}

.flag-cr {
  background-position: -88px -119px;
}

.flag-cu {
  background-position: -110px -119px;
}

.flag-cv {
  background-position: -132px -119px;
}

.flag-cw {
  background-position: -0px -136px;
}

.flag-cx {
  background-position: -22px -136px;
}

.flag-cy {
  background-position: -44px -136px;
}

.flag-cz {
  background-position: -66px -136px;
}

.flag-de {
  background-position: -88px -136px;
}

.flag-dg {
  background-position: -110px -136px;
}

.flag-dj {
  background-position: -132px -136px;
}

.flag-dk {
  background-position: -154px -0px;
}

.flag-dm {
  background-position: -154px -17px;
}

.flag-do {
  background-position: -154px -34px;
}

.flag-dz {
  background-position: -154px -51px;
}

.flag-eac {
  background-position: -154px -68px;
}

.flag-ec {
  background-position: -154px -85px;
}

.flag-ee {
  background-position: -154px -102px;
}

.flag-eg {
  background-position: -154px -119px;
}

.flag-eh {
  background-position: -154px -136px;
}

.flag-er {
  background-position: -0px -153px;
}

.flag-es-ct {
  background-position: -22px -153px;
}

.flag-es-ga {
  background-position: -44px -153px;
}

.flag-es-pv {
  background-position: -66px -153px;
}

.flag-es {
  background-position: -88px -153px;
}

.flag-et {
  background-position: -110px -153px;
}

.flag-eu {
  background-position: -132px -153px;
}

.flag-fi {
  background-position: -154px -153px;
}

.flag-fj {
  background-position: -176px -0px;
}

.flag-fk {
  background-position: -176px -17px;
}

.flag-fm {
  background-position: -176px -34px;
}

.flag-fo {
  background-position: -176px -51px;
}

.flag-fr {
  background-position: -176px -68px;
}

.flag-ga {
  background-position: -176px -85px;
}

.flag-gb-eng {
  background-position: -176px -102px;
}

.flag-gb-nir {
  background-position: -176px -119px;
}

.flag-gb-sct {
  background-position: -176px -136px;
}

.flag-gb-wls {
  background-position: -176px -153px;
}

.flag-gb {
  background-position: -0px -170px;
}

.flag-gd {
  background-position: -22px -170px;
}

.flag-ge {
  background-position: -44px -170px;
}

.flag-gf {
  background-position: -66px -170px;
}

.flag-gg {
  background-position: -88px -170px;
}

.flag-gh {
  background-position: -110px -170px;
}

.flag-gi {
  background-position: -132px -170px;
}

.flag-gl {
  background-position: -154px -170px;
}

.flag-gm {
  background-position: -176px -170px;
}

.flag-gn {
  background-position: -198px -0px;
}

.flag-gp {
  background-position: -198px -17px;
}

.flag-gq {
  background-position: -198px -34px;
}

.flag-gr {
  background-position: -198px -51px;
}

.flag-gs {
  background-position: -198px -68px;
}

.flag-gt {
  background-position: -198px -85px;
}

.flag-gu {
  background-position: -198px -102px;
}

.flag-gw {
  background-position: -198px -119px;
}

.flag-gy {
  background-position: -198px -136px;
}

.flag-hk {
  background-position: -198px -153px;
}

.flag-hm {
  background-position: -198px -170px;
}

.flag-hn {
  background-position: -0px -187px;
}

.flag-hr {
  background-position: -22px -187px;
}

.flag-ht {
  background-position: -44px -187px;
}

.flag-hu {
  background-position: -66px -187px;
}

.flag-ic {
  background-position: -88px -187px;
}

.flag-id {
  background-position: -110px -187px;
}

.flag-ie {
  background-position: -132px -187px;
}

.flag-il {
  background-position: -154px -187px;
}

.flag-im {
  background-position: -176px -187px;
}

.flag-in {
  background-position: -198px -187px;
}

.flag-io {
  background-position: -220px -0px;
}

.flag-iq {
  background-position: -220px -17px;
}

.flag-ir {
  background-position: -220px -34px;
}

.flag-is {
  background-position: -220px -51px;
}

.flag-it {
  background-position: -220px -68px;
}

.flag-je {
  background-position: -220px -85px;
}

.flag-jm {
  background-position: -220px -102px;
}

.flag-jo {
  background-position: -220px -119px;
}

.flag-jp {
  background-position: -220px -136px;
}

.flag-ke {
  background-position: -220px -153px;
}

.flag-kg {
  background-position: -220px -170px;
}

.flag-kh {
  background-position: -220px -187px;
}

.flag-ki {
  background-position: -0px -204px;
}

.flag-km {
  background-position: -22px -204px;
}

.flag-kn {
  background-position: -44px -204px;
}

.flag-kp {
  background-position: -66px -204px;
}

.flag-kr {
  background-position: -88px -204px;
}

.flag-kw {
  background-position: -110px -204px;
}

.flag-ky {
  background-position: -132px -204px;
}

.flag-kz {
  background-position: -154px -204px;
}

.flag-la {
  background-position: -176px -204px;
}

.flag-lb {
  background-position: -198px -204px;
}

.flag-lc {
  background-position: -220px -204px;
}

.flag-li {
  background-position: -0px -221px;
}

.flag-lk {
  background-position: -22px -221px;
}

.flag-lr {
  background-position: -44px -221px;
}

.flag-ls {
  background-position: -66px -221px;
}

.flag-lt {
  background-position: -88px -221px;
}

.flag-lu {
  background-position: -110px -221px;
}

.flag-lv {
  background-position: -132px -221px;
}

.flag-ly {
  background-position: -154px -221px;
}

.flag-ma {
  background-position: -176px -221px;
}

.flag-mc {
  background-position: -198px -221px;
}

.flag-md {
  background-position: -220px -221px;
}

.flag-me {
  background-position: -242px -0px;
}

.flag-mf {
  background-position: -242px -17px;
}

.flag-mg {
  background-position: -242px -34px;
}

.flag-mh {
  background-position: -242px -51px;
}

.flag-mk {
  background-position: -242px -68px;
}

.flag-ml {
  background-position: -242px -85px;
}

.flag-mm {
  background-position: -242px -102px;
}

.flag-mn {
  background-position: -242px -119px;
}

.flag-mo {
  background-position: -242px -136px;
}

.flag-mp {
  background-position: -242px -153px;
}

.flag-mq {
  background-position: -242px -170px;
}

.flag-mr {
  background-position: -242px -187px;
}

.flag-ms {
  background-position: -242px -204px;
}

.flag-mt {
  background-position: -242px -221px;
}

.flag-mu {
  background-position: -0px -238px;
}

.flag-mv {
  background-position: -22px -238px;
}

.flag-mw {
  background-position: -44px -238px;
}

.flag-mx {
  background-position: -66px -238px;
}

.flag-my {
  background-position: -88px -238px;
}

.flag-mz {
  background-position: -110px -238px;
}

.flag-na {
  background-position: -132px -238px;
}

.flag-nc {
  background-position: -154px -238px;
}

.flag-ne {
  background-position: -176px -238px;
}

.flag-nf {
  background-position: -198px -238px;
}

.flag-ng {
  background-position: -220px -238px;
}

.flag-ni {
  background-position: -242px -238px;
}

.flag-nl {
  background-position: -264px -0px;
}

.flag-no {
  background-position: -264px -17px;
}

.flag-np {
  background-position: -264px -34px;
}

.flag-nr {
  background-position: -264px -51px;
}

.flag-nu {
  background-position: -264px -68px;
}

.flag-nz {
  background-position: -264px -85px;
}

.flag-om {
  background-position: -264px -102px;
}

.flag-pa {
  background-position: -264px -119px;
}

.flag-pc {
  background-position: -264px -136px;
}

.flag-pe {
  background-position: -264px -153px;
}

.flag-pf {
  background-position: -264px -170px;
}

.flag-pg {
  background-position: -264px -187px;
}

.flag-ph {
  background-position: -264px -204px;
}

.flag-pk {
  background-position: -264px -221px;
}

.flag-pl {
  background-position: -264px -238px;
}

.flag-pm {
  background-position: -0px -255px;
}

.flag-pn {
  background-position: -22px -255px;
}

.flag-pr {
  background-position: -44px -255px;
}

.flag-ps {
  background-position: -66px -255px;
}

.flag-pt {
  background-position: -88px -255px;
}

.flag-pw {
  background-position: -110px -255px;
}

.flag-py {
  background-position: -132px -255px;
}

.flag-qa {
  background-position: -154px -255px;
}

.flag-re {
  background-position: -176px -255px;
}

.flag-ro {
  background-position: -198px -255px;
}

.flag-rs {
  background-position: -220px -255px;
}

.flag-ru {
  background-position: -242px -255px;
}

.flag-rw {
  background-position: -264px -255px;
}

.flag-sa {
  background-position: -286px -0px;
}

.flag-sb {
  background-position: -286px -17px;
}

.flag-sc {
  background-position: -286px -34px;
}

.flag-sd {
  background-position: -286px -51px;
}

.flag-se {
  background-position: -286px -68px;
}

.flag-sg {
  background-position: -286px -85px;
}

.flag-sh-ac {
  background-position: -286px -102px;
}

.flag-sh-hl {
  background-position: -286px -119px;
}

.flag-sh-ta {
  background-position: -286px -136px;
}

.flag-sh {
  background-position: -286px -153px;
}

.flag-si {
  background-position: -286px -170px;
}

.flag-sj {
  background-position: -286px -187px;
}

.flag-sk {
  background-position: -286px -204px;
}

.flag-sl {
  background-position: -286px -221px;
}

.flag-sm {
  background-position: -286px -238px;
}

.flag-sn {
  background-position: -286px -255px;
}

.flag-so {
  background-position: -0px -272px;
}

.flag-sr {
  background-position: -22px -272px;
}

.flag-ss {
  background-position: -44px -272px;
}

.flag-st {
  background-position: -66px -272px;
}

.flag-sv {
  background-position: -88px -272px;
}

.flag-sx {
  background-position: -110px -272px;
}

.flag-sy {
  background-position: -132px -272px;
}

.flag-sz {
  background-position: -154px -272px;
}

.flag-tc {
  background-position: -176px -272px;
}

.flag-td {
  background-position: -198px -272px;
}

.flag-tf {
  background-position: -220px -272px;
}

.flag-tg {
  background-position: -242px -272px;
}

.flag-th {
  background-position: -264px -272px;
}

.flag-tj {
  background-position: -286px -272px;
}

.flag-tk {
  background-position: -0px -289px;
}

.flag-tl {
  background-position: -22px -289px;
}

.flag-tm {
  background-position: -44px -289px;
}

.flag-tn {
  background-position: -66px -289px;
}

.flag-to {
  background-position: -88px -289px;
}

.flag-tr {
  background-position: -110px -289px;
}

.flag-tt {
  background-position: -132px -289px;
}

.flag-tv {
  background-position: -154px -289px;
}

.flag-tw {
  background-position: -176px -289px;
}

.flag-tz {
  background-position: -198px -289px;
}

.flag-ua {
  background-position: -220px -289px;
}

.flag-ug {
  background-position: -242px -289px;
}

.flag-um {
  background-position: -264px -289px;
}

.flag-un {
  background-position: -286px -289px;
}

.flag-us {
  background-position: -308px -0px;
}

.flag-uy {
  background-position: -308px -17px;
}

.flag-uz {
  background-position: -308px -34px;
}

.flag-va {
  background-position: -308px -51px;
}

.flag-vc {
  background-position: -308px -68px;
}

.flag-ve {
  background-position: -308px -85px;
}

.flag-vg {
  background-position: -308px -102px;
}

.flag-vi {
  background-position: -308px -119px;
}

.flag-vn {
  background-position: -308px -136px;
}

.flag-vu {
  background-position: -308px -153px;
}

.flag-wf {
  background-position: -308px -170px;
}

.flag-ws {
  background-position: -308px -187px;
}

.flag-xk {
  background-position: -308px -204px;
}

.flag-xx {
  background-position: -308px -221px;
}

.flag-ye {
  background-position: -308px -238px;
}

.flag-yt {
  background-position: -308px -255px;
}

.flag-za {
  background-position: -308px -272px;
}

.flag-zm {
  background-position: -308px -289px;
}

.flag-zw {
  background-position: -0px -306px;
}

