@forward 'settings';

@use 'usa-label/src/styles/usa-label';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-combo-box/src/styles';
@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-select/src/styles/usa-select';
@use 'usa-hint/src/styles/usa-hint';

@import '../../mixins/uswds-input-width.scss';
@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/focusable.css';
@import '../../mixins/inputs.css';


:host {
  display: block;
  font-family: var(--font-source-sans);
  color: var(--vads-color-base);
  max-width: 30rem;
}

:host([inert]) select {
  border: 0;
  background: none;
}

.usa-select {
  margin-bottom: 0;
}

::slotted(option),
::slotted(optgroup){
  display: none;
}

.usa-combo-box__list{
  width: calc(100% - 2px);
}

.usa-combo-box__list-option--focused{
  outline: 2px solid var(--vads-color-action-focus-on-light);
}

.usa-combo-box__list-option--focused:focus {
  outline-offset: -2px;
}

.usa-combo-box__clear-input{
  right: calc(2.5rem + 3px);
}

.usa-combo-box__input-button-separator {
  right: calc(2.5rem + 2px);
}
