@forward 'settings';

@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-combo-box/src/styles';
@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-select/src/styles/usa-select';
@use 'usa-hint/src/styles/usa-hint';

@use '../../mixins/uswds-input-width.scss';
@use '../../mixins/uswds-error-border.scss' as *;
@import '../../mixins/focusable.css';
@import '../../mixins/inputs.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
  color: var(--vads-color-base);
  max-width: 30rem;
}

:host([inert]) select {
  border: 0;
  background: none;
}

.usa-select {
  margin-bottom: 0;
}

::slotted(option),
::slotted(optgroup){
  display: none;
}

.usa-combo-box {
  max-width: auto;
}

.usa-combo-box__list{
  width: calc(100% - 2px);
}

.usa-combo-box__list-option--focused{
  outline: 2px solid var(--vads-color-action-border-base-active-on-light);
}

.usa-combo-box__list-option--focused:focus {
  outline-offset: -2px;
}

.usa-combo-box__list-option--group{
  font-weight: bold;
  background-color: var(--vads-color-base-lightest);
  cursor: not-allowed;
  display: block;
  padding: 0.5rem;
}

.usa-combo-box__list-option--group-option{
  padding-left: 24px;
}

.usa-combo-box__input {
  padding-right: calc(4.5rem + 3px);
}

.usa-combo-box__clear-input{
  right: calc(2.5rem + 3px);
}

.usa-combo-box__input-button-separator {
  right: calc(2.5rem + 2px);
}

.usa-combo-box__clear-input {
  display: block !important;
}

.dynamic-flag {
  position: absolute;
  // center the flag
  bottom: calc((2.5rem - 16px) * 0.5);
  left: 10px;
}

.flag-wrapper {
  display: flex;
  align-items: center;
  & > span {
    margin-right: 8px;
  }
}

.input-telephone-wrapper > .usa-combo-box__input {
  padding-left: 36px;
  padding-right: 3rem;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
