@use "uswds-core/src/styles/functions" as *;
@use "../tokens/color" as *;

$color-settings: (
  output: true,
  responsive: false,
  active: false,
  focus: false,
  hover: true,
  visited: false,
) !default;

// Config for color utility classes
$u-color: (
  color: (
    base: "vads",
    modifiers: null,
    values:
      map-collect(
        $tokens-color-basic,
        $tokens-color-grayscale
      ),
    settings: $color-settings,
    property: "color",
    type: "utility",
  ),
);
