@use 'uswds-core/src/styles/functions' as *;
@use '../tokens/font' as *;
@use './settings' as *;

$u-font-family: (
  font-family: (
    base: 'vads-u-font-family',
    modifiers: null,
    values: map-collect($tokens-font-family),
    settings: $font-settings,
    property: 'font-family',
    type: 'utility',
  ),
);

$u-font-size: (
  font-size: (
    base: 'vads-u-font-size-',
    modifiers: null,
    values: map-collect($tokens-font-size),
    settings: $font-size-settings,
    property: 'font-size',
    type: 'utility',
  ),
);

$u-font-style: (
  font-style: (
    base: 'vads-u-font-style-',
    modifiers: null,
    values: map-collect($tokens-font-style),
    settings: $font-settings,
    property: 'font-style',
    type: 'utility',
  ),
);

$u-font-weight: (
  font-weight: (
    base: 'vads-u-font-weight-',
    modifiers: null,
    values: map-collect($tokens-font-weight),
    settings: $font-settings,
    property: 'font-weight',
    type: 'utility',
  ),
);

$u-font: map-collect(
  $u-font-family,
  $u-font-size,
  $u-font-style,
  $u-font-weight
);
