@use 'uswds-core/src/styles/functions' as *;
@use '../tokens/margin' as *;
@use './settings' as *;

$u-margin-base: (
  margin: (
    base: 'vads-margin',
    modifiers: null,
    values: map-collect($tokens-margin),
    settings: $margin-settings,
    property: 'margin',
    type: 'utility',
  ),
);

$u-margin-y: (
  margin-y: (
    base: 'vads-margin-y',
    modifiers: null,
    values: map-collect($tokens-margin-y),
    settings: $margin-settings,
    property: (
      margin-top,
      margin-bottom,
    ),
    type: 'utility',
  ),
);

$u-margin-top: (
  margin-top: (
    base: 'vads-margin-top',
    modifiers: null,
    values: map-collect($tokens-margin-top),
    settings: $margin-settings,
    property: 'margin-top',
    type: 'utility',
  ),
);

$u-margin-bottom: (
  margin-bottom: (
    base: 'vads-margin-bottom',
    modifiers: null,
    values: map-collect($tokens-margin-bottom),
    settings: $margin-settings,
    property: 'margin-bottom',
    type: 'utility',
  ),
);

$u-margin-x: (
  margin-x: (
    base: 'vads-margin-x',
    modifiers: null,
    values: map-collect($tokens-margin-x),
    settings: $margin-settings,
    property: (
      margin-left,
      margin-right,
    ),
    type: 'utility',
  ),
);

$u-margin-right: (
  margin-right: (
    base: 'vads-margin-right',
    modifiers: null,
    values: map-collect($tokens-margin-right),
    settings: $margin-settings,
    property: 'margin-right',
    type: 'utility',
  ),
);

$u-margin-left: (
  margin-left: (
    base: 'vads-margin-left',
    modifiers: null,
    values: map-collect($tokens-margin-left),
    settings: $margin-settings,
    property: 'margin-left',
    type: 'utility',
  ),
);

$u-margin: map-collect(
  $u-margin-base,
  $u-margin-y,
  $u-margin-top,
  $u-margin-bottom,
  $u-margin-x,
  $u-margin-right,
  $u-margin-left
);
