@use 'uswds-core/src/styles/functions' as *;
@use '../tokens/position' as *;
@use './settings' as *;

$u-position: (
  position: (
    base: 'vads-position',
    modifiers: null,
    values: map-collect($tokens-position),
    settings: $position-settings,
    property: 'position',
    type: 'utility',
  ),
);
