$color-settings: (
  output: true,
  responsive: false,
  active: false,
  focus: false,
  hover: false,
  visited: false,
) !default;

$responsive: (
  output: true,
  responsive: true,
  active: false,
  focus: false,
  hover: false,
  visited: false,
) !default;
