@forward 'settings';

@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-error-message/src/styles/usa-error-message';
@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/focusable.css';
@import '../../mixins/headers.css';

[hidden] {
  display: none;
}

:host {
  display: block;
  font-family: var(--font-source-sans);
  font-size: 16.96px;

  .label-header {
    color: var(--vads-color-base);
    font-weight: var(--font-weight-normal);
  }

  .label-header-tag {
    margin: 0;
    display: inline-block;
  }

  .file-input-wrapper {
    display: block;
    max-width: 30rem;
    width: 100%;
    position: relative;
    margin: 8px 0;
  }

  .file-input {
    cursor: pointer;
    height: 100%;
    width: 100%;
    max-width: none;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    position: absolute;
    text-indent: -999em;
    box-sizing: border-box;
  }

  .file-input-target {
    border: 1px dashed var(--vads-color-action-border-base-active-on-dark);
    display: block;
    margin-top: 0.3125rem;
    position: relative;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    &.file-input-target-error {
      border: 2px dashed var(--vads-color-secondary-dark);
    }
  }

  .file-input-box {
    background: var(--vads-color-white);
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .file-input-instructions {
    font-size: 1.06rem;
    padding: 1.25rem 0.625rem;
    pointer-events: none;
    position: relative;
    z-index: 3;
  }

  .file-input-choose-text {
    color: var(--vads-color-link);
    text-decoration: underline;
    font-weight: var(--font-weight-normal);
  }

  .file-icon {
    color: var(--vads-color-primary-alt-darkest);
  }

  .selected-files-wrapper {
    background-color: var(--vads-color-primary-lighter);
    border: 1px solid var(--vads-color-base-light);
  }

  .selected-files-label {
    color: var(--vads-color-base);
    font-weight: var(--font-weight-bold);
    font-size: 1.06rem;
    border-bottom: 1px solid var(--vads-color-white);
    margin-bottom: 8px;
    padding: 8px;
  }

  .va-card {
    margin: 8px;
  }

  .file-info-group {
    padding-left: .5rem;
  }

  #input-error-message {
    padding: 0 8px;
    width: 100%;
  }

  .file-label {
    color: var(--vads-color-base);
    font-weight: var(--font-weight-bold);
    font-size: 1.06rem;
    display: block;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
  }

  .file-size-label, .file-status-label {
    color: var(--vads-color-base-dark);
    font-weight: var(--font-weight-normal);
    font-size: var(--vads-font-size-source-sans-normalized);
    line-height: var(--vads-font-line-height-1);
    display: block;
  }

  .file-status-label {
    font-style: italic;
  }

  .file-info-section {
    padding: 0 12px 8px;
    display: flex;
    align-items: center;
  }

  .file-button-section {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative; /* This rule and the z-index are required for "Change File" and "Delete" buttons to be clickable */
    z-index: 2;

    > va-button-icon {
      font-size: 1.06rem;
    }

    @media screen and (max-width: $xsmall-screen) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .with-separator {
    border-top: 1px solid var(--vads-color-base-lighter);
  }

  /* copied from Formation
  /* TO DO: decide whether to import from CSS-Library or simply rename,
  /* as this is the only attribute currently needed from utilities
  */
  .vads-u-line-height--2 {
    line-height: 1.15;
  }

  .thumbnail-container {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .thumbnail-preview {
    max-width: 40px;
    width: auto;
    max-height: 40px;
    height: auto;
  }

  .thumbnail-error {
    color: $vads-color-error-dark;
  }

  .progress-bar-and-cancel-button {
    position: relative; /* This rule and the z-index are required for "Cancel" button to be clickable */
    z-index: 2;
  }

  va-progress-bar {
    font-size: var(--vads-font-size-root);
    display: block;
    margin-left: 16px;
  }

  .uploading-status {
    font-style: var(--font-style-italic);
  }
}

:host(.has-error) {
  border-left: 0.25rem solid $vads-color-secondary-dark;
  padding-left: 1rem;
  position: relative;

  @media screen and (min-width: $desktop) {
    margin-left: -0.9rem;
  }
}

.required {
  color: var(--vads-color-secondary-dark);
  margin-left: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
  .required {
    font-family: var(--font-source-sans);
    font-size: initial;
    font-weight: initial;
  }
}
