@forward 'settings';

@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'uswds-helpers/src/styles/usa-sr-only';

@import '../../mixins/uswds-error-border.scss';
@import '../../global/formation_overrides';
@import '../../mixins/focusable.css';

[hidden] {
  display: none;
}

/** Original Component Style **/
@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
}

va-button {
  margin-bottom: -0.8rem;
}

.required {
  color: var(--vads-color-secondary-dark);
  margin-left: 0.4rem;
}

:host([uswds='true']) {

  .label-header {
    color: var(--vads-color-base);
    font-weight: var(--font-weight-normal);
    font-size: 1.696rem;
  }

  .label-header-tag {
    margin: 0;
  }

  .file-input-wrapper {
    display: block;
    max-width: 48rem;
    width: 100%;
    position: relative;
    margin: 8px 0;
  }

  .file-input {
    cursor: pointer;
    height: 100%;
    width: 100%;
    max-width: none;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    position: absolute;
    text-indent: -999em;
    box-sizing: border-box;
  }

  .file-input-target {
    border: 1px dashed #adadad;
    display: block;
    font-size: 1.06rem;
    margin-top: 0.5rem;
    position: relative;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

    &.file-input-target-error {
      border: 2px dashed var(--vads-color-secondary-dark);
    }
  }

  .file-input-box {
    background: #fff;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .file-input-instructions {
    font-size: 1.696rem;
    padding: 2rem 1rem;
    pointer-events: none;
    position: relative;
    z-index: 3;
  }

  .file-input-drag-text {

  }

  .file-input-choose-text {
    color: #005ea2;
    text-decoration: underline;
    font-weight: var(--font-weight-normal);
  }

  .file-icon {
    color: #07648D;
  }

  .selected-files-wrapper {
    background-color: var(--vads-color-primary-lighter);
    border: 1px solid var(--vads-color-base-light)
  }

  .selected-files-label {
    color: var(--vads-color-base);
    font-weight: var(--font-weight-bold);
    font-size: 1.696rem;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 8px;
    padding: 8px;
  }

  .va-card {
    margin: 8px;
  }

  .file-label {
    color: var(--vads-color-base);
    font-weight: var(--font-weight-bold);
    font-size: 1.696rem;
    padding: 0 8px;
  }

  .file-size-label {
    color: var(--vads-color-base-dark);
    font-weight: var(--font-weight-normal);
    font-size: 1.696rem;
  }

  .file-info-section {
    border-bottom: 1px solid #dfe1e2;
    padding: 0 8px 8px;
    display: flex;
    align-items: center;
  }

  .file-button-section {
    display: flex;
    justify-content: space-between;

    > va-button-icon {
      font-size: 1.696rem;
    }
  }

  .additional-info-slot {
    padding-bottom: 16px;
  }
}
