import React from 'react';
import Modal from './Modal';

export default class ModalExample extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      showDefault: false,
      showInfo: false,
      showWarning: false,
      showError: false
    };
  }

  render() {
    return (
      <div>
        <button onClick={() => this.setState({showDefault: true})}>Show Default Modal</button>
        <Modal
          title="Default Modal"
          id="default"
          visible={this.state.showDefault}
          onClose={() => this.setState({showDefault: false})}>
          {this.props.content}
        </Modal>
        <button onClick={() => this.setState({showInfo: true})}>Show Info Modal</button>
        <Modal
          title="Info Modal"
          id="info"
          status="info"
          visible={this.state.showInfo}
          onClose={() => this.setState({showInfo: false})}>
          {this.props.content}
        </Modal>
        <button onClick={() => this.setState({showError: true})}>Show Error Modal</button>
        <Modal
          title="Error Modal"
          id="error"
          status="error"
          visible={this.state.showError}
          onClose={() => this.setState({showError: false})}>
          {this.props.content}
        </Modal>
        <button onClick={() => this.setState({showWarning: true})}>Show Warning Modal</button>
        <Modal
          title="Warning Modal"
          id="warning"
          status="warning"
          visible={this.state.showWarning}
          onClose={() => this.setState({showWarning: false})}>
          {this.props.content}
        </Modal>
      </div>
    );
  }
}
