@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-label/src/styles/usa-label';
@import '../../mixins/accessibility.css';
@import '../../mixins/focusable.css';

:host {
  display: block;
}

va-checkbox::part(checkbox) {
  max-width: 100%;
}

a {
  color: var(--vads-color-link);
}

.privacy-policy-icon {
  margin-left: 4px;
  vertical-align: text-top;
}
