@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';

:host {
  display: block;
}

a {
  color: var(--color-link-default);
}

#error-message {
  margin-bottom: -1.2rem;
}