@import '../../mixins/inputs.css';

:host {
  display: block;
  margin-top: 1rem;
}

:host(:focus) {
  outline: none !important;
}

label {
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  margin: 0;
  width: 100%;
  padding-left: 2.4rem;
  padding-top: var(--item-tile-padding-y);
  padding-bottom: var(--item-tile-padding-y);
  border: var(--item-tile-border);
  border-radius: 0.25em;
}

label::before {
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 3px var(--color-gray-medium);
  height: 1.4rem;
  line-height: 1.4rem;
  margin-right: 1rem;
  width: 1.4rem;
  background: var(--color-white);
  background-color: var(--color-white);
  content: '\A0';
  display: inline-block;
}

:host([aria-checked="true"]) label {
  border: var(--item-tile-selected-border);
  background: var(--item-tile-selected-background);
}

:host([aria-checked='true']) label::before {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-primary);
}

:host(:focus) label::before {
  outline: 2px solid var(--color-gold-light);
  outline-offset: 6px;
}

.description {
  margin-left: 3em;
}