@forward 'settings';

@use 'uswds-core/src/styles/mixins/helpers/checkbox-and-radio-colors';
@use 'usa-radio/src/styles/usa-radio';
@import '../../mixins/focusable.css';

va-radio-option label {
  max-width: 480px;
  box-sizing: border-box;
}

.usa-radio {
  background: transparent;
}

va-radio-option {
  display: block;
  margin-top: 12px;
}

input[type=radio].usa-radio__input {
  margin-left: unset;
  opacity: unset;
  right: auto;
  left: -999em;
}

va-radio-option input:focus {
  outline: none !important;
}

// Formation override
va-radio-option label.usa-radio__label::before {
  box-shadow: rgb(27, 27, 27) 0px 0px 0px 2px;
  height: 20px;
  width: 20px;
  margin-left: 2px;
}

va-radio-option .usa-radio__input:focus + [class*='__label']::before {
  // outline: 2px solid var(--vads-color-action-focus-on-light);
}

va-radio-option input[disabled='true']:focus + label.usa-radio__label::before {
  outline: none;
}