:host {
  --visible-radio-button-size: 1.4rem;
  display: block;
  margin-top: 1rem;
}

input {
  height: var(--visible-radio-button-size);
  margin: 0.5rem 0 0 2.4rem;
  opacity: 0;
  position: absolute;
  width: var(--visible-radio-button-size);
}

label {
  margin-left: 2.4rem;
}

label::before {
  background-color: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 3px var(--color-gray-medium);
  content: '\A0';
  display: inline-block;
  height: var(--visible-radio-button-size);
  line-height: var(--visible-radio-button-size);
  margin-right: 1rem;
  width: var(--visible-radio-button-size);
}

input:not([disabled]):focus + label::before {
  outline: 2px solid var(--color-gold-light);
  outline-offset: 6px;
}

:host([checked]) label::before {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-primary);
}
