@forward 'settings';

@use 'uswds-core/src/styles/mixins/helpers/checkbox-and-radio-colors';
@use 'usa-radio/src/styles/usa-radio';

@import '../../global/formation_overrides';

va-radio-option label {
  max-width: 320px;
  box-sizing: border-box;
}

.usa-radio {
  background: transparent;
}

va-radio-option {
  display: block;
  margin-top: 12px;
}

input[type=radio].usa-radio__input {
  margin-left: unset;
  opacity: unset;
  right: auto;
  left: -999em;
}

va-radio-option input:focus {
  outline: none !important;
}

// Formation override
va-radio-option label.usa-radio__label::before {
  box-shadow: rgb(27, 27, 27) 0px 0px 0px 2px;
  height: 20px;
  width: 20px;
  margin-left: 2px;
}

va-radio-option .usa-radio__input:focus + [class*='__label']::before {
  outline: 2px solid var(--vads-color-action-focus-on-light);
}

va-radio-option input[disabled='true']:focus + label.usa-radio__label::before {
  outline: none;
}

/* Original Components Styles. */

va-radio-option:not([uswds='true'], [uswds='']) {
  margin-top: 1rem;
  input {
    appearance: none;
  }

  label {
    box-sizing: border-box;
    outline: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    max-width: 320px;
    width: auto;
    padding-left: 6px;
  }

  label::before {
    box-sizing: border-box;
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--vads-color-white), 0 0 0 3px var(--vads-color-gray-medium);
    height: 1.4rem;
    line-height: 1.4rem;
    margin-right: 1rem;
    width: 1.4rem;
    min-width: 1.4rem;
    max-width: 1.4rem;
    background: var(--vads-color-white);
    background-color: var(--vads-color-white);
    content: '\A0';
    display: inline-block;
  }
}

va-radio-option:not([uswds="true"],[uswds=""])[aria-checked='true'] label::before {
  background-color: var(--vads-color-primary);
  box-shadow: 0 0 0 2px var(--vads-color-white), 0 0 0 4px var(--vads-color-primary);
}

va-radio-option:not([uswds="true"],[uswds=""]):focus label::before {
  outline: 2px solid var(--vads-color-action-focus-on-light);
  outline-offset: 6px;
}

va-radio-option:not([uswds="true"],[uswds=""]) .description {
  display: block;
  margin-top: 5px;
}

va-radio-option:not([uswds="true"],[uswds=""])[tile='true'] label {
  padding: 12px 16px 12px 12px;
  border: 2px solid var(--vads-color-base-light);
  border-radius: 0.25em;
}

va-radio-option:not([uswds="true"],[uswds=""])[tile='true'][aria-checked='true'] label {
  border: 2px solid var(--vads-color-primary-alt-darkest);
  background: var(--vads-color-gray-cool-light);
}
