@use 'uswds-core/src/styles/mixins/helpers/checkbox-and-radio-colors';
@use 'usa-radio/src/styles/usa-radio';

:host {
  display: block;
}

:host(:focus) {
  outline: none !important;
}

:host(:focus) label.usa-radio__label::before {	
  outline: 2px solid var(--color-gold-light);	
  outline-offset: 4px;	
}

:host([disabled='true']:focus) label.usa-radio__label::before {	
  outline: none;	
}

/* Original Components Styles. */

@import '../../mixins/inputs.css';

:host(:not([uswds])) {
  margin-top: 1rem;
}

:host(:not([uswds])) label {
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  margin: 0;
  width: 100%;
  padding-left: 2.4rem;
}

:host(:not([uswds])) label::before {
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 3px var(--color-gray-medium);
  height: 1.4rem;
  line-height: 1.4rem;
  margin-right: 1rem;
  width: 1.4rem;
  background: var(--color-white);
  background-color: var(--color-white);
  content: '\A0';
  display: inline-block;
}

:host(:not([uswds])[aria-checked='true']) label::before {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-primary);
}

:host(:not([uswds]):focus) label::before {
  outline: 2px solid var(--color-gold-light);
  outline-offset: 6px;
}