@import '../../mixins/inputs.css';

:host {
  display: block;
  margin-top: 1em;
}

label {
  box-sizing: border-box;
  outline: none;
  display: inline-block;
  margin: 0;
  width: 100%;
  padding-left: 2.4rem;
}

label::before {
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 3px var(--color-gray-medium);
  height: 1.4rem;
  line-height: 1.4rem;
  margin-right: 1rem;
  width: 1.4rem;
  background: var(--color-white);
  background-color: var(--color-white);
  content: '\A0';
  display: inline-block;
}

:host([aria-checked='true']) label::before {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-primary);
}
