:host {
  display: block;
}

nav {
  background-color: #fff;
  border-top: 1px solid var(--color-gray-lightest);
  display: flex;
  font-family: 'Source Sans Pro';
  width: 100%;
}

.remove-border {
  border: 0;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 2rem 0 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

button {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  background-color: transparent;
  border: 0;
  color: var(--color-link-default);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 400;
  justify-content: center;
  line-height: 2;
  padding: 0;
  transition: all 0.3s ease-in-out;
  transition-property: color, background-color;
}

button:focus {
  outline: 2px solid #f9c642;
  outline-offset: 2px;
}

.button-next,
.button-prev {
  border-radius: 0;
  margin: 0;
}

.button-next:hover,
.button-prev:hover {
  background-color: transparent;
  color: var(--color-link-default);
  text-decoration: underline;
}

.pagination-next:hover,
.pagination-prev:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
}

.pagination-inner {
  display: flex;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.button-inner {
  border-radius: 1000px;
  height: 3rem;
  margin: 0 0.5rem;
  width: 3rem;
}

.button-inner[aria-current='true'],
.button-inner:hover,
.button-inner:focus {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button-active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.pagination-inner,
.pagination-next,
.pagination-prev {
  padding-bottom: 4px;
  padding-top: 4px;
}

@media (max-width: 768px) {
  .pagination-prev {
    margin-left: -3rem;
    padding-right: 1rem;
  }
}

@media (min-width: 481px) {
  .pagination-prev:not(:empty) > .button-prev::before {
    content: '\2039\a0\a0';
  }
}

@media (max-width: 768px) {
  .pagination-next {
    margin-right: -3rem;
    padding-left: 1rem;
  }
}

@media (min-width: 481px) {
  .pagination-next:not(:empty) > .button-next::after {
    content: '\a0\a0\203a';
  }
}

@media (min-width: 768px) {
  .pagination-next,
  .pagination-prev {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .pagination-inner {
    width: 20rem;
  }
}

@media (min-width: 1201px) {
  .pagination-inner {
    width: 40rem;
  }
}
