@forward 'settings';
@use 'usa-pagination/src/styles/_usa-pagination.scss';
@use 'usa-icon/src/styles/_usa-icon.scss';

@import '../../mixins/focusable.css';

// Formation does not specify box-sizing on li elements, this is needed for pagination to fit on 320px size screens
.va-pagination__item {
  box-sizing: border-box;
}

:host {
  a.usa-pagination__next-page > div,
  a.usa-pagination__previous-page > div {
    display: flex;
  }
}

:host {
  background-color: var(--vads-color-white);
  border-top: 1px solid var(--vads-color-base-lightest);
  display: flex;
  font-family: var(--font-source-sans);
  justify-content: center;
  overflow: hidden;
  padding: 1.25rem 0 0.625rem;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

button {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  background-color: transparent;
  border: 0;
  color: var(--vads-color-link);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.89rem;
  font-weight: 400;
  justify-content: center;
  line-height: 2;
  padding: 0;
  transition: all 0.3s ease-in-out;
  transition-property: color, background-color;
}
