.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  /*  Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631 */
  word-wrap: normal !important;
}
