@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use '../../mixins/uswds-error-border.scss' as *;

:host {
  display: block;
}

.critical-info {
  display: flex;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  background-color: var(--vads-color-feedback-border-warning-on-dark);
  position: relative;
  min-height: 2.063rem;

  @media (min-width: $medium-screen) {
    left: 0;
    width: auto;
  }

  &:hover {
    .action-link {
      color: var(--vads-color-link-active);
    }

    .link-icon {
      background-color: var(--vads-color-link-active);
    }
  }
}

.action-link {
  color: var(--vads-color-base);
  font-weight: 700;
  font-size: var(--vads-font-size-source-sans-normalized);
  line-height: 1.528rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4px;

  &:focus {
    outline: none;
    background-color: var( --vads-color-warning-lighter);
    color: var(--vads-color-base);
    box-shadow: 0px 4px 0px var(--vads-color-base)
  }

  &:focus .link-icon {
    color: var( --vads-color-warning-lighter);
    background-color: var(--vads-color-base);
    margin-top: 0;
  }

  &:active {
    outline: none;
    background-color: var( --vads-color-warning-lighter);
    color: var(--vads-color-base);
    box-shadow: 0px 4px 0px var(--vads-color-base)
  }

  &:active .link-icon {
    color: var( --vads-color-warning-lighter);
  }

  &:visited {
    color: var(--vads-color-link-visited);
  }

  &:visited .link-icon {
    background-color: var(--vads-color-link-visited);
    color: var(--vads-color-feedback-border-warning-on-dark)
  }

  &:visited:focus .link-icon {
    color: var( --vads-color-warning-lighter);
  }

  &:visited:active .link-icon {
    color: var( --vads-color-warning-lighter);
  }

  &:hover {
    color: var(--vads-color-link-active);
  }

  &:hover .link-icon {
    background-color: var(--vads-color-link-active);
    color: var(--vads-color-feedback-border-warning-on-dark)
  }

  &:hover:active .link-icon {
    color: var( --vads-color-warning-lighter);
  }

  &:hover:focus .link-icon {
    color: var( --vads-color-warning-lighter);
  }
}

.text-and-chevron {
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: 0px) {
    align-items: flex-start;
  }

  &:focus {
    outline: none;
  }
}

.link-text {
  max-width: calc(100% - 32px);
}

.link-icon {
  margin-left: auto;
  border-radius: 50%;
  color: var(--vads-color-feedback-border-warning-on-dark);
  background-color: var(--vads-color-base);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
