@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use '../../mixins/uswds-error-border.scss' as *;
@use '../../../css-library/src/stylesheets/formation-overrides/elements/labels';
@import '../../mixins/focusable.css';
@import '../../mixins/headers.css';

:host {
  display: block;
  font-size: 1rem;
}

.service-list-item {
  padding: 1.25rem 2rem 2rem 1rem;
  border-top: 1px solid var(--vads-color-base-light);

  a {
    text-decoration: none;
    color: unset;
  }

  .service-title-row {
    &:hover .service-name {
      text-decoration: underline;
      color: var(--vads-color-link-active);
    }

    &:focus .chevron-icon,
    &:hover .chevron-icon {
      color: var(--vads-color-link-active);
    }
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;

    .name-and-chevron {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      color: var(--vads-color-white);
      margin-right: 0.625rem;

      &.star {
        background-color:var(--vads-color-hub-burials);
      }
      &.work {
        background-color:var(--vads-color-hub-careers);
      }
      &.description {
        background-color:var(--vads-color-hub-disability);
      }
      &.school {
        background-color: var(--vads-color-hub-education);
      }
      &.groups {
        background-color: var(--vads-color-hub-family-member);
      }
      &.medical_services {
        background-color:var(--vads-color-hub-health-care);
      }
      &.home {
        background-color:var(--vads-color-hub-housing);
      }
      &.shield {
        background-color:var(--vads-color-hub-life-insurance);
      }
      &.handshake {
        background-color:var(--vads-color-hub-pension);
      }
      &.identification {
        background-color:var(--vads-color-hub-records);
      }
      &.flag {
        background-color:var(--vads-color-hub-service-member);
      }

      &.default {
        background-color: var(--vads-color-primary);
      }
    }

    &:not(:has(.icon)) {
      .service-name {
        width: auto;
      }

      .chevron-icon {
        @media (min-width: $medium-screen) {
          margin-left: 0.938rem;
        }
      }
    }

    .service-name {
      margin-top: 0;
      width: 11.875rem;
      color: var(--vads-color-link);
      @media (min-width: $medium-screen) {
        width: auto;
      }
    }

    .service-name:has(+ .chevron-icon) + .chevron-icon {
      align-self: flex-start;
    }

    .chevron-icon {
      margin-left: auto;
      font-size: 24px;
      color: var(--vads-color-link);
      @media (min-width: $medium-screen) {
        margin-left: 0.938rem;
      }
    }

    &:focus,
    &:active {
      outline: none;
      background-color: var(--vads-color-action-focus-on-light);
      color: var(--vads-color-link);
      box-shadow: 0px 4px 0px var(--vads-color-base);

      .icon {
        background-color: var(--vads-color-base);
      }

      .service-name {
        color: var(--vads-color-base);
      }

      .chevron-icon {
        color: var(--vads-color-base);
      }
    }

    &:active {
      .service-name {
        text-decoration: underline;
      }
    }
  }

  .status {
    margin-top: .75rem;
  }

  li {
    padding-bottom: 0.25rem;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.06rem;
    padding: 1.25rem 0 1.25rem 0;
    margin: 0;
    &:last-child {
      padding-bottom: 0;
    }
  }

  .optional-link {
    margin-top: 1.5rem;
  }
}
