:host {
  display: block;
}

li {
    margin-bottom: 0px;
    max-width: unset;
    list-style-type: none;
}

.va-sidenav__item {
    border-top: 1px solid rgb(223, 225, 226);
}

a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

a:not(.va-sidenav__current) {
    color: #565c65;
}

a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
}

@media (min-width: 40em) {
    .va-sidenav__current {
        position: relative;
    }
}

.va-sidenav__current {
    position: relative;
    color: #005ea2;
    font-weight: 700;
}

@media (min-width: 40em) {
    .va-sidenav__current::after {
        background-color: rgb(0, 94, 162);
        border-radius: 99rem;
        content: "";
        display: block;
        position: absolute;
        bottom: 0.25rem;
        top: 0.25rem;
        width: 0.25rem;
        left: 0rem;
    }
}

/* First level of nesting */
:host(.va-sidenav__submenu) a {
    padding-left: 2rem;
}

// Remove the left border for current nested children
:host(.va-sidenav__submenu) a.va-sidenav__current::after {
    display: none;
}

/* Second level of nesting (grandchild items) */
:host(.va-sidenav__nested-submenu) a {
    padding-left: 3rem;
}

// Remove the left border for current nested grandchildren
:host(.va-sidenav__nested-submenu) a.va-sidenav__current::after {
    display: none;
}