@import '../va-text-input/va-text-input.scss';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:host > div {
  position: relative;
  display: flex;
  align-items: center;
}

:host > div > span {
  position: absolute;
  left: 1rem;
}

:host > div > input.currency-input {
  padding-left: 2.5rem;
}