@import '../va-text-input/va-text-input.scss';

.usa-hint {
  display: block;
}

/** Original Component Style **/

@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';
@import '../../mixins/headers.css';

:host(:not([uswds])) input[type='number'] {
  -moz-appearance: textfield;
}

:host(:not([uswds])) input::-webkit-outer-spin-button,
:host(:not([uswds])) input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:host(:not([uswds])) > div {
  position: relative;
  display: flex;
  align-items: center;
}

:host(:not([uswds])) > div > span {
  position: absolute;
  left: 1rem;
}

:host(:not([uswds])) > div > input.currency-input {
  padding-left: 2.5rem;
}
