@import '../va-text-input/va-text-input.scss';

@import '../../mixins/focusable.css';

.usa-hint {
  display: block;
}

/** Original Component Style **/

@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';
@import '~@department-of-veterans-affairs/css-library/dist/elements.css';

:host([uswds='false']) {
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  > div {
    position: relative;
    display: flex;
    align-items: center;
  }

  > div > span {
    position: absolute;
    left: 0.625rem;
  }

  > div > input.currency-input {
    padding-left: 1.5625rem;
  }
}
