@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";
@import '../../mixins/accessibility.css';
@import '../../mixins/links.css';

:host {
  display: block;
}

:host([status='warning']) {
  background-color: var(--vads-color-gold-lightest);
}

:host([status='info']) {
  background-color: var(--vads-color-primary-alt-lightest);
}

:host([status='error']) {
  background-color: var(--vads-color-secondary-lightest);
}

:host([status='success']) {
  background-color: var(--vads-color-success-lighter);
}

:host([status='continue']) {
  background-color: var(--vads-color-base-lightest);
}

.alert-expandable-trigger {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  padding: 0.75rem;
}

div.warning .alert-expandable-trigger:hover {
  background-color: var(--vads-color-gold-lighter);
}

div.info .alert-expandable-trigger:hover {
  background-color: var(--vads-color-primary-alt-light);
}

div.error .alert-expandable-trigger:hover {
  background-color: var(--vads-color-secondary-light);
}

div.success .alert-expandable-trigger:hover {
  background-color: var(--vads-color-green-lighter);
}

div.continue .alert-expandable-trigger:hover {
  background-color: var(--vads-color-base-lighter);
}

.alert-expandable-title {
  border-bottom-right-radius: 1px;
  border-bottom: 2px dotted var(--vads-color-primary-alt-dark);
  color: var(--vads-color-base-darker);
  cursor: pointer;
  font-weight: 600;
}

.alert-expandable-body {
  overflow: hidden;
}

.alert-expandable-body.closed {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.alert-expandable-body.open {
  height: auto;
  opacity: 1;
  transition: max-height 700ms 0ms, opacity 500ms 200ms, visibility 500ms 200ms;
  max-height: var(--calc-max-height);
}

#slot-wrap {
  margin: 0.75rem;
}

.alert-expandable-icon {
  display: inline-block;
  color: var(--vads-color-primary-alt-darkest);
  font-size: 16px;
  transform: rotate(90deg);
  transition: transform 0.15s linear;
  line-height: 1;
  vertical-align: bottom;
}

a[aria-expanded='true'] .alert-expandable-icon {
  transform: rotate(270deg);
  transition: transform 0.15s linear;
}

.alert-expandable__status-icon {
  color: var(--vads-color-base-darker);
  margin-right: 8px;
}

::slotted(*) {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}