:host {
  display: block;
}

.need-help h2 {
  border-bottom: 3px solid var(--color-primary);
  margin: 0.3em 0;
  font-family: var(--font-serif);
  font-size: 1.35em;
  line-height: 1.5;
  font-weight: bold;
}

::slotted([slot='content']) {
  font-family: var(--font-sans-serif);
  margin-top: 0 !important;
}

::slotted(p) {
  font-family: var(--font-sans-serif);
  margin: 0.5em 0 !important;
  padding: 0 !important;
}
