/*
  Original: @import "~uswds/src/stylesheets/core/fonts";
  ***THIS IS USWDS v1***
*/
@use "../../../../dist/tokens/scss/variables.scss" as tok;
@use "../../core-variables" as core-vars;
@use "../variables" as fo-vars;
@use "../../mixins" as m;

/* stylelint-disable at-rule-empty-line-before */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(../fonts/merriweather/Latin-Merriweather-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(../fonts/merriweather/Latin-Merriweather-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(../fonts/merriweather/Latin-Merriweather-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(../fonts/merriweather/Latin-Merriweather-LightItalic.woff2) format("woff2");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(../fonts/merriweather/Latin-Merriweather-Italic.woff2) format("woff2");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(../fonts/merriweather/Latin-Merriweather-BoldItalic.woff2) format("woff2");
}


/* stylelint-enable */
