@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-search/src/styles/usa-search';
@use 'usa-button/src/styles/usa-button';

@import '../../mixins/uswds-error-border.scss';

:host {
  display: block;
  border: none;
  padding: 0;
}

.usa-input {
  margin-top: 0;
}

#va-search-listbox {
  top: 37px;
  z-index: 1;
}

:host([big="true"]) #va-search-listbox  {
  top: 52px;
}

.usa-input {
  max-width: 1024px;
}

@media screen and (min-width: 480px) {
  :host .usa-search [type=submit] {
    width: auto;
  }
}
