@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-search/src/styles/usa-search';
@use 'usa-button/src/styles/usa-button';

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/inputs.css';
@import 'uswds-core/src/styles/functions/units/px-to-rem';

// This values are inherited from the height values in USWDS' usa-search.scss
$input-height: var(--units-4);
$input-height--big: var(--units-6);
// This value is pulled from the focus outline and offset from focusable.css
$focus-spacing: calc(2px + 2px);

:host {
  display: block;
  border: none;
  padding: 0;

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
}

.usa-search__input-wrapper {
  width: 100%;
  max-width: 1024px;
  position: relative;
}

.usa-search__input-wrapper > div {
  position: relative;
  width: 100%;
}

.usa-input {
  margin-top: 0;
}

.usa-search__clear-input {
  cursor: pointer;
  background-color: transparent;
  opacity: .6;
  border: 0;
  bottom: 1px;
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 100;
}

#va-search-listbox {
  font-size: 1rem;
  position: absolute;
  top: calc($input-height + $focus-spacing);
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--vads-color-white);
  box-shadow: 0px 2px 6px 1px rgba(20, 20, 20, 0.14);
  line-height: var(--vads-font-line-height-4);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:host([big="true"]) #va-search-listbox  {
  top: calc($input-height--big + $focus-spacing);
}

.va-search-suggestion {
  cursor: pointer;
  padding: var(--units-1);
}

.va-search-suggestion[aria-selected='true'],
.va-search-suggestion:focus,
.va-search-suggestion:hover {
  background-color: var(--vads-color-primary);
  color: var(--vads-color-white);
}

.usa-input {
  max-width: 1024px;
}

button.usa-search__clear-input:not([disabled]):focus {
  outline-offset: -4px;
}



.usa-search__clear-input_empty {
  display: none;
}
