@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-search/src/styles/usa-search';
@use 'usa-button/src/styles/usa-button';

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/inputs.css';

:host {
  display: block;
  border: none;
  padding: 0;

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
}

.usa-input {
  margin-top: 0;
}

#va-search-listbox {
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--vads-color-white);
  box-shadow: 0px 2px 6px 1px rgba(20, 20, 20, 0.14);
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.va-search-suggestion {
  cursor: pointer;
  padding: 8px;
}

.va-search-suggestion[aria-selected='true'],
.va-search-suggestion:focus,
.va-search-suggestion:hover {
  background-color: var(--vads-color-primary);
  color: var(--vads-color-white);
}

:host([big="true"]) #va-search-listbox  {
  top: 52px;
}

.usa-input {
  max-width: 1024px;
}

@media screen and (min-width: 480px) {
  :host .usa-search [type=submit] {
    width: auto;
  }
}
.usa-search__clear-input {
  cursor: pointer;
  background-color: transparent;
  opacity: .6;
  border: 0px;
  bottom: 1px;
  position: absolute;
  top: 1px;
  z-index: 100;
  right: calc(3rem + 3px);
  margin-right: 32px;
}
button.usa-search__clear-input:not([disabled]):focus {
  outline-offset: -4px;
}

:host([big="true"]) .usa-search__clear-input  {
  right: calc(6rem + 6px);
}

:host([small="true"]) .usa-search__clear-input{
  right: calc(0.5rem + 6px);
}
@media (max-width:29.99em) { 
  .usa-search__clear-input  {
    right: calc(0.5rem + 6px) !important;
  }
}

.usa-search__clear-input_empty {
  display: none;
}
.usa-search__input-wrapper {
  width: 100%;
  max-width: 1024px;
  position: relative;
}