@use 'usa-error-message/src/styles/usa-error-message';
@use 'uswds-helpers/src/styles/usa-sr-only';
@import '../../../src/mixins/accessibility.css';
@import '../../mixins/hint-text.css';

:host {
  .va-card-status__header {
    margin: var(--units-1) 0 var(--units-2) 0;
  }

  .va-card-status__tag {
    display: block;
  }

  #va-card-status_card-title {
    font-size: var(--font-size-h3);
    font-family: var(--font-serif);
    font-weight: var(--font-weight-bold);
  }

  .va-card-status__subheader {
    margin-top: var(--units-1);
    margin-bottom: var(--units-2);
  }
}

:host([error]:not([error=''])) .va-card-status__wrapper {
  border-left: var(--units-0p5) solid var(--vads-color-secondary-dark);
  padding-left: var(--units-2);
  position: relative;

  va-card {
    border-width: var(--units-0p5);
    border-color: var(--vads-color-secondary-dark);
  }

  .required {
    font-weight: var(--font-weight-bold);
  }
}

.required {
  color: var(--vads-color-secondary-dark);
  margin-left: var(--units-0p5);
  font-size: initial;
  font-weight: initial;
}
