@import '~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables.scss';

:host {
  width: auto;
  padding: 1px .5rem;
  border-radius: 2px;
  color: var(--vads-color-white);
  font-size: 0.938rem;
  background-color: var(--vads-color-base-dark);
  text-transform: uppercase;

  &:only-of-type {
    margin-right: 0;
  }
}
