@import './focusable.css';
button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: var(--vads-button-color-text-primary-alt-on-light);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-source-sans);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}
