/* From the USWDS styles: */
/*   https://github.com/uswds/uswds/blob/3dc296ec56cd621fe52d918701fd94621d96a198/src/stylesheets/core/mixins/_focus.scss#L12-L13 */
button:not([disabled]):focus,
:host([uswds='false']) button:not([disabled]):active,
select:not([disabled]):focus,
a:not([disabled]):focus,
h1:focus,
input:not([disabled]):focus,
textarea:not([disabled]):focus,
#form-question
[role='option']:focus {
  outline: 2px solid var(--color-gold-light);
  outline-offset: 2px;
}
