#error-message {
    color: var(--color-secondary-dark);
    display: block;
    margin-bottom: 1.2rem;
}

:host([error]:not([error=''])), 
:host([showerror="true"]) {
    border-left: 0.4rem solid  var(--color-secondary-dark);
    padding-left: 2rem;
    position: relative;
}

@media screen and (min-width: 1008px) {
    :host([error]:not([error=''])), 
    :host([showerror="true"]) {
        margin-left: -2.4rem; /* padding left + border left */
    }
}

:host([error]:not([error=''])) label {
    margin-top: 0;
}

:host([error]:not([error=''])) label,
:host([error]:not([error=''])) span, 
:host([showerror="true"]) span {
    font-weight: 700;
}

:host([error]:not([error=''])) input, 
:host([error]:not([error=''])) textarea,
:host([error]:not([error=''])) select {
    border: 4px solid var(--color-secondary-dark);
}