@import './focusable.css';

input,
select,
textarea {
  appearance: none;
  border: 0.1rem solid var(--vads-color-base-dark);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--vads-color-base-darkest);
  display: block;
  font-size: 1rem;
  height: 2.625rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}
