@import './focusable.css';

:host(:not([uswds])) input,
:host(:not([uswds])) select,
:host(:not([uswds])) textarea {
  appearance: none;
  border: 0.1rem solid var(--color-gray);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--color-base);
  display: block;
  font-size: 1.6rem;
  height: 4.2rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}
