@import './focusable.css';

a {
  text-decoration: none;
  color: var(--vads-color-link);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: color, background-color, border-color;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: inherit;
}

a:visited {
  color: var(--vads-color-link-visited);
}
