@import 'variables';

:host([error][uswds]:not([error=''])) {
    border-left: 0.4rem solid $v3-color-error-dark; /* USWDS red-60v, $theme-color-error-dark */
    padding-left: 1rem;
    position: relative;
}

@media screen and (min-width: 1008px) {
    :host([error][uswds]:not([error=''])) {
        margin-left: -1.6rem;
    }
}
