$system-input-widths: (
  '2xs': 5ex,
  'xs': 9ex,
  'sm': 13ex,
  'small': 13ex,
  'md': 20ex,
  'medium': 20ex,
  'lg': 30ex,
  'xl': 40ex,
  '2xl': 50ex,
);

// TODO: Add this @use and remove the $system-input-widths map above
// when USWDS is updated to v3.11.0+. At that version, the 
// $system-input-widths map will be available in the uswds-core package.
// 
// @use 'uswds-core' as *;

:host .usa-input {
  @each $size, $width in $system-input-widths {
    &--#{$size} {
      max-width: $width;
    }
  }
}

/**
 * The va-sort component only supports the following width values:
 * md, medium, lg, xl
 */
:host .va-select__sort-container {
  @each $size in ('md', 'medium', 'lg', 'xl') {
    &--#{$size} {
      flex-basis: map-get($system-input-widths, $size);
    }
  }
}
