@import '~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables.scss';
@import 'functions';

:host([error]:not([error='']):not([uswds='false'])) {
    border-left: 0.4rem solid $vads-color-secondary-dark;
    padding-left: rem-override(1rem);
    position: relative;
}

:host([error]:not([error='']):not([uswds='false'])[use-forms-pattern='multiple']) {
    border-left: none;
}

:host([error]:not([error='']):not([uswds='false'])[use-forms-pattern='multiple']) {
    .input-wrap {
        border-left: 0.4rem solid $vads-color-secondary-dark;
        padding-left: rem-override(1rem);
        position: relative;
    }
}

@media screen and (min-width: 1008px) {
    :host([error]:not([error='']):not([uswds='false'])) {
        margin-left: -1.4rem;
    }
    :host([error]:not([error='']):not([uswds='false'])[use-forms-pattern='multiple']) {
        .input-wrap {
            margin-left: -1.6rem;
        }
    }
}

@media screen and (max-width: 1008px) { 
    :host([error]:not([error='']):not([uswds='false'])[use-forms-pattern='multiple']) {
        padding-left: 0;
    }
}