:host {
  display: block;
  font-size: 1.06rem;
  text-align: center;
}

.loading-indicator {
  display: block;
  height: 4rem;
  margin-top: 1rem;
}

.loading-indicator:after {
  content: ' ';
  display: inline-block;
  width: 2.1875rem;
  height: 2.1875rem;
  margin: 1px;
  border-radius: 50%;
  border: 8px solid var(--vads-color-primary);
  border-color: var(--vads-color-primary) transparent var(--vads-color-primary)
    transparent;
  animation: spin 1.5s linear infinite;
}

.loading-indicator.chromatic:after {
  animation: none;
}

.loading-indicator:focus {
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
