:host {
  display: block;
  text-align: center;
}

.loading-indicator {
  display: block;
  height: 6.4rem;
  margin-top: 1.6rem;
}

.loading-indicator:after {
  content: ' ';
  display: inline-block;
  width: 5.6rem;
  height: 5.6rem;
  margin: 1px;
  border-radius: 50%;
  border: 8px solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary)
    transparent;
  animation: spin 1.2s linear infinite;
}

.loading-indicator:focus {
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
