:host {
  display: block;
  font-size: 1.06rem;
  text-align: center;
}

.loading-indicator {
  display: block;
  height: 4rem;
  margin-top: 1rem;
}

.loading-indicator:after {
  content: ' ';
  display: inline-block;
  width: 2.1875rem;
  height: 2.1875rem;
  margin: 1px;
  border-radius: 50%;
  border: 8px solid var(--vads-color-primary);
  border-color: var(--vads-color-primary) transparent var(--vads-color-primary)
    transparent;
  animation: spin 1.5s linear infinite;
}

.loading-indicator.loading-indicator-inline {
  display: inline-block;
  height: unset;
  vertical-align: middle;
  margin: 0 .3rem;
}

.loading-indicator.loading-indicator-inline:after {
  width: .8rem;
  height: .8rem;
  border-width: .2rem;
}

.loading-indicator.chromatic:after {
  animation: none;
}

.loading-indicator:focus {
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
