@import '../../mixins/headers.css';

:host {
  display: block;
}

#header {
  margin-bottom: 20px;
}

va-accordion-item::part(accordion-content) {
  padding-top: 0;
}

va-checkbox-group {
  margin-top: 10px;
  &::part(legend) {
    font-weight: bold;
  }
  &::part(header) {
    font-family: var(--font-source-sans);
    font-size: 1.06rem;
    line-height: 1.3;
  }
}

#filter-buttons {
  margin-top: 25px;
  va-button {
    margin-bottom: 15px;
  }
}
