@use 'uswds-helpers/src/styles/usa-sr-only';

@import '../../mixins/headers.css';

:host {
  display: block;
}

#header {
  margin-bottom: 20px;
}

va-accordion-item::part(accordion-content) {
  padding-top: 0;
}

va-checkbox-group, va-radio {
  &::part(legend) {
    font-weight: bold;
  }
  &::part(header) {
    font-family: var(--font-source-sans);
    font-size: var(--font-size-md);
  }
}

.desktop-margin-top {
  margin-top: -10px !important;
}

.mobile-margin-top {
  margin-top: 10px;
}

#filter-buttons {
  margin-top: 25px;
  va-button {
    margin-bottom: 15px;
  }
}
