// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$formation-asset-path: '~@department-of-veterans-affairs/formation/assets';

@import '@department-of-veterans-affairs/formation/sass/base/_b-mixins.scss';
@import '@department-of-veterans-affairs/formation/sass/base/_b-variables.scss';
@import '@department-of-veterans-affairs/formation/sass/base/_b-breakpoints.scss';
@import '@department-of-veterans-affairs/formation/sass/site/_m-crisis-line.scss';
