@forward 'settings';
@use 'usa-alert/src/styles/usa-alert';

@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";
@import '../../mixins/focusable.css';

:host {
  display: block;
  position: relative;
}

// when component is used within va-banner
:host ::slotted([slot='headline']) {
  font-size: 21.28px; /* 1.33rem */
  margin-top: 0;
  margin-bottom: 8px; /* 0.5rem */
  font-family: var(--font-serif);
}

.va-alert-close:hover {
  color: var(--vads-color-base);
}

.va-alert-close {
  margin: 1rem;
  padding: 0;
  width: auto;
  color: var(--vads-color-base-darker);
  font-size: 1.40625rem;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

:host([closeable]:not([closeable='false'])) .usa-alert .usa-alert__body {
  padding-right: 3.563rem;
}

// Overriding USWDS' default success icon when using the 'continue' status
.usa-alert--continue.usa-alert--success .usa-alert__body::before {
  mask: none;
  background: transparent;
}

.va-alert__lock-icon {
  position: absolute;
  top: 12px;
  left: 24px;
}

.usa-alert--continue.usa-alert--success.usa-alert--slim .va-alert__lock-icon {
  position: absolute;
  top: 6px;
  left: 28px;
}

@media screen and (max-width: 64em) {
  .va-alert__lock-icon {
    left: 12px;
  }
  .usa-alert--continue.usa-alert--success.usa-alert--slim .va-alert__lock-icon {
    left: 12px;
  }
}
