@forward 'settings';
@use 'usa-alert/src/styles/usa-alert';
@use 'usa-site-alert/src/styles/usa-site-alert';
@use 'uswds-helpers/src/styles/usa-sr-only';
@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use '../../mixins/uswds-error-border.scss' as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";

@use '../../mixins/focusable.css';

:host {
  display: block;
  position: relative;
}

// when component is used within va-banner
:host ::slotted([slot='headline']) {
  font-size: 21.28px; /* 1.33rem */
  margin-top: 0;
  margin-bottom: 8px; /* 0.5rem */
  font-family: var(--font-serif);
  word-wrap: break-word;
}

.va-alert-close {
  padding: 6px;
  width: auto;
  color: var(--vads-color-base-darkest);
  font-size: 1.40625rem;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.va-alert-close:hover {
  color: var(--vads-color-base);
}

// shrink the close button's margins when 'slim' so it doesn't overflow
.usa-alert--slim .va-alert-close {
  margin: -0.25rem 0;
}

:host([closeable]:not([closeable='false'])) .usa-alert .usa-alert__body {
  padding-right: 3.563rem;
}

// Overriding USWDS' default success icon when using the 'continue' status
.usa-alert--continue.usa-alert--success .usa-alert__body::before {
  mask: none;
  background: transparent;
}

.va-alert__lock-icon {
  position: absolute;
  top: 12px;
  left: 24px;
}

.usa-alert--continue.usa-alert--success.usa-alert--slim .va-alert__lock-icon {
  position: absolute;
  top: 6px;
  left: 28px;
}

@media screen and (max-width: $desktop) {
  .va-alert__lock-icon {
    left: 12px;
  }
  .usa-alert--continue.usa-alert--success.usa-alert--slim .va-alert__lock-icon {
    left: 12px;
  }
}

.usa-site-alert .usa-alert.usa-alert--warning {
  background-color: var(--vads-color-warning-lighter);
  border-left-color: var(--vads-color-warning);
}

.usa-site-alert .usa-alert.usa-alert--success {
  background-color: var(--vads-color-success-lighter);
  border-left-color: var(--vads-color-success);
}

.usa-site-alert .usa-alert.usa-alert--error {
  background-color: var(--vads-color-error-lighter);
  border-left-color: var(--vads-color-error);
}
