
/* .usa-alert__heading */
va-alert[uswds] > h1, 
va-alert[uswds] > h2, 
va-alert[uswds] > h3, 
va-alert[uswds] > h4, 
va-alert[uswds] > h5, 
va-alert[uswds] > h6 {
  font-size: 21.28px; /* 1.33rem */
  line-height: .9;
  margin-top: 0;
  margin-bottom: 8px; /* 0.5rem */
}

/* .usa-alert__text */
/* va-alert[uswds] > p {
  margin-bottom: 0;
  margin-top: 0;
} */