@import '../../mixins/accessibility.css';

:host {
  display: block;
  background-color: var(--color-gray-lightest);
  position: relative;
}

:host([background-only='true']),
:host([background-only='']) {
  background-color: unset;
}

:host([full-width='true']),
:host([full-width='']) {
  border-top-style: solid;
  border-top-width: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

:host([full-width='true']) .va-alert-close,
:host([full-width='']) .va-alert-close {
  position: relative;
}

:host([status='warning']) {
  border-color: var(--color-gold);
}
:host([status='info']) {
  border-color: var(--color-primary-alt-dark);
}
:host([status='error']) {
  border-color: var(--color-secondary-dark);
}
:host([status='continue']),
:host([status='success']) {
  border-color: var(--color-green);
}

:host([full-width='']) div.alert,
:host([full-width='true']) div.alert {
  border-left: none;
  max-width: 1000px;
}

::slotted([slot='headline']) {
  font-size: 2rem !important;
  line-height: 26px !important;
  padding: 0 !important;
  margin: 0 !important;
}

div.alert {
  display: table;
  padding: 3.2rem 6.4rem 3.2rem 2.4rem;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

div.alert:not(.bg-only) {
  border-color: inherit;
  border-left-style: solid;
  border-left-width: 10px;
}

div.alert > i::before {
  display: flex;
  margin-right: 1.6rem;
}

div.body {
  padding-left: 0;
  padding-right: 0;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
::slotted(:not([slot])) {
  margin-top: 2rem;
}

.bg-only ::slotted(*) {
  margin-top: 0;
}

div.info > i::before {
  content: '\F05A';
}

div.continue > i::before {
  content: '\F023';
  color: var(--color-green);
}

div.success > i::before {
  content: '\F00C';
  color: var(--color-green);
}

div.warning > i::before {
  content: '\F071';
}

div.error > i::before {
  content: '\F06A';
  color: var(--color-secondary-dark);
}

div.alert.bg-only > i::before {
  content: '';
}

div.bg-only {
  border: none;
  padding: 2rem;
}

.info.bg-only {
  background-color: var(--color-primary-alt-lightest);
}
.continue.bg-only {
  background-color: var(--color-gray-lightest);
}
.success.bg-only {
  background-color: var(--color-green-lightest);
}
.warning.bg-only {
  background-color: var(--color-gold-lightest);
}
.error.bg-only {
  background-color: var(--color-secondary-lightest);
}

.va-alert-close {
  margin: 1.6rem;
  padding: 0;
  width: auto;
  color: var(--color-primary);
  font-size: 2.25rem;
  appearance: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.va-alert-close:hover {
  color: var(--color-primary-darker);
}

i {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
}
i.fa-times-circle::before {
  content: '\F057'; /* fa-times-circle*/
}
