@use "../../dist/tokens/scss/variables" as *;

// Our colors
$tokens-color-basic: (
  "base": $vads-color-base,
  "white": $vads-color-white,
  "black": $vads-color-black,
  "orange": false,
  "link-default": $vads-color-link,
  "warning-message": $vads-color-va-accent,
  "primary": $vads-color-primary,
  "primary-dark": $vads-color-primary-dark,
  "primary-darker": $vads-color-primary-darker,
  "primary-alt": $vads-color-primary-alt,
  "primary-alt-dark": $vads-color-primary-alt-dark,
  "primary-alt-darkest": $vads-color-primary-alt-darkest,
  "primary-alt-light": $vads-color-primary-alt-light,
  "primary-alt-lightest": $vads-color-primary-alt-lightest,
  "secondary": $vads-color-secondary,
  "secondary-dark": $vads-color-secondary-dark,
  "secondary-darkest": $vads-color-secondary-darkest,
  "secondary-light": $vads-color-secondary-light,
  "secondary-lightest": $vads-color-secondary-lightest,
);

$tokens-color-grayscale: (
  "gray": $vads-color-base-dark,
  "gray-dark": $vads-color-base-darker,
  "gray-medium": $vads-label-hint-text-color-on-light,
  "gray-light": $vads-color-base-light,
  "gray-light-alt": $vads-color-gray-light-alt,
  "gray-lighter": $vads-color-base-lighter,
  "gray-lightest": $vads-color-base-lightest,
  "gray-warm-dark": $vads-color-gray-warm-dark,
  "gray-warm-light": $vads-color-gray-warm-light,
  "gray-cool-light": $vads-color-gray-cool-light,
);

$tokens-color-tertiary: (
  "gold": $vads-color-warning,
  "gold-darker": $vads-color-warning-darker,
  "gold-light": $vads-color-action-focus-on-light,
  "gold-lighter": $vads-color-gold-lighter,
  "gold-lightest": $vads-color-gold-lightest,
  "green": $vads-color-success-dark,
  "green-darker": $vads-button-color-background-primary-alt-active-on-light,
  "green-light": $vads-color-green-light,
  "green-lighter": $vads-color-green-lighter,
  "green-lightest": $vads-color-success-lighter,
  "cool-blue": $vads-color-blue-cool,
  "cool-blue-light": $vads-color-blue-cool-light,
  "cool-blue-lightest": $vads-color-gray-warm-light,
);

$tokens-color-hub: (
  "hub-health-care": $vads-color-hub-health-care,
  "hub-education": $vads-color-hub-education,
  "hub-disability": $vads-color-hub-disability,
  "hub-careers": $vads-color-hub-careers,
  "hub-pension": $vads-color-hub-pension,
  "hub-housing": $vads-color-hub-housing,
  "hub-life-insurance": $vads-color-hub-life-insurance,
  "hub-burials": $vads-color-hub-burials,
  "hub-family-member": $vads-color-hub-family-member,
  "hub-service-member": $vads-color-hub-service-member,
);
