@use "../../dist/tokens/scss/variables" as *;

// Our colors
$tokens-color-basic: (
  "base": $color-base,
  "white": $color-white,
  "black": $color-black,
  "orange": false,
  "link-default": $color-link-default,
  "warning-message": $color-warning-message,
  "primary": $color-primary,
  "primary-dark": $color-primary-dark,
  "primary-darker": $color-primary-darker,
  "primary-alt": $color-primary-alt,
  "primary-alt-dark": $color-primary-alt-dark,
  "primary-alt-darkest": $color-primary-alt-darkest,
  "primary-alt-light": $color-primary-alt-light,
  "primary-alt-lightest": $color-primary-alt-lightest,
  "secondary": $color-secondary,
  "secondary-dark": $color-secondary-dark,
  "secondary-darkest": $color-secondary-darkest,
  "secondary-light": $color-secondary-light,
  "secondary-lightest": $color-secondary-lightest,
);

$tokens-color-grayscale: (
  "gray": $color-gray,
  "gray-dark": $color-gray-dark,
  "gray-medium": $color-gray-medium,
  "gray-light": $color-gray-light,
  "gray-light-alt": $color-gray-light-alt,
  "gray-lighter": $color-gray-lighter,
  "gray-lightest": $color-gray-lightest,
  "gray-warm-dark": $color-gray-warm-dark,
  "gray-warm-light": $color-gray-warm-light,
  "gray-cool-light": $color-gray-cool-light,
);

$tokens-color-tertiary: (
  "gold": $color-gold,
  "gold-darker": $color-gold-darker,
  "gold-light": $color-gold-light,
  "gold-lighter": $color-gold-lighter,
  "gold-lightest": $color-gold-lightest,
  "green": $color-green,
  "green-darker": $color-green-darker,
  "green-light": $color-green-light,
  "green-lighter": $color-green-lighter,
  "green-lightest": $color-green-lightest,
  "cool-blue": $color-blue-cool,
  "cool-blue-light": $color-blue-cool-light,
  "cool-blue-lighter": $color-blue-cool-lighter,
  "cool-blue-lightest": $color-blue-cool-lightest,
);

// TODO: Consider removing these since they aren't used
$tokens-color-hub: (
  "hub-health-care": $color-hub-health-care,
  "hub-education": $color-hub-education,
  "hub-disability": $color-hub-disability,
  "hub-careers": $color-hub-careers,
  "hub-pension": $color-hub-pension,
  "hub-housing": $color-hub-housing,
  "hub-life-insurance": $color-hub-life-insurance,
  "hub-burials": $color-hub-burials,
  "hub-family-member": $color-hub-family-member,
  "hub-service-member": $color-hub-service-member,
);
