@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-form/src/styles/usa-form';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-form-group/src/styles/usa-form-group';
@use 'usa-error-message/src/styles/usa-error-message';

@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use '../../mixins/uswds-error-border.scss' as *;
@use '../../mixins/form-field-error.scss' as *;
@import '../../mixins/focusable.css';
@mixin small-screen {
  va-combo-box, va-text-input {
    width: 100%;
    max-width: 100% !important;
    margin-top: 16px;
    flex: 0;
  }

  .va-input-telephone-wrapper {
    display: block;
  }
}

:host {
  display: block;
  margin-top: 24px;
}

va-text-input::part(label),
va-combo-box::part(label) {
  margin-top: 0;
}

div.input-wrap {
  max-width: var(--mobile-lg) !important;
}

fieldset {
  max-width: var(--mobile-lg) !important;
  container-name: component-wrapper;
  container-type: inline-size;
}

va-combo-box {
  flex: 1;
  min-width: 216px;
}

va-text-input {
  width: 20ch;
}

.va-input-telephone-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  width: 100%;
  max-width: var(--mobile-lg);
}

// fall back if container query not supported
@media (max-width: $mobile-lg) {
  @include small-screen;
}
