@use '../core-variables' as *;

@import "../../../dist/tokens/scss/variables.scss";
@import "../formation-overrides/variables";
@import "../mixins";

@import 'uswds-core/src/styles/mixins/typography/typeset';

a.vads-c-action-link--blue, a.vads-c-action-link--green, a.vads-c-action-link--white {
  &:before {
    background-image: url("#{$image-path}/arrow-right-white.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    left: 0;
    font-family: unset;
    font-weight: unset;
    font-size: unset;
  }
  font-weight: bold;
  padding: 4px 0 4px 38px;
  position: relative;
  display: inline-block;
}

a.vads-c-action-link--blue:before {
  background-color: $color-link-default;
}

a.vads-c-action-link--green:before {
  background-color: $color-green;
}

a.vads-c-action-link--white {
  color: $vads-color-white;

  &:before {
    background-image: url("#{$image-path}/arrow-right.svg");
    background-color: $vads-color-white;
    @include color-transition;
  }
}

a.vads-c-action-link--white:hover {
  color: $vads-color-action-focus-on-light;
  background-color: transparent;

  &:before {
    background-color: $vads-color-action-focus-on-light;
  }
}
