@use "../core-variables" as core-vars;
@import "../formation-overrides/variables";


.external-link-icon-black {
  background-image: url('#{core-vars.$image-path}/exit-icon.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 1em auto;
  padding-right: 1.2em;
  position: relative;
}