@forward 'settings';
@import '../../mixins/focusable.css';

$red-70v: #8b0a03;

$small-desktop-screen: 1008px;

.va-crisis-line-container {
  position: relative;
  margin: auto;
  background-color: var(--vads-color-secondary-dark);

  @media(min-width: $small-desktop-screen) {
    max-width: 60.938rem;
    background-color: transparent;
  }
}

a {
  color: var(--vads-color-link);
}

button.va-crisis-line {
  cursor: pointer;
  background-color: var(--vads-color-secondary-darkest);
  display: block;
  border-radius: 0;
  color: var(--vads-button-color-text-primary-alt-on-light);
  font-family: var(--font-source-sans);
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;

  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: background-color;

  &:focus {
    outline-offset: -2px;
  }

  &:hover, &:active {
    background-color: $red-70v;
    .va-crisis-line-icon {
      @media(min-width: $small-desktop-screen) {
        background-color: #b51d09;
      }
    }
  }

  @media(min-width: $small-desktop-screen) {
    width: auto;
    border-radius: 0 0 2.3px 2.3px;
    box-shadow: 0 2px 5px var(--vads-color-base);
  }
}

.va-crisis-line-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;


  @media(min-width: $small-desktop-screen) {
    text-align: left;
    justify-content: space-between;
  }
}

.va-crisis-line-icon {
  content: "";
  background: url(../../assets/VCL-icon-white.svg) no-repeat right 29%;
  background-size: 30px auto;
  background-position: 8px 8px;
  width: 40px;
  height: 36px;
  padding-right: 3px;

  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: background-color;

  @media (max-width: 480px) {
    display: none;
  }

  @media(min-width: $small-desktop-screen) {
    border-bottom-left-radius: 3.2px;
  }
}

.va-crisis-line-text {
  padding: 8px;
}

// Right-arrow on modal 'trigger'
.va-icon__right-arrow {
  position: relative;
  top: 2px;
}

// Modal icons
.va-clm__icon {
  position: relative;
  top: 12px;
  margin-right: 23px;
}

// Modal styles
.va-crisis-panel {
  color: var(--vads-color-base);
  &-body {
    max-height: 100%;
  }
  &-title {
    color: var(--vads-color-base);
    padding-left: 41px;
    background-image: url(../../assets/VCL-icon-white.svg) no-repeat left;
    background-position: left 5px;
    background-size: 32px auto;
  }
  &-list {
    list-style: none;
    padding: 0;
    > li {
      display: flex;
      min-height: 56px;
      margin-bottom: 0;
      border-top: 1px solid var(--vads-color-base-light);
      &:last-child {
        border-bottom: 1px solid var(--vads-color-base-light);
      }
      > a, > span {
        padding: 8px 0;
        align-self: center;
      }
    }
  }
  &-icon {
    color: var(--vads-color-base) !important;
    font-size: 26px;
    width: 46px;
    padding: 6.4px 4.8px;
    align-self: center;
    flex-shrink: 0;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    &.fa-mobile {
      font-size: 38px;
      padding: 2.4px 4.8px;
    }
  }
  &-close.va-modal-close {
    font-size: 2.5rem;
    color: var(--vads-color-link);
    padding-top: 0.063rem;
    &:hover {
      color: var(--vads-color-black);
      background-color: transparent;
    }
  }
}
