@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-error-message/src/styles/usa-error-message';

@use '../../mixins/uswds-error-border.scss' as *;
@use '../../mixins/focusable.css';
@use '../../mixins/headers.css';

:host {
  display: block;
  border: none;
  padding: 0;
  margin-top: 24px;

  .usa-hint {
    font-weight: normal;
  }
}
