@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-error-message/src/styles/usa-error-message';

@import '../../mixins/uswds-error-border.scss';

:host {
  display: block;
  border: none;
  padding: 0;
}

.usa-legend {
  color: #1B1B1B;
}
/* Original Component Style */

@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host(:not([uswds])) #error-message {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
}

:host(:not([uswds])) .required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

:host(:not([uswds])) legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
