@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host {
  display: block;
  border: none;
  padding: 0;
}

#error-message {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
}

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
