@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-form/src/styles/usa-form';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-error-message/src/styles/usa-error-message';

@import '../../mixins/uswds-error-border.scss';
@import '../../mixins/focusable.css';
@import '~@department-of-veterans-affairs/css-library/dist/elements.css';

:host {
  display: block;
  border: none;
  padding: 0;
}

:host([uswds]:not([uswds='false'])) {
  margin-top: 24px;
}

/* Original Component Styles. */

@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';
@import '../../mixins/headers.css';

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

:host(:not([uswds="true"],[uswds=""])) fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

:host(:not([uswds="true"],[uswds=""])) legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding-inline: 0;
}