@use "uswds-core" with ( 
  $theme-body-font-size: 4,
);

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-form/src/styles/usa-form';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-error-message/src/styles/usa-error-message';
@import '../../mixins/uswds-error-border.css';

:host {
  display: block;
  border: none;
  padding: 0;
}

.usa-hint, .usa-error-message {
  margin-bottom: 4px;
}

.usa-radio__label::before {
  border: 2px solid var(--color-bg-gray-cool-50);
}

@media (min-width: 30em) {
  .usa-form {
    max-width: 304px;
  }
}

/* Original Component Styles. */

@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

.hint-text {
  color: var(--color-gray);
}

:host(:not([uswds])) legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  margin-bottom: 1.2rem;
}