@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';

:host {
  display: block;
  border: none;
  padding: 0;
  /* This is to overwrite any previous inherited value */
  --item-tile-border: none;
  --item-tile-padding-y: 0;
  --item-tile-selected-border: none;
  --item-tile-selected-background: none;
}

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  margin-bottom: 1.2rem;
}

/* If `tile` is present and if it is *not* false */
:host([tile='true']),
:host([tile='']) {
  --item-tile-border: 2px solid var(--color-gray-light);
  --item-tile-padding-y: 1em;
  --item-tile-selected-border: 2px solid var(--color-primary-alt-darkest);
  --item-tile-selected-background: var(--color-gray-cool-light);
}
