@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-form/src/styles/usa-form';
@use 'usa-fieldset/src/styles/usa-fieldset';
@use 'usa-legend/src/styles/usa-legend';
@use 'usa-label/src/styles/usa-label';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-error-message/src/styles/usa-error-message';

@import '../../mixins/uswds-error-border.scss';
@import '../../global/formation_overrides';

:host {
  display: block;
  border: none;
  padding: 0;
}

:host([uswds]) {
  margin-top: 24px;
}

/* Original Component Styles. */

@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

:host(:not([uswds])) fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

:host(:not([uswds])) legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding-inline: 0;
}

:host legend :is(h1, h2, h3, h4, h5, h6) {
  display: inline;
  margin: 0px;
}

/* h6 remains as Source Sans Pro, everything else uses Bitter */
:host legend :is(h1, h2, h3, h4, h5) {
  font-family: var(--font-serif);
}
