@import '../../mixins/accessibility.css';

:host {
  display: block;
  border: none;
  padding: 0;
}

:host([error]) {
  border-left: 4px solid var(--color-secondary-dark);
  padding-left: 1.8rem;
  position: relative;
}

:host([error=""]) {
  border-left: none;
  padding-left: initial;
}

.error-message {
  color: var(--color-secondary-dark);
  display: block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.required-span {
  color: var(--color-secondary-dark);
  margin: 0 0.35em;
}

legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  margin-bottom: 1em;
}
