@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';

:host {
  display: block;
  border: none;
  padding: 0;
}

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35rem;
}

.hint-text {
  color: var(--color-gray);
}

legend {
  display: block;
  max-width: 46rem;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
