@import '../../mixins/inputs.css';
@import '../../mixins/accessibility.css';

:host {
  display: block;
}

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35em;
}

:host([error]:not([error=''])) {
  border-left: 4px solid var(--color-secondary-dark);
  margin-top: 3rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  position: relative;
  right: 1.9rem;
}

:host([error]:not([error=''])) label {
  margin-top: 0;
}

:host([error]:not([error=''])) label,
:host([error]:not([error=''])) > span {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}

:host([error]:not([error=''])) > span {
  color: var(--color-secondary-dark);
  padding-bottom: 3px;
  padding-top: 3px;
}

:host([error]:not([error=''])) select {
  border: 4px solid var(--color-secondary-dark);
}

::slotted(option) {
  display: none;
}

label {
  margin-top: 3rem;
  max-width: 46rem;
  display: block;
}

select {
  background-color: var(--color-white);
  background-image: url('../../assets/arrow-both.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding: 0.8rem 3rem 0.8rem 0.8em;
}
