@forward 'settings';

@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-select/src/styles/usa-select';

@import '../../mixins/uswds-error-border.scss';

:host(:not([uswds='false'])) {
  color: var(--vads-color-base);
}

:host {
  display: block;
  font-family: var(--font-source-sans);
}

:host(:not([uswds='false'])[inert]) select {
  border: 0;
  background: none;
}

.usa-select {
  margin-bottom: 0;
}

/** Original Component Style **/

@import '../../mixins/inputs.css';
@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

span.required {
  color: var(--vads-color-secondary-dark);
  margin: 0 0.35em;
}

:host([error]:not([error=''])[uswds='false']) label,
:host([error]:not([error=''])[uswds='false']) > span {
  display: block;
  font-size: 1.6rem;
}

:host([error]:not([error=''])[uswds='false']) > span {
  color: var(--vads-color-secondary-dark);
}

::slotted(option) {
  display: none;
}

:host([uswds='false']) label {
  margin-top: 3rem;
  max-width: 46rem;
  display: block;
}

:host([uswds='false']) select {
  background-color: var(--vads-color-white);
  background-image: url('../../assets/arrow-both.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  font-family: var(--font-source-sans);
  padding: 0.8rem 3rem 0.8rem 0.7em;
}