@forward 'settings';

@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use 'uswds-helpers/src/styles/usa-sr-only';
@use 'usa-icon/src/styles/usa-icon';
@use 'usa-label/src/styles/usa-label';
@use 'usa-input/src/styles/usa-input';
@use 'usa-error-message/src/styles/usa-error-message';
@use 'usa-hint/src/styles/usa-hint';
@use 'usa-select/src/styles/usa-select';

@use '../../mixins/uswds-input-width.scss';
@use '../../mixins/uswds-error-border.scss' as *;
@use '../../mixins/header-labels.scss';
@import '../../mixins/focusable.css';

:host {
  display: block;
  font-family: var(--font-source-sans);
  color: var(--vads-color-base);
}

:host(.va-sort__select) {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    column-gap: 0.25rem;
  }

  .usa-label {
    @media (min-width: $tablet) {
      align-self: center;
      margin-top: 0.4rem;
    }
  }
}

:host([inert]) select {
  border: 0;
  background: none;
}

.usa-select {
  margin-bottom: 0;
}

::slotted(option),
::slotted(optgroup) {
  display: none;
}

.va-select--full-width {
  max-width: 100%; // Needed in order to override USWDS default max-width of 30rem
  width: 100%;
}