@import '../../mixins/inputs.css';
@import '../../mixins/accessibility.css';
@import '../../mixins/form-field-error.css';
@import '../../mixins/hint-text.css';

:host {
  display: block;
}

.required {
  color: var(--color-secondary-dark);
  margin: 0 0.35em;
}

:host([error]:not([error=''])) label,
:host([error]:not([error=''])) > span {
  display: block;
  font-size: 1.6rem;
}

:host([error]:not([error=''])) > span {
  color: var(--color-secondary-dark);
}

::slotted(option) {
  display: none;
}

label {
  margin-top: 3rem;
  max-width: 46rem;
  display: block;
}

select {
  background-color: var(--color-white);
  background-image: url('../../assets/arrow-both.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  font-family: var(--font-source-sans);
  padding: 0.8rem 3rem 0.8rem 0.7em;
}
