@import '../../mixins/links.css';

:host {
  display: block;
  border: 1px solid var(--vads-color-base-light);
  border-radius: 4px;
  padding: 1em;
}
@media (min-width: 768px) {
  :host {
    border: none;
    padding: 1em 1em 1em 0;
  }
}

dt {
  font-family: var(--font-serif);
  font-size: 2rem;
  margin: 0.4em 0em;
}

dd {
  margin: 0.4em 0em;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
}

dd a {
  display: flex;
  align-items: baseline;
  padding: 0.5em;
  line-height: 1.5em;
  max-width: 285px;
}

a:active {
  background-color: var(--vads-color-base-lighter);
}

va-icon {
  margin-right: 8px;
}