@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/uswds-typography.css";
@import '../../mixins/links.css';

:host {
  display: block;
  border: 1px solid var(--vads-color-base-light);
  border-radius: 4px;
  padding: 1em;
}

@media (min-width: 768px) {
  :host {
    border: none;
    padding: 1em 1em 1em 0;
  }
}

#on-this-page {
  font-family: var(--font-serif);
  font-size: 1.25rem;
  margin: 0.4em 0em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 0.5em;
  max-width: 372px;
}

li a {
  line-height: 1.5em;
  display: flex;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Needed to override the background color from the links mixin */
li a:hover {
  background-color: transparent;
}

va-icon {
  margin-right: 4px;
  padding-top: 4px;
  line-height: 1;
}