// This is a copy of the entire ~uswds/src/stylesheets/components/alerts.scss file
// so that we can convert the rem values for USWDS v3.

/*
  Original: @import "~uswds/src/stylesheets/components/alerts";
  ***THIS IS USWDS v1***
*/
@use 'sass:map';
@use 'sass:color';
@use '../../override-function' as *;
@use '../../../../dist/tokens/scss/variables.scss' as tokens;
@use '../variables' as fo-vars;

// Alert variables ---------- //
$usa-custom-alerts: () !default;
$usa-custom-alerts-bar: () !default;

$usa-alerts: (
  success: tokens.$vads-color-success-lighter,
  warning: tokens.$vads-color-gold-lightest,
  error: tokens.$vads-color-secondary-lightest,
  info: tokens.$vads-color-primary-alt-lightest
);

$usa-alerts-bar: (
  success: tokens.$vads-color-success-dark,
  warning: tokens.$vads-color-warning,
  error: tokens.$vads-color-secondary,
  info: tokens.$vads-color-info
);

$alerts: map.merge($usa-alerts, $usa-custom-alerts);
$alerts-bar: map.merge($usa-alerts-bar, $usa-custom-alerts-bar);

$h-padding: fo-vars.$spacing-medium;
$bar-size: fo-vars.$spacing-small;
$left-padding: $h-padding + $bar-size;
$icon-size: scale-rem(3rem);

.usa-alert {
  background-color: fo-vars.$color-gray-lightest;
  background-position: $h-padding $h-padding;
  background-repeat: no-repeat;
  background-size: scale(5.2rem); // TODO abrituary number based on svg size maybe?
  padding-bottom: scale-rem(1.4rem);
  padding-left: $left-padding;
  padding-right: $h-padding;
  padding-top: $h-padding;
  position: relative;

  &::before {
    background-color: color.adjust(fo-vars.$color-gray-lightest, $lightness: -40%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $bar-size;
  }

  a {
    color: fo-vars.$color-primary-darker;

    &:focus,
    &:hover {
      color: tokens.$vads-color-primary-darker;
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: fo-vars.$spacing-small;
    padding-left: fo-vars.$spacing-small;
  }
}

.usa-alert-slim {
  background-position: $h-padding fo-vars.$spacing-small;
  padding-bottom: fo-vars.$spacing-small;
  padding-top: fo-vars.$spacing-small;

  .usa-alert-text:only-child {
    margin-bottom: fo-vars.$spacing-x-small;
    padding-top: fo-vars.$spacing-x-small;
  }
}

.usa-alert-icon {
  display: table-cell;
  padding-right: fo-vars.$spacing-small;
}

.usa-alert-body {
  display: table-cell;
  vertical-align: top;
}

.usa-alert-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.usa-alert-text {
  font-family: tokens.$font-family-sans;
  margin-bottom: 0;
  margin-top: 0;
}

.usa-alert-text:only-child {
  margin-bottom: fo-vars.$spacing-small;
  padding-top: fo-vars.$spacing-x-small;
}

@each $name, $bgcolor in $alerts {
  .usa-alert-#{$name} {
    background-color: $bgcolor;
    background-image: url(~@department-of-veterans-affairs/css-library/dist/img/#{$name}.png);
    background-image: url(~@department-of-veterans-affairs/css-library/dist/img/#{$name}.svg);

    &::before {
      background-color: map.get($alerts-bar, $name);
    }

    .usa-alert-body {
      padding-left: $icon-size + $h-padding;
    }
  }
}

.usa-alert-no_icon {
  background-image: none;
}

.usa-alert-paragraph {
  width: fo-vars.$text-max-width;
}

// Deprecated
.usa-alert {
  margin-top: 1.5em; // TODO deprecate
}
