// This is a copy of the entire ~uswds/src/stylesheets/components/sidenav.scss file
// so that we can convert the rem values for USWDS v3.

/*
  Original: @import "~uswds/src/stylesheets/components/side-nav";
  ***THIS IS USWDS v1***
*/

@use '../../override-function' as *;
@use '../../../../dist/tokens/scss/variables.scss' as tokens;
@use "../../mixins" as *;
@use '../core/utilities' as util;
@use '../variables' as fo-vars;

.usa-sidenav-list {
    @include util.usa-sidenav-list;
    border-bottom: 1px solid;
    border-top: 1px solid;
  
    @include media(tokens.$large-screen) {
      border-bottom: none;
      border-top: none;
    }
  
    .usa-grid & {
      @include margin(null scale-rem(-1.5rem) null scale-rem(-1.5rem));

      @include media(tokens.$medium-screen) {
        @include margin(null 0);
      }
    }
  }
  
  .usa-sidenav-sub_list {
    @include util.usa-sidenav-sublist;
  }
  
  .usa-layout-docs-sidenav {
    padding-top: scale-rem(2.4rem);
  
    @include media(tokens.$large-screen) {
      padding-top: 0;
    }
  }
  