name: 'Chromatic'

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, labeled, unlabeled]
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  chromatic-deployment:
    # Run if it's a push to main OR is a PR NOT a draft OR a PR that has the 'run chromatic workflow' label
    if: github.ref == 'refs/heads/main' || github.event.pull_request.draft == false || contains(github.event.pull_request.labels.*.name, 'run chromatic workflow')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
      
      - name: Get Puppeteer version
        id: puppeteer-version
        run: |
          echo "version=$(node -p "require('./packages/web-components/package.json').devDependencies.puppeteer")" >> $GITHUB_OUTPUT
      
      - name: Cache Puppeteer browsers
        id: puppeteer-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/puppeteer
          key: puppeteer-${{ runner.os }}-${{ steps.puppeteer-version.outputs.version }}
      
      - name: Install dependencies
        run: yarn install --immutable
      
      - name: Install Puppeteer browsers
        if: steps.puppeteer-cache.outputs.cache-hit != 'true'
        run: node ./node_modules/puppeteer/install.js
      
      - name: Cache build outputs
        uses: actions/cache@v4
        with:
          path: |
            packages/react-components/dist
            packages/web-components/dist
            packages/web-components/loader
            packages/component-library/dist
          key: build-cache-${{ runner.os }}-${{ hashFiles('packages/*/src/**', 'packages/*/package.json') }}
          restore-keys: |
            build-cache-${{ runner.os }}-
      
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      
      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          workingDir: packages/storybook
          autoAcceptChanges: "main"
          buildScriptName: build-storybook
          exitZeroOnChanges: true
          exitOnceUploaded: true
          skip: ${{ github.event.pull_request.draft == true && !contains(github.event.pull_request.labels.*.name, 'run chromatic workflow') }}
