name: 'Chromatic'

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, labeled, unlabeled]
  push:
    branches:
      - main

jobs:
  chromatic-deployment:
    # Run if it's a push to main OR is a PR NOT a draft OR a PR that has the 'run chromatic workflow' label
    if: github.ref == 'refs/heads/main' || github.event.pull_request.draft == false || contains(github.event.pull_request.labels.*.name, 'run chromatic workflow')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
      - run: yarn install
      - name: Install dependencies in react-components
        run: yarn install
        working-directory: packages/react-components
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      - name: Publish to Chromatic
        uses: chromaui/action@v13.3.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          onlyChanged: true
          workingDir: packages/storybook
          autoAcceptChanges: "main"
