# Workflow name
name: 'Chromatic'

# Event for the workflow
on: push

# List of jobs
jobs:
  chromatic-deployment:
    # Operating System
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - run: yarn install
      - name: Install dependencies in react-components
        run: yarn install
        working-directory: packages/react-components
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      - name: Publish to Chromatic
        run: yarn chromatic storybook build --project-token=${{ secrets.CHROMATIC_PROJECT_TOKEN }} --only-changed=true
        working-directory: packages/storybook
        env:
          STORYBOOK_BUILD_TIMEOUT: 1000
          # projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
       

