name: "Disallow Zenhub Links"
on:
  pull_request:
    types:  [opened, edited, reopened, synchronize]

jobs:
  check_pr:
    runs-on: ubuntu-latest
    steps:
    - name: Disallow zenhub links
      uses: JJ/github-pr-contains-action@releases/v2
      with:
        github-token: ${{github.token}}
        bodyDoesNotContain: "zenhub.com"
        bodyContains: ''
        diffContains: ''
        filesChanged: 1
        linesChanged: 1