# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main, community-branch]
  pull_request:
    branches: [main, community-branch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable

      - name: Test react-components
        run: yarn test
        working-directory: packages/react-components

      - name: Test design-system-dashboard-cli
        run: yarn test
        working-directory: packages/design-system-dashboard-cli

      - name: Test web-components
        run: yarn test
        working-directory: packages/web-components
