# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - name: Check Yarn version
        run: yarn -v
      - run: yarn install
      - name: Install dependencies in react-components
        run: yarn install
        working-directory: packages/react-components
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - name: Install dependencies in web-components
        run: yarn install
        working-directory: packages/web-components
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspaces foreach --all -v run test
