# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main, community-branch]
  pull_request:
    branches: [main, community-branch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: 22.x
          cache: 'yarn'
      - run: yarn install
      
      - name: Install Puppeteer browsers
        run: |
          npx puppeteer browsers install chrome
          npx puppeteer browsers install chrome-headless-shell

      - name: Test react-components
        run: |
          yarn install
          yarn test
        working-directory: packages/react-components

      - name: Test design-system-dashboard-cli
        run: |
          yarn install
          yarn test
        working-directory: packages/design-system-dashboard-cli

      - name: Test web-components
        run: |
          yarn install
          yarn test
        working-directory: packages/web-components
