name: Build storybook & deploy
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bucket: [dev-design.va.gov, staging-design.va.gov, design.va.gov]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      
      - name: Cache build outputs
        uses: actions/cache@v4
        with:
          path: |
            packages/react-components/dist
            packages/web-components/dist
            packages/web-components/loader
            packages/component-library/dist
          key: build-cache-${{ runner.os }}-${{ hashFiles('packages/*/src/**/*', 'packages/*/package.json') }}
          restore-keys: |
            build-cache-${{ runner.os }}-
      
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      
      - name: Cache Storybook build
        id: storybook-cache
        uses: actions/cache@v4
        with:
          path: packages/storybook/storybook-static
          key: storybook-${{ runner.os }}-${{ hashFiles('packages/storybook/**/*', 'packages/*/dist/**/*') }}
      
      - name: Publish Storybook
        if: steps.storybook-cache.outputs.cache-hit != 'true'
        run: yarn build-storybook
        working-directory: packages/storybook
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-gov-west-1'
      - name: S3 Sync Storybook build
        run: |
          aws s3 sync ./packages/storybook/storybook-static s3://${{ matrix.bucket }}/storybook --acl public-read --follow-symlinks --delete
