name: Yarn publish

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC trusted publishing
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-gov-west-1'

      # Ensure npm 11.5.1 or later is installed for trusted publishing support
      - name: Update npm
        run: npm install -g npm@latest

      - run: yarn install
      - name: Install dependencies in react-components
        run: yarn install
        working-directory: packages/react-components
      - name: Install dependencies in css-library
        run: yarn install
        working-directory: packages/css-library
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build-bindings
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      - run: yarn workspace @department-of-veterans-affairs/css-library run build
      - name: Publish packages
      - run: yarn workspaces foreach --all --verbose --no-private npm publish --access public --tolerate-republish