name: Yarn publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: 22.x
          cache: 'yarn'
      - run: yarn install --ignore-scripts
      - name: Install dependencies in react-components
        run: yarn install --ignore-scripts
        working-directory: packages/react-components
      - name: Install dependencies in css-library
        run: yarn install --ignore-scripts
        working-directory: packages/css-library
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build-bindings
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      - run: yarn workspace @department-of-veterans-affairs/css-library run build
      - run: yarn workspaces foreach --all --verbose --no-private npm publish --access public --tolerate-republish
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.VA_DST_NPM_TOKEN }}
