name: Yarn publish

on:
  release:
    types: [published]
  pull_request:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
        cache: 'yarn'
    - run: yarn install
    - name: Install dependencies in react-components
      run: yarn install
      working-directory: packages/react-components
    - run: yarn workspace @department-of-veterans-affairs/react-components run build
    - run: yarn workspace @department-of-veterans-affairs/web-components run build
    - run: yarn workspace @department-of-veterans-affairs/component-library run build
    - run: yarn workspaces foreach --verbose --no-private npm publish --access public
      env:
        YARN_NPM_AUTH_TOKEN: ${{ secrets.YARN_NPM_AUTH_TOKEN }}
