name: Yarn publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: 'yarn'
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-gov-west-1'

      - name: Get bot token from Parameter Store
        uses: marvinpinto/action-inject-ssm-secrets@v1.2.1
        with:
          ssm_parameter: /devops/VA_VSP_BOT_NPM_TOKEN
          env_variable_name: VA_VSP_BOT_NPM_TOKEN

      - run: yarn install
      - name: Install dependencies in web-components
        run: yarn install
        working-directory: packages/web-components
      - run: yarn workspace @department-of-veterans-affairs/web-components run build
      - run: yarn workspace @department-of-veterans-affairs/web-components run build-bindings
      - name: Install dependencies in react-components
        run: yarn install
        working-directory: packages/react-components
      - run: yarn workspace @department-of-veterans-affairs/react-components run build
      - run: yarn workspace @department-of-veterans-affairs/component-library run build
      - run: yarn workspaces foreach --verbose --no-private npm publish --access public --tolerate-republish
        env:
          YARN_NPM_AUTH_TOKEN: ${{ env.VA_VSP_BOT_NPM_TOKEN }}
