name: Release and Publish Test

on:
  push:
    branches:
      - rm-release-please-exp4

jobs:
  release-please-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{secrets.RELEASE_ACTION_TOKEN}}
          release-type: node
          monorepo-tags: true
          command: manifest
          target-branch: rm-release-please-exp4
