@use 'uswds-core/src/styles/mixins/typography/usa-list' as *;
@use 'uswds-core/src/styles/mixins/typography/unstyled-list' as *;

ul, ol {
    @include usa-list;

    li {
        @include usa-list-item;
    }
}

// Unstyled lists
.usa-unstyled-list {
    @include unstyled-list;
}